<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamc.efactory.dao.MqmsSalesPointMapper">

    <select id="selectSalesPointInfor"  resultType="java.lang.Object" >
    SELECT `sales_point_area` FROM `mqms_sales_point`
    WHERE  `sales_point_code` = #{salesPointCode}
</select>
    <select id="selectSalesNameInfor"  resultType="java.lang.String">
        SELECT `sales_point_name` FROM `mqms_sales_point`
        WHERE  `sales_point_area` = #{salesPointArea}
    </select>
    <select id="selectSalesArea"  resultType="java.lang.String">
        SELECT `sales_point_area` FROM `mqms_sales_point`
        WHERE  `sales_point_name` = #{salesPointName}
    </select>
    <delete id="deleteSalesPointById"  >
        DELETE  FROM `mqms_sales_point`
        WHERE  `id` = #{id}
    </delete>

    <select id="searchSalesPointInfor"  resultType="java.util.HashMap" >
        SELECT * FROM `mqms_sales_point`
        WHERE `sales_point_name`  like concat('%',#{salesPointName},'%') and
              `sales_point_area`  like concat('%',#{salesPointArea},'%') and
              `sales_point_code`  like concat('%',#{salesPointCode},'%')
    </select>
    <select id="searchDifferentSalesPointArea"  resultType="java.lang.String" >
        SELECT DISTINCT `sales_point_area` FROM `mqms_sales_point`
    </select>

</mapper>