<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamc.efactory.dao.MqmsSalesMapper">


    <resultMap type="com.gamc.efactory.model.dataObject.MqmsSales" id="MqmsSalesMap">
        <result property="salesId" column="sales_id"/>
        <result property="vinCode" column="vin_code"/>
        <result property="salesCarType" column="sales_car_type"/>
        <result property="salesCarTypeDetail" column="sales_car_type_detail"/>
        <result property="salesCarTypeCn" column="sales_car_type_cn"/>
        <result property="dealerCode" column="dealer_code"/>
        <result property="dealerName" column="dealer_name"/>
        <result property="produceDate" column="produce_date"/>
        <result property="firstPinDate" column="first_pin_date"/>
        <result property="secondPinDate" column="second_pin_date"/>
        <result property="state" column="state"/>
        <result property="mtoc" column="mtoc"/>
        <result property="carType" column="car_type"/>
        <result property="transmissionCode" column="transmission_code"/>
        <result property="factoryCode" column="factory_code"/>
        <result property="factoryArea" column="factory_area"/>
        <result property="engShortCode" column="eng_short_code"/>
        <result property="engType" column="eng_type"/>
        <result property="engSeries" column="eng_series"/>
        <result property="salesArea" column="sales_area"/>
        <result property="salesYear" column="sales_year"/>
        <result property="salesMonth" column="sales_month"/>
        <result property="tranShortCode" column="tran_short_code"/>
        <result property="tranType" column="tran_type"/>
        <result property="tranSeries" column="tran_series"/>
        <result property="carShortCode" column="car_short_code"/>
        <result property="carModel" column="car_model"/>
        <result property="carModelCode" column="car_model_code"/>
        <result property="applierId" column="applier_id"/>
        <result property="applierName" column="applier_name"/>
        <result property="applyTime" column="apply_time"/>
    </resultMap>

    <select id="selectSecondSalesCount"  resultType="java.lang.Integer" >
        SELECT COUNT(*) FROM `mqms_sales`
        WHERE  `eng_type` = #{engType}
        AND  `second_pin_date` &gt;= #{beginData}
        AND  `second_pin_date` &lt;= #{endData}
    </select>
    <select id="selectTranSecondSalesCount"  resultType="java.lang.Integer" >
        SELECT COUNT(*) FROM `mqms_sales`
        WHERE  `tran_type` = #{tranType}
        AND  `second_pin_date` &gt;= #{beginData}
        AND  `second_pin_date` &lt;= #{endData}
    </select>
    <select id="selectCarMutilSalesCount"  resultType="java.lang.Integer" >
        SELECT COUNT(*) FROM `mqms_sales`
        WHERE  `car_type` = #{carType}
        AND  `second_pin_date` &gt;= #{beginData}
        AND  `second_pin_date` &lt;= #{nextData}
        AND  `produce_date`  &lt;=  #{endData}
    </select>
    <select id="selectByVinCode"  resultMap="MqmsSalesMap" >
        SELECT * FROM `mqms_sales`
        WHERE  `vin_code` = #{vin_code}
    </select>
    <select id="selectVinCodeCount"  resultType="java.lang.Integer" >
        SELECT COUNT(*) FROM `mqms_sales`
        WHERE  `vin_code` = #{vin_code}
    </select>
    <select id="selectCountBySalesArea"  resultType="java.lang.Integer" >
        SELECT COUNT(*) FROM `mqms_sales`
        WHERE  `sales_area` = #{salesArea}
    </select>
    <select id="querryFailureMonthCount" resultType="java.lang.Integer">
        SELECT count(*) FROM `mqms_sales`
        WHERE  `produce_date` &gt;= #{beginDate} AND `produce_date` &lt;= #{endDate}
    </select>
    <update id="updateByVinCode">
        UPDATE `mqms_sales`
        SET
        <trim suffixOverrides=",">
            <if test="vinCode != null and vinCode!=''">
                `vin_code` = #{vinCode},
            </if>
            <if test="salesCarType != null and salesCarType!=''">
                `sales_car_type` = #{salesCarType},
            </if>
            <if test="salesCarTypeDetail != null and salesCarTypeDetail!=''">
                `sales_car_type_detail` = #{salesCarTypeDetail},
            </if>
            <if test="salesCarTypeCn != null and salesCarTypeCn!=''">
                `sales_car_type_cn` = #{salesCarTypeCn},
            </if>
            <if test="dealerCode != null and dealerCode!=''">
                `dealer_code` = #{dealerCode},
            </if>
            <if test="dealerName != null and dealerName!=''">
                `dealer_name` = #{dealerName},
            </if>
            <if test="produceDate != null and produceDate!=''">
                `produce_date` = #{produceDate},
            </if>
            <if test="firstPinDate != null and firstPinDate!=''">
                `first_pin_date` = #{firstPinDate},
            </if>
            <if test="secondPinDate != null and secondPinDate!=''">
                `second_pin_date` = #{secondPinDate},
            </if>
            <if test="state != null and state!=''">
                `state` = #{state},
            </if>
            <if test="mtoc != null and mtoc!=''">
                `mtoc` = #{mtoc},
            </if>
            <if test="carType != null and carType!=''">
                `car_type` = #{carType},
            </if>
            <if test="engCode != null and engCode!=''">
                `eng_code` = #{engCode},
            </if>
            <if test="transmissionCode != null and transmissionCode!=''">
                `transmission_code` = #{transmissionCode},
            </if>
            <if test="factoryCode != null and factoryCode!=''">
                `factory_code` = #{factoryCode},
            </if>
            <if test="factoryArea != null and factoryArea!=''">
                `factory_area` = #{factoryArea},
            </if>
            <if test="engShortCode != null and engShortCode!=''">
                `eng_short_code` = #{engShortCode},
            </if>
            <if test="engType != null and engType!=''">
                `eng_type` = #{engType},
            </if>
            <if test="engSeries != null and engSeries!=''">
                `eng_series` = #{engSeries},
            </if>
            <if test="salesArea != null and salesArea!=''">
                `sales_area` = #{salesArea},
            </if>
            <if test="salesYear != null and salesYear!=''">
                `sales_year` = #{salesYear},
            </if>
            <if test="salesMonth != null and salesMonth!=''">
                `sales_month` = #{salesMonth},
            </if>
            <if test="tranShortCode != null and tranShortCode!=''">
                `tran_short_code` = #{tranShortCode},
            </if>
            <if test="tranType != null and tranType!=''">
                `tran_type` = #{tranType},
            </if>
            <if test="tranSeries != null and tranSeries!=''">
                `tran_series` = #{tranSeries},
            </if>
            <if test="carShortCode != null and carShortCode!=''">
                `car_short_code` = #{carShortCode},
            </if>
            <if test="carModel != null and carModel!=''">
                `car_model` = #{carModel},
            </if>
            <if test="carModelCode != null and carModelCode!=''">
                `car_model_code` = #{carModelCode},
            </if>
            <if test="applierId != null">
                `applier_id` = #{applierId},
            </if>
            <if test="applierName != null and applierName!=''">
                `applier_name` = #{applierName},
            </if>
            <if test="applyTime != null and applyTime!=''">
                `apply_time` = #{applyTime},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
            `vin_code` = #{vinCode} and
        </trim>
    </update>
</mapper>