<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamc.efactory.dao.MqmsMarketBulletinMapper">

    <select id="salesEngFailureFDJCount" resultType="java.lang.Integer">
        SELECT count(*) FROM `mqms_market_bulletin`
        WHERE
         `failure_date` LIKE  concat(#{failureDate},'%')
    </select>
    <select id="salesEngFailureSTCount" resultType="java.lang.Integer">
        SELECT count(*) FROM `mqms_market_bulletin`
        WHERE
        `failure_date` LIKE  concat(#{failureDate},'%') AND `controversy_with_ST`= #{yesOrNo}
    </select>
</mapper>