<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamc.efactory.dao.MqmsVoucherRawMapper">
    <select id="selectByQualityFeedbackCode"  resultType="java.lang.Integer" >
        SELECT COUNT(*) FROM `mqms_voucher_raw`
        WHERE  `quality_feedback_code` = #{quality_feedback_code}
    </select>
    <update id="updateByQualityFeedbackCode">
        UPDATE `mqms_voucher_raw`
        SET
        <trim suffixOverrides=",">
            <if test="qualityFeedbackCode != null and qualityFeedbackCode!=''">
                `quality_feedback_code` = #{qualityFeedbackCode},
            </if>
            <if test="voucherCode != null and voucherCode!=''">
                `voucher_code` = #{voucherCode},
            </if>
            <if test="dealerCode != null and dealerCode!=''">
                `dealer_code` = #{dealerCode},
            </if>
            <if test="dealerName != null and dealerName!=''">
                `dealer_name` = #{dealerName},
            </if>
            <if test="dealerShortName != null and dealerShortName!=''">
                `dealer_short_name` = #{dealerShortName},
            </if>
            <if test="theme != null and theme!=''">
                `theme` = #{theme},
            </if>
            <if test="vinCode != null and vinCode!=''">
                `vin_code` = #{vinCode},
            </if>
            <if test="vehicleType != null and vehicleType!=''">
                `vehicle_type` = #{vehicleType},
            </if>
            <if test="partsName != null and partsName!=''">
                `parts_name` = #{partsName},
            </if>
            <if test="firstLevelName != null and firstLevelName!=''">
                `first_level_name` = #{firstLevelName},
            </if>
            <if test="partsShortNameSpecPneno != null and partsShortNameSpecPneno!=''">
                `parts_short_name_spec_pneno` = #{partsShortNameSpecPneno},
            </if>
            <if test="manufactureDate != null and manufactureDate!=''">
                `manufacture_date` = #{manufactureDate},
            </if>
            <if test="salesFailureTime != null and salesFailureTime!=''">
                `sales_failure_time` = #{salesFailureTime},
            </if>
            <if test="symptomName != null and symptomName!=''">
                `symptom_name` = #{symptomName},
            </if>
            <if test="symptomContent != null and symptomContent!=''">
                `symptom_content` = #{symptomContent},
            </if>
            <if test="manCost != null">
                `man_cost` = #{manCost},
            </if>
            <if test="partsCost != null">
                `parts_cost` = #{partsCost},
            </if>
            <if test="partsManagerCost != null">
                `parts_manager_cost` = #{partsManagerCost},
            </if>
            <if test="outgoingCost != null">
                `outgoing_cost` = #{outgoingCost},
            </if>
            <if test="maintainCost != null">
                `maintain_cost` = #{maintainCost},
            </if>
            <if test="otherCost != null">
                `other_cost` = #{otherCost},
            </if>
            <if test="totalCost != null">
                `total_cost` = #{totalCost},
            </if>
            <if test="importantLevel != null and importantLevel!=''">
                `important_level` = #{importantLevel},
            </if>
            <if test="transmissionType != null and transmissionType!=''">
                `transmission_type` = #{transmissionType},
            </if>
            <if test="newPartsBlindingNum != null and newPartsBlindingNum!=''">
                `new_parts_blinding_num` = #{newPartsBlindingNum},
            </if>
            <if test="submitDate != null and submitDate!=''">
                `submit_date` = #{submitDate},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
            `quality_feedback_code` = #{qualityFeedbackCode} and
        </trim>
    </update>
</mapper>