<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamc.efactory.dao.MqmsFaultDecodeMapper">
    <select id="selectFaultCode"  resultType="java.lang.String" >
        SELECT `fault_symptom_code` FROM `mqms_fault_decode`
        WHERE  `fault_symptom_phoeno` = #{fault_symptom_phoeno}
    </select>
    <delete id="deleteFaultCodeById"  >
        DELETE  FROM `mqms_fault_decode`
        WHERE  `id` = #{id}
    </delete>
    <select id="searchFaultCodeInfor"  resultType="java.util.HashMap" >
        SELECT * FROM `mqms_fault_decode`
        WHERE
        `fault_part_code`  like concat('%',#{faultPartCode},'%') and
        `fault_part_name`  like concat('%',#{faultPartName},'%') and
        `fault_symptom_phoeno`  like concat('%',#{faultSymptomPhoeno},'%') and
        `fault_symptom_code`  like concat('%',#{faultSymptomCode},'%')
    </select>
</mapper>