<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamc.efactory.dao.MqmsProductionMapper">
    <resultMap type="com.gamc.efactory.model.dataObject.MqmsProduction" id="MqmsProductionMap">
        <result property="productionId" column="production_id"/>
        <result property="factoryCode" column="factory_code"/>
        <result property="productionBatch" column="production_batch"/>
        <result property="vin" column="vin"/>
        <result property="mtoc" column="mtoc"/>
        <result property="stationCode" column="station_code"/>
        <result property="passTime" column="pass_time"/>
        <result property="carModelCode" column="car_model_code"/>
        <result property="carModelName" column="car_model_name"/>
        <result property="productionWorktime" column="production_worktime"/>
        <result property="egtypeCode" column="egtype_code"/>
        <result property="transmissionCode" column="transmission_code"/>
        <result property="carLevel" column="car_level"/>
        <result property="period" column="period"/>
        <result property="carType" column="car_type"/>
        <result property="exportCountry" column="export_country"/>
        <result property="shortCode" column="short_code"/>
        <result property="engType" column="eng_type"/>
        <result property="serialCode" column="serial_code"/>
        <result property="districtName" column="districtName"/>
        <result property="productionYear" column="production_year"/>
        <result property="productionMonth" column="production_month"/>
        <result property="transmissionShortCode" column="transmission_short_code"/>
        <result property="transmissionSimpleCode" column="transmission_simple_code"/>
        <result property="transmissionType" column="transmission_type"/>
        <result property="carShortCode" column="car_short_code"/>
        <result property="carModel" column="car_model"/>
        <result property="carSimpleCode" column="car_simple_code"/>
    </resultMap>
    <select id="selectInforByVin"  resultMap="MqmsProductionMap" >
        SELECT * FROM `mqms_production`
        WHERE  `vin` = #{vin}
    </select>
    <select id="selectByVin"  resultType="java.lang.Integer" >
        SELECT COUNT(*) FROM `mqms_production`
        WHERE  `vin` = #{vin}
    </select>
    <update id="updateByVin">
        UPDATE `mqms_production`
        SET
        <trim suffixOverrides=",">
            <if test="factoryCode != null and factoryCode!=''">
                `factory_code` = #{factoryCode},
            </if>
            <if test="productionBatch != null and productionBatch!=''">
                `production_batch` = #{productionBatch},
            </if>
            <if test="vin != null and vin!=''">
                `vin` = #{vin},
            </if>
            <if test="mtoc != null and mtoc!=''">
                `mtoc` = #{mtoc},
            </if>
            <if test="stationCode != null and stationCode!=''">
                `station_code` = #{stationCode},
            </if>
            <if test="passTime != null and passTime!=''">
                `pass_time` = #{passTime},
            </if>
            <if test="carModelCode != null and carModelCode!=''">
                `car_model_code` = #{carModelCode},
            </if>
            <if test="carModelName != null and carModelName!=''">
                `car_model_name` = #{carModelName},
            </if>
            <if test="productionWorktime != null and productionWorktime!=''">
                `production_worktime` = #{productionWorktime},
            </if>
            <if test="egtypeCode != null and egtypeCode!=''">
                `egtype_code` = #{egtypeCode},
            </if>
            <if test="transmissionCode != null and transmissionCode!=''">
                `transmission_code` = #{transmissionCode},
            </if>
            <if test="carLevel != null and carLevel!=''">
                `car_level` = #{carLevel},
            </if>
            <if test="period != null and period!=''">
                `period` = #{period},
            </if>
            <if test="carType != null and carType!=''">
                `car_type` = #{carType},
            </if>
            <if test="exportCountry != null and exportCountry!=''">
                `export_country` = #{exportCountry},
            </if>
            <if test="shortCode != null and shortCode!=''">
                `short_code` = #{shortCode},
            </if>
            <if test="engType != null and engType!=''">
                `eng_type` = #{engType},
            </if>
            <if test="serialCode != null and serialCode!=''">
                `serial_code` = #{serialCode},
            </if>
            <if test="districtName != null and districtName!=''">
                `districtName` = #{districtName},
            </if>
            <if test="productionYear != null and productionYear!=''">
                `production_year` = #{productionYear},
            </if>
            <if test="productionMonth != null and productionMonth!=''">
                `production_month` = #{productionMonth},
            </if>
            <if test="transmissionShortCode != null and transmissionShortCode!=''">
                `transmission_short_code` = #{transmissionShortCode},
            </if>
            <if test="transmissionSimpleCode != null and transmissionSimpleCode!=''">
                `transmission_simple_code` = #{transmissionSimpleCode},
            </if>
            <if test="transmissionType != null and transmissionType!=''">
                `transmission_type` = #{transmissionType},
            </if>
            <if test="carShortCode != null and carShortCode!=''">
                `car_short_code` = #{carShortCode},
            </if>
            <if test="carModel != null and carModel!=''">
                `car_model` = #{carModel},
            </if>
            <if test="carSimpleCode != null and carSimpleCode!=''">
                `car_simple_code` = #{carSimpleCode},
            </if>
            <if test="applierId != null">
                `applier_id` = #{applierId},
            </if>
            <if test="applierName != null and applierName!=''">
                `applier_name` = #{applierName},
            </if>
            <if test="applyTime != null and applyTime!=''">
                `apply_time` = #{applyTime},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
            `vin` = #{vin} and
        </trim>
    </update>

</mapper>