<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamc.efactory.dao.MqmsTranYearDecodeMapper">
    <select id="selectTranProYear"  resultType="java.lang.String" >
        SELECT `tran_pro_year` FROM `mqms_tran_year_decode`
        WHERE  `tran_pro_year_code` = #{tran_pro_year_code}
    </select>
    <delete id="deleteTransYearById"  >
        DELETE  FROM `mqms_tran_year_decode`
        WHERE  `id` = #{id}
    </delete>

</mapper>