<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamc.efactory.dao.MqmsFailureTrackMapper">
    <resultMap type="com.gamc.efactory.model.dataObject.MqmsFailureTrack" id="SimpleMap">
        <result property="failureTrackId" column="failure_track_id"/>
        <result property="voucherCode" column="voucher_code"/>
        <result property="saoId" column="sao_id"/>
        <result property="trackBeginerId" column="track_beginer_id"/>
        <result property="trackBeginerNo" column="track_beginer_no"/>
        <result property="trackBeginerName" column="track_beginer_name"/>
        <result property="carTestSymbol" column="car_test_symbol"/>
        <result property="failureReappearPersonId" column="failure_reappear_person_id"/>
        <result property="failureReappearPersonName" column="failure_reappear_person_name"/>
        <result property="failureReappearSymbol" column="failure_reappear_symbol"/>
    </resultMap>

    <select id="checkTrack" resultMap="SimpleMap">
        SELECT voucher_code FROM mqms_failure_track WHERE voucher_code in (#{voucherCodes})
    </select>
</mapper>