<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamc.efactory.dao.MqmsTranProductionDecodeMapper">
    <select id="selectTranProductionCode"  resultType="java.lang.String" >
        SELECT `tran_shortCode` FROM `mqms_tran_production_decode`
        WHERE  `tran_pro_model` = #{tran_pro_model}
    </select>
    <delete id="deleteTransTypeById"  >
    DELETE  FROM `mqms_tran_production_decode`
    WHERE  `id` = #{id}
    </delete>
    <select id="searchTransTypeInfor"  resultType="java.util.HashMap" >
        SELECT * FROM `mqms_tran_production_decode`
        WHERE
        `tran_pro_model`  like concat('%',#{tranProModel},'%') AND
         `tran_single_code`  like concat('%',#{tranSingleCode},'%') AND
        `tran_shortCode`  like concat('%',#{tranShortCode},'%')AND
         `tran_type_detail`  like concat('%',#{tranTypeDetail},'%') AND
        `tran_warranty_years` like concat('%',#{tranWarrantyYears},'%') AND
        `tran_warranty_millege` like concat('%',#{tranWarrantyMillege},'%')
    </select>
    <select id="selectTranType"  resultType="java.lang.String" >
        SELECT `tran_type_detail` FROM `mqms_tran_production_decode`
        WHERE  `tran_pro_model` = #{tran_pro_model}
    </select>
</mapper>