<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamc.efactory.dao.MqmsVoucherMapper">
    <select id="selectClaimCount"  resultType="java.lang.Integer" >
    SELECT COUNT(*) FROM `mqms_voucher`
    WHERE  `eng_type` = #{engType}
    AND  `confirm_date` &gt;= #{beginDate}
    AND  `confirm_date` &lt;= #{endDate}
    AND  `sales_date` &gt;= #{beginDate}
    AND  `sales_date` &lt;= #{endDate}
</select>
    <select id="selectTransClaimCount"  resultType="java.lang.Integer" >
        SELECT COUNT(*) FROM `mqms_voucher`
        WHERE  `tran_type_detail` = #{tranTypeDetail}
        AND  `confirm_date` &gt;= #{beginDate}
        AND  `confirm_date` &lt;= #{endDate}
        AND  `sales_date` &gt;= #{beginDate}
        AND  `sales_date` &lt;= #{endDate}
    </select>
    <select id="selectCarMutilMount"  resultType="java.lang.Integer" >
        SELECT COUNT(*) FROM `mqms_voucher`
        WHERE  `car_model` = #{carModel}
        AND  `confirm_date` &gt;= #{beginDate}
        AND  `confirm_date` &lt;= #{endDate}
    </select>

    <select id="selectTotalCost"  resultType="java.math.BigDecimal" >
        SELECT SUM(`total_cost`) FROM `mqms_voucher`
        WHERE  `eng_type` = #{eng_type} AND  `confirm_date` LIKE  concat(#{confirm_date},'%')
    </select>

    <select id="selectByVoucherCode"  resultType="java.lang.Integer" >
        SELECT COUNT(*) FROM `mqms_voucher`
        WHERE  `voucher_code` = #{voucher_code}
    </select>
    <resultMap id="TransmissionProportionMap" type="TransmissionProportion">
        <result property="transmissionCodeRe" column="transmission_code_re"/>
        <result property="number" column="number"/>
    </resultMap>
    <resultMap id="FailureTop10Map" type="FailureTop10">
        <result property="engArrange" column="eng_arrange"/>
        <result property="number" column="number"/>
    </resultMap>
    <select id="calTransmissionProportion" resultMap="TransmissionProportionMap" parameterType="MqmsVoucher">
        SELECT
            transmission_type_re,
            count(*) as number
        FROM
            `mqms_voucher`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="engType != null">
            `eng_type` = #{engType} and
            </if>
        </trim>
        GROUP BY
        transmission_type_re;
    </select>

    <select id="failureTop10" resultMap="FailureTop10Map" parameterType="MqmsVoucher">
        SELECT
        eng_arrange,
        count(*) as number
        FROM
        `mqms_voucher`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="engType != null">
                `eng_type` = #{engType} and
            </if>
        </trim>
        GROUP BY
        eng_arrange
        ORDER BY
        number desc
        LIMIT 0,10;
    </select>
    <select id="transFailureTop10" resultMap="FailureTop10Map" parameterType="MqmsVoucher">
        SELECT
        eng_arrange,
        count(*) as number
        FROM
        `mqms_voucher`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="engType != null">
                `tran_type_detail` = #{tranTypeDetail} and
            </if>
        </trim>
        GROUP BY
        eng_arrange
        ORDER BY
        number desc
        LIMIT 0,10;
    </select>

    <select id="countBetweenYearAndMonth" resultType="java.lang.Integer">
        SELECT count(*) FROM `mqms_voucher`
        WHERE
        eng_type = #{eng_type} and `sales_date` &gt;= #{begin} and `sales_date` &lt; #{end}
    </select>
    <select id="salesFailureTimeBetween" resultType="java.lang.Integer">
        SELECT count(*) FROM `mqms_voucher`
        WHERE
        eng_type = #{eng_type} and `sales_date` &gt;= #{begin} and `sales_date` &lt;= #{end}
    </select>    <select id="salesTransFailureTimeBetween" resultType="java.lang.Integer">
    SELECT count(*) FROM `mqms_voucher`
    WHERE
    `tran_type_detail` = #{tranTypeDetail} and `sales_date` &gt;= #{begin} and `sales_date` &lt;= #{end}
</select>

    <update id="updateMqmsVoucherByVoucherCode">
        UPDATE `mqms_voucher`
        SET
        <trim suffixOverrides=",">
            <if test="voucherCode != null and voucherCode!=''">
                `voucher_code` = #{voucherCode},
            </if>
            <if test="claimCode != null and claimCode!=''">
                `claim_code` = #{claimCode},
            </if>
            <if test="dealerCode != null and dealerCode!=''">
                `dealer_code` = #{dealerCode},
            </if>
            <if test="dealerName != null and dealerName!=''">
                `dealer_name` = #{dealerName},
            </if>
            <if test="dealerShortName != null and dealerShortName!=''">
                `dealer_short_name` = #{dealerShortName},
            </if>
            <if test="theme != null and theme!=''">
                `theme` = #{theme},
            </if>
            <if test="vinCode != null and vinCode!=''">
                `vin_code` = #{vinCode},
            </if>
            <if test="vehicleType != null and vehicleType!=''">
                `vehicle_type` = #{vehicleType},
            </if>
            <if test="productionCode != null and productionCode!=''">
                `production_code` = #{productionCode},
            </if>
            <if test="partsCode != null and partsCode!=''">
                `parts_code` = #{partsCode},
            </if>
            <if test="partsName != null and partsName!=''">
                `parts_name` = #{partsName},
            </if>
            <if test="divisionLevel1 != null and divisionLevel1!=''">
                `division_level_1` = #{divisionLevel1},
            </if>
            <if test="divisionLevel2 != null and divisionLevel2!=''">
                `division_level_2` = #{divisionLevel2},
            </if>
            <if test="divisionLevel3 != null and divisionLevel3!=''">
                `division_level_3` = #{divisionLevel3},
            </if>
            <if test="partsAndSymptom != null and partsAndSymptom!=''">
                `parts_and_symptom` = #{partsAndSymptom},
            </if>
            <if test="offlineDate != null and offlineDate!=''">
                `offline_date` = #{offlineDate},
            </if>
            <if test="salesDate != null and salesDate!=''">
                `sales_date` = #{salesDate},
            </if>
            <if test="failureDate != null and failureDate!=''">
                `failure_date` = #{failureDate},
            </if>
            <if test="mileage != null">
                `mileage` = #{mileage},
            </if>
            <if test="confirmDate != null and confirmDate!=''">
                `confirm_date` = #{confirmDate},
            </if>
            <if test="warehousingDate != null and warehousingDate!=''">
                `warehousing_date` = #{warehousingDate},
            </if>
            <if test="transportDate != null and transportDate!=''">
                `transport_date` = #{transportDate},
            </if>
            <if test="shopArrivalDate != null and shopArrivalDate!=''">
                `shop_arrival_date` = #{shopArrivalDate},
            </if>
            <if test="salesFailureTime != null">
                `sales_failure_time` = #{salesFailureTime},
            </if>
            <if test="failureDesc != null and failureDesc!=''">
                `failure_desc` = #{failureDesc},
            </if>
            <if test="diagnosticResult != null and diagnosticResult!=''">
                `diagnostic_result` = #{diagnosticResult},
            </if>
            <if test="manCost != null">
                `man_cost` = #{manCost},
            </if>
            <if test="materialCost != null">
                `material_cost` = #{materialCost},
            </if>
            <if test="materialManagementCost != null">
                `material_management_cost` = #{materialManagementCost},
            </if>
            <if test="goOutCost != null">
                `go_out_cost` = #{goOutCost},
            </if>
            <if test="maintainingCost != null">
                `maintaining_cost` = #{maintainingCost},
            </if>
            <if test="otherCost != null">
                `other_cost` = #{otherCost},
            </if>
            <if test="totalCost != null">
                `total_cost` = #{totalCost},
            </if>
            <if test="importantLevel != null and importantLevel!=''">
                `important_level` = #{importantLevel},
            </if>
            <if test="transmissionType != null and transmissionType!=''">
                `transmission_type` = #{transmissionType},
            </if>
            <if test="newPartsBond != null and newPartsBond!=''">
                `new_parts_bond` = #{newPartsBond},
            </if>
            <if test="submitDate != null and submitDate!=''">
                `submit_date` = #{submitDate},
            </if>
            <if test="egtypeCode != null and egtypeCode!=''">
                `egtype_code` = #{egtypeCode},
            </if>
            <if test="transmissionCode != null and transmissionCode!=''">
                `transmission_code` = #{transmissionCode},
            </if>
            <if test="engArrange != null and engArrange!=''">
                `eng_arrange` = #{engArrange},
            </if>
            <if test="carModel != null and carModel!=''">
                `car_model` = #{carModel},
            </if>
            <if test="engType != null and engType!=''">
                `eng_type` = #{engType},
            </if>
            <if test="transmissionTypeRe != null and transmissionTypeRe!=''">
                `transmission_type_re` = #{transmissionTypeRe},
            </if>
            <if test="tranTypeDetail != null and tranTypeDetail!=''">
                `tran_type_detail` = #{tranTypeDetail},
            </if>
            <if test="transmissionManufacturer != null and transmissionManufacturer!=''">
                `transmission_manufacturer` = #{transmissionManufacturer},
            </if>
            <if test="receiveTime != null and receiveTime!=''">
                `receive_time` = #{receiveTime},
            </if>
            <if test="claimCompensation != null and claimCompensation!=''">
                `claim_compensation` = #{claimCompensation},
            </if>
            <if test="productionRawDescription != null and productionRawDescription!=''">
                `production_raw_description` = #{productionRawDescription},
            </if>
            <if test="PDI != null and PDI!=''">
                `PDI` = #{PDI},
            </if>
            <if test="offlineFailureTime != null">
                `offline_failure_time` = #{offlineFailureTime},
            </if>
            <if test="transmissionComfirmTime != null and transmissionComfirmTime!=''">
                `transmission_comfirm_time` = #{transmissionComfirmTime},
            </if>
            <if test="engOrTran != null and engOrTran!=''">
                `eng_or_tran` = #{engOrTran},
            </if>
            <if test="shortCode != null and shortCode!=''">
                `short_code` = #{shortCode},
            </if>
            <if test="faultCodeClassification != null and faultCodeClassification!=''">
                `fault_code_classification` = #{faultCodeClassification},
            </if>
            <if test="transmissionProductionData != null and transmissionProductionData!=''">
                `transmission_production_data` = #{transmissionProductionData},
            </if>
            <if test="failureYear != null and failureYear!=''">
                `failure_year` = #{failureYear},
            </if>
            <if test="failureMonth != null and failureMonth!=''">
                `failure_month` = #{failureMonth},
            </if>
            <if test="transmissionShortCode != null and transmissionShortCode!=''">
                `transmission_short_code` = #{transmissionShortCode},
            </if>
            <if test="mileageDistribution != null and mileageDistribution!=''">
                `mileage_distribution` = #{mileageDistribution},
            </if>
            <if test="trackBeginer != null and trackBeginer!=''">
                `track_beginer` = #{trackBeginer},
            </if>
            <if test="trackBeginTime != null and trackBeginTime!=''">
                `track_begin_time` = #{trackBeginTime},
            </if>
            <if test="deliveryPerson != null and deliveryPerson!=''">
                `delivery_person` = #{deliveryPerson},
            </if>
            <if test="deliveryDeadline != null and deliveryDeadline!=''">
                `delivery_deadline` = #{deliveryDeadline},
            </if>
            <if test="deliveryReceivedDate != null and deliveryReceivedDate!=''">
                `delivery_received_date` = #{deliveryReceivedDate},
            </if>
            <if test="failureTrackId != null">
                `failure_track_id` = #{failureTrackId},
            </if>
            <if test="applierId != null">
                `applier_id` = #{applierId},
            </if>
            <if test="applierName != null and applierName!=''">
                `applier_name` = #{applierName},
            </if>
            <if test="applyTime != null and applyTime!=''">
                `apply_time` = #{applyTime},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
            `voucher_code` = #{voucherCode} and
        </trim>
    </update>
</mapper>