<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamc.efactory.dao.MqmsVoucherMapper">
    <resultMap type="com.gamc.efactory.model.dataObject.MqmsVoucher" id="MqmsVoucherMap">
        <result property="voucherId" column="voucher_id"/>
        <result property="voucherCode" column="voucher_code"/>
        <result property="dealerCode" column="dealer_code"/>
        <result property="dealerName" column="dealer_name"/>
        <result property="veiState" column="vei_state"/>
        <result property="updateTime" column="update_time"/>
        <result property="maintenanceContractCode" column="maintenance_contract_code"/>
        <result property="maintenanceItemCode" column="maintenance_item_code"/>
        <result property="contact" column="contact"/>
        <result property="phoneNo" column="phone_no"/>
        <result property="fax" column="fax"/>
        <result property="theme" column="theme"/>
        <result property="vinCode" column="vin_code"/>
        <result property="vehicleType" column="vehicle_type"/>
        <result property="egtypeCode" column="egtype_code"/>
        <result property="transmissionType" column="transmission_type"/>
        <result property="mileage" column="mileage"/>
        <result property="transmissionCode" column="transmission_code"/>
        <result property="mtoc" column="mtoc"/>
        <result property="failureDate" column="failure_date"/>
        <result property="failureLocationCode" column="failure_location_code"/>
        <result property="failureLocationName" column="failure_location_name"/>
        <result property="symptomTypeCode" column="symptom_type_code"/>
        <result property="symptomTypeName" column="symptom_type_name"/>
        <result property="symptomCode" column="symptom_code"/>
        <result property="symptomName" column="symptom_name"/>
        <result property="symptomContent" column="symptom_content"/>
        <result property="submitDate" column="submit_date"/>
        <result property="importantLevel" column="important_level"/>
        <result property="carType" column="car_type"/>
        <result property="diagnosticResult" column="diagnostic_result"/>
        <result property="veiUserDescription" column="vei_user_description"/>
        <result property="partsCode" column="parts_code"/>
        <result property="partsName" column="parts_name"/>
        <result property="manCost" column="man_cost"/>
        <result property="materialCost" column="material_cost"/>
        <result property="otherCost" column="other_cost"/>
        <result property="totalCost" column="total_cost"/>
        <result property="confirmor" column="confirmor"/>
        <result property="confirmDate" column="confirm_date"/>
        <result property="veiSysDescription" column="vei_sys_description"/>
        <result property="licenseCode" column="license_code"/>
        <result property="servicePerformance1" column="service_performance_1"/>
        <result property="servicePerformance2" column="service_performance_2"/>
        <result property="servicePerformance3" column="service_performance_3"/>
        <result property="modelYear" column="model_year"/>
        <result property="offlineDate" column="offline_date"/>
        <result property="salesDate" column="sales_date"/>
        <result property="engArrange" column="eng_arrange"/>
        <result property="salesFailureTime" column="sales_failure_time"/>
        <result property="carModel" column="car_model"/>
        <result property="engType" column="eng_type"/>
        <result property="transmissionCodeRe" column="transmission_code_re"/>
        <result property="transmissionManufacturer" column="transmission_manufacturer"/>
        <result property="receiveTime" column="receive_time"/>
        <result property="claimCompensation" column="claim_compensation"/>
        <result property="productionRawDescription" column="production_raw_description"/>
        <result property="PDI" column="PDI"/>
        <result property="offlineFailureTime" column="offline_failure_time"/>
        <result property="transmissionComfirmTime" column="transmission_comfirm_time"/>
        <result property="engOrTran" column="eng_or_tran"/>
        <result property="shortCode" column="short_code"/>
        <result property="faultCodeClassification" column="fault_code_classification"/>
        <result property="transmissionProductionData" column="transmission_production_data"/>
        <result property="failureYear" column="failure_year"/>
        <result property="failureMonth" column="failure_month"/>
        <result property="transmissionShortCode" column="transmission_short_code"/>
        <result property="mileageDistribution" column="mileage_distribution"/>
    </resultMap>

    <select id="selectEngTypeCount"  resultType="java.lang.Integer" >
        SELECT COUNT(*) FROM `mqms_voucher`
        WHERE  `eng_type` = #{eng_type} AND  `confirm_date` LIKE  concat(#{confirm_date},'%')
    </select>

    <select id="selectTotalCost"  resultType="java.math.BigDecimal" >
        SELECT SUM(`total_cost`) FROM `mqms_voucher`
        WHERE  `eng_type` = #{eng_type} AND  `confirm_date` LIKE  concat(#{confirm_date},'%')
    </select>

    <select id="selectByQualityFeedbackCode"  resultType="java.lang.Integer" >
        SELECT COUNT(*) FROM `mqms_voucher`
        WHERE  `quality_feedback_code` = #{quality_feedback_code}
    </select>
    <update id="updateByQualityFeedbackCode">
        UPDATE `mqms_voucher`
        SET
        <trim suffixOverrides=",">
            <if test="qualityFeedbackCode != null and qualityFeedbackCode!=''">
                `quality_feedback_code` = #{qualityFeedbackCode},
            </if>
            <if test="voucherCode != null and voucherCode!=''">
                `voucher_code` = #{voucherCode},
            </if>
            <if test="dealerCode != null and dealerCode!=''">
                `dealer_code` = #{dealerCode},
            </if>
            <if test="dealerName != null and dealerName!=''">
                `dealer_name` = #{dealerName},
            </if>
            <if test="dealerShortName != null and dealerShortName!=''">
                `dealer_short_name` = #{dealerShortName},
            </if>
            <if test="theme != null and theme!=''">
                `theme` = #{theme},
            </if>
            <if test="vinCode != null and vinCode!=''">
                `vin_code` = #{vinCode},
            </if>
            <if test="vehicleType != null and vehicleType!=''">
                `vehicle_type` = #{vehicleType},
            </if>
            <if test="partsName != null and partsName!=''">
                `parts_name` = #{partsName},
            </if>
            <if test="firstLevelName != null and firstLevelName!=''">
                `first_level_name` = #{firstLevelName},
            </if>
            <if test="partsShortNameSpecPneno != null and partsShortNameSpecPneno!=''">
                `parts_short_name_spec_pneno` = #{partsShortNameSpecPneno},
            </if>
            <if test="manufactureDate != null and manufactureDate!=''">
                `manufacture_date` = #{manufactureDate},
            </if>
            <if test="salesFailureTime != null and salesFailureTime!=''">
                `sales_failure_time` = #{salesFailureTime},
            </if>
            <if test="symptomName != null and symptomName!=''">
                `symptom_name` = #{symptomName},
            </if>
            <if test="symptomContent != null and symptomContent!=''">
                `symptom_content` = #{symptomContent},
            </if>
            <if test="manCost != null">
                `man_cost` = #{manCost},
            </if>
            <if test="partsCost != null">
                `parts_cost` = #{partsCost},
            </if>
            <if test="partsManagerCost != null">
                `parts_manager_cost` = #{partsManagerCost},
            </if>
            <if test="outgoingCost != null">
                `outgoing_cost` = #{outgoingCost},
            </if>
            <if test="maintainCost != null">
                `maintain_cost` = #{maintainCost},
            </if>
            <if test="otherCost != null">
                `other_cost` = #{otherCost},
            </if>
            <if test="totalCost != null">
                `total_cost` = #{totalCost},
            </if>
            <if test="importantLevel != null and importantLevel!=''">
                `important_level` = #{importantLevel},
            </if>
            <if test="transmissionType != null and transmissionType!=''">
                `transmission_type` = #{transmissionType},
            </if>
            <if test="newPartsBlindingNum != null and newPartsBlindingNum!=''">
                `new_parts_blinding_num` = #{newPartsBlindingNum},
            </if>
            <if test="submitDate != null and submitDate!=''">
                `submit_date` = #{submitDate},
            </if>
            <if test="engCode != null and engCode!=''">
                `eng_code` = #{engCode},
            </if>
            <if test="engManufactureDate != null and engManufactureDate!=''">
                `eng_manufacture_date` = #{engManufactureDate},
            </if>
            <if test="transmissionCodeRe != null and transmissionCodeRe!=''">
                `transmission_code_re` = #{transmissionCodeRe},
            </if>
            <if test="transmissionManufacturer != null and transmissionManufacturer!=''">
                `transmission_manufacturer` = #{transmissionManufacturer},
            </if>
            <if test="engArrange != null and engArrange!=''">
                `eng_arrange` = #{engArrange},
            </if>
            <if test="carModel != null and carModel!=''">
                `car_model` = #{carModel},
            </if>
            <if test="receiveTime != null and receiveTime!=''">
                `receive_time` = #{receiveTime},
            </if>
            <if test="claimCompensation != null and claimCompensation!=''">
                `claim_compensation` = #{claimCompensation},
            </if>
            <if test="shortCode != null and shortCode!=''">
                `short_code` = #{shortCode},
            </if>
            <if test="faultCodeClassification != null and faultCodeClassification!=''">
                `fault_code_classification` = #{faultCodeClassification},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
            `quality_feedback_code` = #{qualityFeedbackCode} and
        </trim>
    </update>

    <resultMap id="TransmissionProportionMap" type="TransmissionProportion">
        <result property="transmissionCodeRe" column="transmission_code_re"/>
        <result property="number" column="number"/>
    </resultMap>
    <resultMap id="FailureTop10Map" type="FailureTop10">
        <result property="engArrange" column="eng_arrange"/>
        <result property="number" column="number"/>
    </resultMap>
    <select id="calTransmissionProportion" resultMap="TransmissionProportionMap" parameterType="MqmsVoucher">
        SELECT
            transmission_code_re,
            count(*) as number
        FROM
            `mqms_voucher`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="engType != null">
            `eng_type` = #{engType} and
            </if>
        </trim>
        GROUP BY
            transmission_code_re;
    </select>

    <select id="failureTop10" resultMap="FailureTop10Map" parameterType="MqmsVoucher">
        SELECT
        eng_arrange,
        count(*) as number
        FROM
        `mqms_voucher`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="engType != null">
                `eng_type` = #{engType} and
            </if>
        </trim>
        GROUP BY
        eng_arrange
        ORDER BY
        number desc
        LIMIT 0,10;
    </select>

</mapper>