<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamc.efactory.dao.SparePartsContractMapper">
    <select id="countSparePartsContract" resultType="java.lang.Integer">
        select
        COUNT(*)
        from  `wms_spare_parts_contract`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="sparePartsContractId != null">
                `spare_parts_contract_id` = #{sparePartsContractId} and
            </if>
            <if test="materialCode != null and materialCode!=''">
                `material_code` = #{materialCode} and
            </if>
            <if test="materialName != null and materialName!=''">
                `material_name` = #{materialName} and
            </if>
            <if test="materialSpecs != null and materialSpecs!=''">
                `material_specs` = #{materialSpecs} and
            </if>
            <if test="materialBrand != null and materialBrand!=''">
                `material_brand` = #{materialBrand} and
            </if>
            <if test="materialUnit != null and materialUnit!=''">
                `material_unit` = #{materialUnit} and
            </if>
            <if test="materialOrderMinNum != null and materialOrderMinNum!=''">
                `material_order_min_num` = #{materialOrderMinNum} and
            </if>
            <if test="materialLeadTime != null and materialLeadTime!=''">
                `material_lead_time` = #{materialLeadTime} and
            </if>
            <if test="supplierCode != null and supplierCode!=''">
                `supplier_code` = #{supplierCode} and
            </if>
            <if test="supplierName != null and supplierName!=''">
                `supplier_name` = #{supplierName} and
            </if>
            <if test="materialBuyer != null and materialBuyer!=''">
                `material_buyer` = #{materialBuyer} and
            </if>
            <if test = "(_parameter instanceof com.gamc.efactory.model.dataObject.SparePartsContract$QueryBuilder) == true">
                <if test="sparePartsContractIdList != null">
                    `spare_parts_contract_id` in
                    <foreach collection="sparePartsContractIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="sparePartsContractIdSt !=null">
                    `spare_parts_contract_id` >= #{sparePartsContractIdSt} and
                </if>
                <if test="sparePartsContractIdEd!=null">
                    `spare_parts_contract_id` &lt;= #{sparePartsContractIdEd} and
                </if>
                <if test="materialCodeList != null">
                    `material_code` in
                    <foreach collection="materialCodeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyMaterialCode!=null and fuzzyMaterialCode.size()>0">
                    (
                    <foreach collection="fuzzyMaterialCode"  separator="or" item="item">
                        `Material_code` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyMaterialCode!=null and rightFuzzyMaterialCode.size()>0">
                    (
                    <foreach collection="rightFuzzyMaterialCode"  separator="or" item="item">
                        `Material_code` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="materialNameList != null">
                    `material_name` in
                    <foreach collection="materialNameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyMaterialName!=null and fuzzyMaterialName.size()>0">
                    (
                    <foreach collection="fuzzyMaterialName"  separator="or" item="item">
                        `Material_name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyMaterialName!=null and rightFuzzyMaterialName.size()>0">
                    (
                    <foreach collection="rightFuzzyMaterialName"  separator="or" item="item">
                        `Material_name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="materialSpecsList != null">
                    `material_specs` in
                    <foreach collection="materialSpecsList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyMaterialSpecs!=null and fuzzyMaterialSpecs.size()>0">
                    (
                    <foreach collection="fuzzyMaterialSpecs"  separator="or" item="item">
                        `Material_specs` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyMaterialSpecs!=null and rightFuzzyMaterialSpecs.size()>0">
                    (
                    <foreach collection="rightFuzzyMaterialSpecs"  separator="or" item="item">
                        `Material_specs` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="materialBrandList != null">
                    `material_brand` in
                    <foreach collection="materialBrandList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyMaterialBrand!=null and fuzzyMaterialBrand.size()>0">
                    (
                    <foreach collection="fuzzyMaterialBrand"  separator="or" item="item">
                        `Material_brand` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyMaterialBrand!=null and rightFuzzyMaterialBrand.size()>0">
                    (
                    <foreach collection="rightFuzzyMaterialBrand"  separator="or" item="item">
                        `Material_brand` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="materialUnitList != null">
                    `material_unit` in
                    <foreach collection="materialUnitList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyMaterialUnit!=null and fuzzyMaterialUnit.size()>0">
                    (
                    <foreach collection="fuzzyMaterialUnit"  separator="or" item="item">
                        `Material_unit` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyMaterialUnit!=null and rightFuzzyMaterialUnit.size()>0">
                    (
                    <foreach collection="rightFuzzyMaterialUnit"  separator="or" item="item">
                        `Material_unit` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="materialOrderMinNumList != null">
                    `material_order_min_num` in
                    <foreach collection="materialOrderMinNumList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyMaterialOrderMinNum!=null and fuzzyMaterialOrderMinNum.size()>0">
                    (
                    <foreach collection="fuzzyMaterialOrderMinNum"  separator="or" item="item">
                        `Material_order_min_num` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyMaterialOrderMinNum!=null and rightFuzzyMaterialOrderMinNum.size()>0">
                    (
                    <foreach collection="rightFuzzyMaterialOrderMinNum"  separator="or" item="item">
                        `Material_order_min_num` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="materialLeadTimeList != null">
                    `material_lead_time` in
                    <foreach collection="materialLeadTimeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyMaterialLeadTime!=null and fuzzyMaterialLeadTime.size()>0">
                    (
                    <foreach collection="fuzzyMaterialLeadTime"  separator="or" item="item">
                        `Material_lead_time` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyMaterialLeadTime!=null and rightFuzzyMaterialLeadTime.size()>0">
                    (
                    <foreach collection="rightFuzzyMaterialLeadTime"  separator="or" item="item">
                        `Material_lead_time` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="supplierCodeList != null">
                    `supplier_code` in
                    <foreach collection="supplierCodeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzySupplierCode!=null and fuzzySupplierCode.size()>0">
                    (
                    <foreach collection="fuzzySupplierCode"  separator="or" item="item">
                        `Supplier_code` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzySupplierCode!=null and rightFuzzySupplierCode.size()>0">
                    (
                    <foreach collection="rightFuzzySupplierCode"  separator="or" item="item">
                        `Supplier_code` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="supplierNameList != null">
                    `supplier_name` in
                    <foreach collection="supplierNameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzySupplierName!=null and fuzzySupplierName.size()>0">
                    (
                    <foreach collection="fuzzySupplierName"  separator="or" item="item">
                        `Supplier_name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzySupplierName!=null and rightFuzzySupplierName.size()>0">
                    (
                    <foreach collection="rightFuzzySupplierName"  separator="or" item="item">
                        `Supplier_name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="materialBuyerList != null">
                    `material_buyer` in
                    <foreach collection="materialBuyerList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyMaterialBuyer!=null and fuzzyMaterialBuyer.size()>0">
                    (
                    <foreach collection="fuzzyMaterialBuyer"  separator="or" item="item">
                        `Material_buyer` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyMaterialBuyer!=null and rightFuzzyMaterialBuyer.size()>0">
                    (
                    <foreach collection="rightFuzzyMaterialBuyer"  separator="or" item="item">
                        `Material_buyer` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
    </select>

</mapper>