<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamc.efactory.dao.WarehousingMapper">
    <select id="countWarehousing" resultType="java.lang.Integer">
        select
        COUNT(*)
        from  `wms_warehousing`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="warehousingId != null">
                `warehousing_id` = #{warehousingId} and
            </if>
            <if test="warehousingCode != null and warehousingCode!=''">
                `warehousing_code` = #{warehousingCode} and
            </if>
            <if test="warehousingLineCode != null and warehousingLineCode!=''">
                `warehousing_line_code` = #{warehousingLineCode} and
            </if>
            <if test="warehousingReasonCode != null and warehousingReasonCode!=''">
                `warehousing_reason_code` = #{warehousingReasonCode} and
            </if>
            <if test="warehousingReasonDescription != null and warehousingReasonDescription!=''">
                `warehousing_reason_description` = #{warehousingReasonDescription} and
            </if>
            <if test="warehousingAffairsDate != null and warehousingAffairsDate!=''">
                `warehousing_affairs_date` = #{warehousingAffairsDate} and
            </if>
            <if test="materialCode != null and materialCode!=''">
                `material_code` = #{materialCode} and
            </if>
            <if test="materialName != null and materialName!=''">
                `material_name` = #{materialName} and
            </if>
            <if test="materialUnit != null and materialUnit!=''">
                `material_unit` = #{materialUnit} and
            </if>
            <if test="warehousingBatch != null and warehousingBatch!=''">
                `warehousing_batch` = #{warehousingBatch} and
            </if>
            <if test="warehousingSerie != null and warehousingSerie!=''">
                `warehousing_serie` = #{warehousingSerie} and
            </if>
            <if test="warehouseCode != null and warehouseCode!=''">
                `warehouse_code` = #{warehouseCode} and
            </if>
            <if test="warehousingAffairsSymbol != null and warehousingAffairsSymbol!=''">
                `warehousing_affairs_symbol` = #{warehousingAffairsSymbol} and
            </if>
            <if test="warehousingNum != null">
                `warehousing_num` = #{warehousingNum} and
            </if>
            <if test="warehousingHeadText != null and warehousingHeadText!=''">
                `warehousing_head_text` = #{warehousingHeadText} and
            </if>
            <if test="warehousingLineText != null and warehousingLineText!=''">
                `warehousing_line_text` = #{warehousingLineText} and
            </if>
            <if test="warehousingInitialUserId != null">
                `warehousing_initial_user_id` = #{warehousingInitialUserId} and
            </if>
            <if test="warehousingInitialTime != null and warehousingInitialTime!=''">
                `warehousing_initial_time` = #{warehousingInitialTime} and
            </if>
            <if test="warehousingInitialState != null and warehousingInitialState!=''">
                `warehousing_initial_state` = #{warehousingInitialState} and
            </if>
            <if test = "(_parameter instanceof com.gamc.efactory.model.dataObject.Warehousing$QueryBuilder) == true">
                <if test="warehousingIdList != null">
                    `warehousing_id` in
                    <foreach collection="warehousingIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="warehousingIdSt !=null">
                    `warehousing_id` >= #{warehousingIdSt} and
                </if>
                <if test="warehousingIdEd!=null">
                    `warehousing_id` &lt;= #{warehousingIdEd} and
                </if>
                <if test="warehousingCodeList != null">
                    `warehousing_code` in
                    <foreach collection="warehousingCodeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyWarehousingCode!=null and fuzzyWarehousingCode.size()>0">
                    (
                    <foreach collection="fuzzyWarehousingCode"  separator="or" item="item">
                        `Warehousing_code` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyWarehousingCode!=null and rightFuzzyWarehousingCode.size()>0">
                    (
                    <foreach collection="rightFuzzyWarehousingCode"  separator="or" item="item">
                        `Warehousing_code` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="warehousingLineCodeList != null">
                    `warehousing_line_code` in
                    <foreach collection="warehousingLineCodeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyWarehousingLineCode!=null and fuzzyWarehousingLineCode.size()>0">
                    (
                    <foreach collection="fuzzyWarehousingLineCode"  separator="or" item="item">
                        `Warehousing_line_code` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyWarehousingLineCode!=null and rightFuzzyWarehousingLineCode.size()>0">
                    (
                    <foreach collection="rightFuzzyWarehousingLineCode"  separator="or" item="item">
                        `Warehousing_line_code` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="warehousingReasonCodeList != null">
                    `warehousing_reason_code` in
                    <foreach collection="warehousingReasonCodeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyWarehousingReasonCode!=null and fuzzyWarehousingReasonCode.size()>0">
                    (
                    <foreach collection="fuzzyWarehousingReasonCode"  separator="or" item="item">
                        `Warehousing_reason_code` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyWarehousingReasonCode!=null and rightFuzzyWarehousingReasonCode.size()>0">
                    (
                    <foreach collection="rightFuzzyWarehousingReasonCode"  separator="or" item="item">
                        `Warehousing_reason_code` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="warehousingReasonDescriptionList != null">
                    `warehousing_reason_description` in
                    <foreach collection="warehousingReasonDescriptionList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyWarehousingReasonDescription!=null and fuzzyWarehousingReasonDescription.size()>0">
                    (
                    <foreach collection="fuzzyWarehousingReasonDescription"  separator="or" item="item">
                        `Warehousing_reason_description` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyWarehousingReasonDescription!=null and rightFuzzyWarehousingReasonDescription.size()>0">
                    (
                    <foreach collection="rightFuzzyWarehousingReasonDescription"  separator="or" item="item">
                        `Warehousing_reason_description` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="warehousingAffairsDateList != null">
                    `warehousing_affairs_date` in
                    <foreach collection="warehousingAffairsDateList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyWarehousingAffairsDate!=null and fuzzyWarehousingAffairsDate.size()>0">
                    (
                    <foreach collection="fuzzyWarehousingAffairsDate"  separator="or" item="item">
                        `Warehousing_affairs_date` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyWarehousingAffairsDate!=null and rightFuzzyWarehousingAffairsDate.size()>0">
                    (
                    <foreach collection="rightFuzzyWarehousingAffairsDate"  separator="or" item="item">
                        `Warehousing_affairs_date` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="materialCodeList != null">
                    `material_code` in
                    <foreach collection="materialCodeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyMaterialCode!=null and fuzzyMaterialCode.size()>0">
                    (
                    <foreach collection="fuzzyMaterialCode"  separator="or" item="item">
                        `Material_code` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyMaterialCode!=null and rightFuzzyMaterialCode.size()>0">
                    (
                    <foreach collection="rightFuzzyMaterialCode"  separator="or" item="item">
                        `Material_code` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="materialNameList != null">
                    `material_name` in
                    <foreach collection="materialNameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyMaterialName!=null and fuzzyMaterialName.size()>0">
                    (
                    <foreach collection="fuzzyMaterialName"  separator="or" item="item">
                        `Material_name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyMaterialName!=null and rightFuzzyMaterialName.size()>0">
                    (
                    <foreach collection="rightFuzzyMaterialName"  separator="or" item="item">
                        `Material_name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="materialUnitList != null">
                    `material_unit` in
                    <foreach collection="materialUnitList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyMaterialUnit!=null and fuzzyMaterialUnit.size()>0">
                    (
                    <foreach collection="fuzzyMaterialUnit"  separator="or" item="item">
                        `Material_unit` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyMaterialUnit!=null and rightFuzzyMaterialUnit.size()>0">
                    (
                    <foreach collection="rightFuzzyMaterialUnit"  separator="or" item="item">
                        `Material_unit` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="warehousingBatchList != null">
                    `warehousing_batch` in
                    <foreach collection="warehousingBatchList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyWarehousingBatch!=null and fuzzyWarehousingBatch.size()>0">
                    (
                    <foreach collection="fuzzyWarehousingBatch"  separator="or" item="item">
                        `Warehousing_batch` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyWarehousingBatch!=null and rightFuzzyWarehousingBatch.size()>0">
                    (
                    <foreach collection="rightFuzzyWarehousingBatch"  separator="or" item="item">
                        `Warehousing_batch` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="warehousingSerieList != null">
                    `warehousing_serie` in
                    <foreach collection="warehousingSerieList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyWarehousingSerie!=null and fuzzyWarehousingSerie.size()>0">
                    (
                    <foreach collection="fuzzyWarehousingSerie"  separator="or" item="item">
                        `Warehousing_serie` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyWarehousingSerie!=null and rightFuzzyWarehousingSerie.size()>0">
                    (
                    <foreach collection="rightFuzzyWarehousingSerie"  separator="or" item="item">
                        `Warehousing_serie` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="warehouseCodeList != null">
                    `warehouse_code` in
                    <foreach collection="warehouseCodeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyWarehouseCode!=null and fuzzyWarehouseCode.size()>0">
                    (
                    <foreach collection="fuzzyWarehouseCode"  separator="or" item="item">
                        `Warehouse_code` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyWarehouseCode!=null and rightFuzzyWarehouseCode.size()>0">
                    (
                    <foreach collection="rightFuzzyWarehouseCode"  separator="or" item="item">
                        `Warehouse_code` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="warehousingAffairsSymbolList != null">
                    `warehousing_affairs_symbol` in
                    <foreach collection="warehousingAffairsSymbolList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyWarehousingAffairsSymbol!=null and fuzzyWarehousingAffairsSymbol.size()>0">
                    (
                    <foreach collection="fuzzyWarehousingAffairsSymbol"  separator="or" item="item">
                        `Warehousing_affairs_symbol` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyWarehousingAffairsSymbol!=null and rightFuzzyWarehousingAffairsSymbol.size()>0">
                    (
                    <foreach collection="rightFuzzyWarehousingAffairsSymbol"  separator="or" item="item">
                        `Warehousing_affairs_symbol` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="warehousingNumList != null">
                    `warehousing_num` in
                    <foreach collection="warehousingNumList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="warehousingNumSt !=null">
                    `warehousing_num` >= #{warehousingNumSt} and
                </if>
                <if test="warehousingNumEd!=null">
                    `warehousing_num` &lt;= #{warehousingNumEd} and
                </if>
                <if test="warehousingHeadTextList != null">
                    `warehousing_head_text` in
                    <foreach collection="warehousingHeadTextList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyWarehousingHeadText!=null and fuzzyWarehousingHeadText.size()>0">
                    (
                    <foreach collection="fuzzyWarehousingHeadText"  separator="or" item="item">
                        `Warehousing_head_text` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyWarehousingHeadText!=null and rightFuzzyWarehousingHeadText.size()>0">
                    (
                    <foreach collection="rightFuzzyWarehousingHeadText"  separator="or" item="item">
                        `Warehousing_head_text` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="warehousingLineTextList != null">
                    `warehousing_line_text` in
                    <foreach collection="warehousingLineTextList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyWarehousingLineText!=null and fuzzyWarehousingLineText.size()>0">
                    (
                    <foreach collection="fuzzyWarehousingLineText"  separator="or" item="item">
                        `Warehousing_line_text` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyWarehousingLineText!=null and rightFuzzyWarehousingLineText.size()>0">
                    (
                    <foreach collection="rightFuzzyWarehousingLineText"  separator="or" item="item">
                        `Warehousing_line_text` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="warehousingInitialUserIdList != null">
                    `warehousing_initial_user_id` in
                    <foreach collection="warehousingInitialUserIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="warehousingInitialUserIdSt !=null">
                    `warehousing_initial_user_id` >= #{warehousingInitialUserIdSt} and
                </if>
                <if test="warehousingInitialUserIdEd!=null">
                    `warehousing_initial_user_id` &lt;= #{warehousingInitialUserIdEd} and
                </if>
                <if test="warehousingInitialTimeList != null">
                    `warehousing_initial_time` in
                    <foreach collection="warehousingInitialTimeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyWarehousingInitialTime!=null and fuzzyWarehousingInitialTime.size()>0">
                    (
                    <foreach collection="fuzzyWarehousingInitialTime"  separator="or" item="item">
                        `Warehousing_initial_time` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyWarehousingInitialTime!=null and rightFuzzyWarehousingInitialTime.size()>0">
                    (
                    <foreach collection="rightFuzzyWarehousingInitialTime"  separator="or" item="item">
                        `Warehousing_initial_time` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="warehousingInitialStateList != null">
                    `warehousing_initial_state` in
                    <foreach collection="warehousingInitialStateList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyWarehousingInitialState!=null and fuzzyWarehousingInitialState.size()>0">
                    (
                    <foreach collection="fuzzyWarehousingInitialState"  separator="or" item="item">
                        `Warehousing_initial_state` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyWarehousingInitialState!=null and rightFuzzyWarehousingInitialState.size()>0">
                    (
                    <foreach collection="rightFuzzyWarehousingInitialState"  separator="or" item="item">
                        `Warehousing_initial_state` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
    </select>

</mapper>