<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamc.efactory.dao.base.AuthBaseMapper">


    <insert id="insertAuth"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `wms_auth`
        (
        <trim suffixOverrides=",">
                    <if test="id!=null">
                        `id`,
                    </if>
                    <if test="authName!=null">
                        `auth_name`,
                    </if>
                    <if test="authLevel!=null">
                        `auth_level`,
                    </if>
                    <if test="authUrl!=null">
                        `auth_url`,
                    </if>
                    <if test="authParentId!=null">
                        `auth_parent_id`,
                    </if>
                    <if test="authDescription!=null">
                        `auth_description`,
                    </if>
                    <if test="state!=null">
                        `state`,
                    </if>
                    <if test="iconCls!=null">
                        `icon_cls`,
                    </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
                <if test="id!=null">
                    #{id},
                </if>
                <if test="authName!=null">
                    #{authName},
                </if>
                <if test="authLevel!=null">
                    #{authLevel},
                </if>
                <if test="authUrl!=null">
                    #{authUrl},
                </if>
                <if test="authParentId!=null">
                    #{authParentId},
                </if>
                <if test="authDescription!=null">
                    #{authDescription},
                </if>
                <if test="state!=null">
                    #{state},
                </if>
                <if test="iconCls!=null">
                    #{iconCls},
                </if>
        </trim>
        )
    </insert>




    <update id="updateAuth">
        UPDATE `wms_auth`
        SET
        <trim suffixOverrides=",">
            <if test="authName != null and authName!=''">
                `auth_name` = #{authName},
            </if>
            <if test="authLevel != null and authLevel!=''">
                `auth_level` = #{authLevel},
            </if>
            <if test="authUrl != null and authUrl!=''">
                `auth_url` = #{authUrl},
            </if>
            <if test="authParentId != null">
                `auth_parent_id` = #{authParentId},
            </if>
            <if test="authDescription != null and authDescription!=''">
                `auth_description` = #{authDescription},
            </if>
            <if test="state != null and state!=''">
                `state` = #{state},
            </if>
            <if test="iconCls != null and iconCls!=''">
                `icon_cls` = #{iconCls},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
                `id` = #{id} and
        </trim>
    </update>

    <update id="update">
        UPDATE `wms_auth`
        SET
        <trim suffixOverrides=",">
        <if test="set.authName != null and set.authName!=''">
            `auth_name` = #{set.authName},
        </if>
        <if test="set.authLevel != null and set.authLevel!=''">
            `auth_level` = #{set.authLevel},
        </if>
        <if test="set.authUrl != null and set.authUrl!=''">
            `auth_url` = #{set.authUrl},
        </if>
        <if test="set.authParentId != null">
            `auth_parent_id` = #{set.authParentId},
        </if>
        <if test="set.authDescription != null and set.authDescription!=''">
            `auth_description` = #{set.authDescription},
        </if>
        <if test="set.state != null and set.state!=''">
            `state` = #{set.state},
        </if>
        <if test="set.iconCls != null and set.iconCls!=''">
            `icon_cls` = #{set.iconCls},
        </if>
        </trim>
        <trim prefix="where" suffixOverrides="and | or">
                <if test="where.idList != null">
                    `id` in
                    <foreach collection="where.idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.idSt !=null">
                `id` >= #{where.idSt} and
            </if>
            <if test="where.idEd!=null">
                `id` &lt;= #{where.idEd} and
            </if>
                <if test="where.authNameList != null">
                    `auth_name` in
                    <foreach collection="where.authNameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyAuthName!=null and where.fuzzyAuthName.size()>0">
                (
                <foreach collection="where.fuzzyAuthName"  separator="or" item="item">
                    `Auth_name` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyAuthName!=null and where.rightFuzzyAuthName.size()>0">
                (
                <foreach collection="where.rightFuzzyAuthName"  separator="or" item="item">
                    `Auth_name` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.authLevelList != null">
                    `auth_level` in
                    <foreach collection="where.authLevelList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyAuthLevel!=null and where.fuzzyAuthLevel.size()>0">
                (
                <foreach collection="where.fuzzyAuthLevel"  separator="or" item="item">
                    `Auth_level` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyAuthLevel!=null and where.rightFuzzyAuthLevel.size()>0">
                (
                <foreach collection="where.rightFuzzyAuthLevel"  separator="or" item="item">
                    `Auth_level` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.authUrlList != null">
                    `auth_url` in
                    <foreach collection="where.authUrlList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyAuthUrl!=null and where.fuzzyAuthUrl.size()>0">
                (
                <foreach collection="where.fuzzyAuthUrl"  separator="or" item="item">
                    `Auth_url` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyAuthUrl!=null and where.rightFuzzyAuthUrl.size()>0">
                (
                <foreach collection="where.rightFuzzyAuthUrl"  separator="or" item="item">
                    `Auth_url` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.authParentIdList != null">
                    `auth_parent_id` in
                    <foreach collection="where.authParentIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.authParentIdSt !=null">
                `auth_parent_id` >= #{where.authParentIdSt} and
            </if>
            <if test="where.authParentIdEd!=null">
                `auth_parent_id` &lt;= #{where.authParentIdEd} and
            </if>
                <if test="where.authDescriptionList != null">
                    `auth_description` in
                    <foreach collection="where.authDescriptionList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyAuthDescription!=null and where.fuzzyAuthDescription.size()>0">
                (
                <foreach collection="where.fuzzyAuthDescription"  separator="or" item="item">
                    `Auth_description` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyAuthDescription!=null and where.rightFuzzyAuthDescription.size()>0">
                (
                <foreach collection="where.rightFuzzyAuthDescription"  separator="or" item="item">
                    `Auth_description` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.stateList != null">
                    `state` in
                    <foreach collection="where.stateList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyState!=null and where.fuzzyState.size()>0">
                (
                <foreach collection="where.fuzzyState"  separator="or" item="item">
                    `State` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyState!=null and where.rightFuzzyState.size()>0">
                (
                <foreach collection="where.rightFuzzyState"  separator="or" item="item">
                    `State` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.iconClsList != null">
                    `icon_cls` in
                    <foreach collection="where.iconClsList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyIconCls!=null and where.fuzzyIconCls.size()>0">
                (
                <foreach collection="where.fuzzyIconCls"  separator="or" item="item">
                    `Icon_cls` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyIconCls!=null and where.rightFuzzyIconCls.size()>0">
                (
                <foreach collection="where.rightFuzzyIconCls"  separator="or" item="item">
                    `Icon_cls` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
        </trim>
    </update>


    <resultMap type="com.gamc.efactory.model.dataObject.Auth" id="AuthMap">
        <result property="id" column="id"/>
        <result property="authName" column="auth_name"/>
        <result property="authLevel" column="auth_level"/>
        <result property="authUrl" column="auth_url"/>
        <result property="authParentId" column="auth_parent_id"/>
        <result property="authDescription" column="auth_description"/>
        <result property="state" column="state"/>
        <result property="iconCls" column="icon_cls"/>
    </resultMap>


    <select id="queryAuth" resultMap="AuthMap">
        select
        <include refid="baseResult"></include>
        from  `wms_auth`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="authName != null and authName!=''">
                `auth_name` = #{authName} and
            </if>
            <if test="authLevel != null and authLevel!=''">
                `auth_level` = #{authLevel} and
            </if>
            <if test="authUrl != null and authUrl!=''">
                `auth_url` = #{authUrl} and
            </if>
            <if test="authParentId != null">
                `auth_parent_id` = #{authParentId} and
            </if>
            <if test="authDescription != null and authDescription!=''">
                `auth_description` = #{authDescription} and
            </if>
            <if test="state != null and state!=''">
                `state` = #{state} and
            </if>
            <if test="iconCls != null and iconCls!=''">
                `icon_cls` = #{iconCls} and
            </if>
            <if test = "(_parameter instanceof com.gamc.efactory.model.dataObject.Auth$QueryBuilder) == true">
                <if test="idList != null">
                    `id` in
                    <foreach collection="idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                <if test="authNameList != null">
                    `auth_name` in
                    <foreach collection="authNameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyAuthName!=null and fuzzyAuthName.size()>0">
                    (
                    <foreach collection="fuzzyAuthName"  separator="or" item="item">
                        `Auth_name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyAuthName!=null and rightFuzzyAuthName.size()>0">
                    (
                    <foreach collection="rightFuzzyAuthName"  separator="or" item="item">
                        `Auth_name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="authLevelList != null">
                    `auth_level` in
                    <foreach collection="authLevelList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyAuthLevel!=null and fuzzyAuthLevel.size()>0">
                    (
                    <foreach collection="fuzzyAuthLevel"  separator="or" item="item">
                        `Auth_level` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyAuthLevel!=null and rightFuzzyAuthLevel.size()>0">
                    (
                    <foreach collection="rightFuzzyAuthLevel"  separator="or" item="item">
                        `Auth_level` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="authUrlList != null">
                    `auth_url` in
                    <foreach collection="authUrlList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyAuthUrl!=null and fuzzyAuthUrl.size()>0">
                    (
                    <foreach collection="fuzzyAuthUrl"  separator="or" item="item">
                        `Auth_url` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyAuthUrl!=null and rightFuzzyAuthUrl.size()>0">
                    (
                    <foreach collection="rightFuzzyAuthUrl"  separator="or" item="item">
                        `Auth_url` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="authParentIdList != null">
                    `auth_parent_id` in
                    <foreach collection="authParentIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="authParentIdSt !=null">
                    `auth_parent_id` >= #{authParentIdSt} and
                </if>
                <if test="authParentIdEd!=null">
                    `auth_parent_id` &lt;= #{authParentIdEd} and
                </if>
                <if test="authDescriptionList != null">
                    `auth_description` in
                    <foreach collection="authDescriptionList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyAuthDescription!=null and fuzzyAuthDescription.size()>0">
                    (
                    <foreach collection="fuzzyAuthDescription"  separator="or" item="item">
                        `Auth_description` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyAuthDescription!=null and rightFuzzyAuthDescription.size()>0">
                    (
                    <foreach collection="rightFuzzyAuthDescription"  separator="or" item="item">
                        `Auth_description` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="stateList != null">
                    `state` in
                    <foreach collection="stateList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyState!=null and fuzzyState.size()>0">
                    (
                    <foreach collection="fuzzyState"  separator="or" item="item">
                        `State` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyState!=null and rightFuzzyState.size()>0">
                    (
                    <foreach collection="rightFuzzyState"  separator="or" item="item">
                        `State` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="iconClsList != null">
                    `icon_cls` in
                    <foreach collection="iconClsList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyIconCls!=null and fuzzyIconCls.size()>0">
                    (
                    <foreach collection="fuzzyIconCls"  separator="or" item="item">
                        `Icon_cls` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyIconCls!=null and rightFuzzyIconCls.size()>0">
                    (
                    <foreach collection="rightFuzzyIconCls"  separator="or" item="item">
                        `Icon_cls` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
    </select>

    <select id="queryAuthLimit1" resultMap="AuthMap">
        select
        <include refid="baseResult"></include>
        from  `wms_auth`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="authName != null and authName!=''">
                `auth_name` = #{authName} and
            </if>
            <if test="authLevel != null and authLevel!=''">
                `auth_level` = #{authLevel} and
            </if>
            <if test="authUrl != null and authUrl!=''">
                `auth_url` = #{authUrl} and
            </if>
            <if test="authParentId != null">
                `auth_parent_id` = #{authParentId} and
            </if>
            <if test="authDescription != null and authDescription!=''">
                `auth_description` = #{authDescription} and
            </if>
            <if test="state != null and state!=''">
                `state` = #{state} and
            </if>
            <if test="iconCls != null and iconCls!=''">
                `icon_cls` = #{iconCls} and
            </if>
            <if test = "(_parameter instanceof com.gamc.efactory.model.dataObject.Auth$QueryBuilder) == true">
                    <if test="idList != null">
                        `id` in
                        <foreach collection="idList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                    <if test="authNameList != null">
                        `auth_name` in
                        <foreach collection="authNameList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyAuthName!=null and fuzzyAuthName.size()>0">
                    (
                    <foreach collection="fuzzyAuthName"  separator="or" item="item">
                        `Auth_name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyAuthName!=null and rightFuzzyAuthName.size()>0">
                    (
                    <foreach collection="rightFuzzyAuthName"  separator="or" item="item">
                        `Auth_name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="authLevelList != null">
                        `auth_level` in
                        <foreach collection="authLevelList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyAuthLevel!=null and fuzzyAuthLevel.size()>0">
                    (
                    <foreach collection="fuzzyAuthLevel"  separator="or" item="item">
                        `Auth_level` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyAuthLevel!=null and rightFuzzyAuthLevel.size()>0">
                    (
                    <foreach collection="rightFuzzyAuthLevel"  separator="or" item="item">
                        `Auth_level` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="authUrlList != null">
                        `auth_url` in
                        <foreach collection="authUrlList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyAuthUrl!=null and fuzzyAuthUrl.size()>0">
                    (
                    <foreach collection="fuzzyAuthUrl"  separator="or" item="item">
                        `Auth_url` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyAuthUrl!=null and rightFuzzyAuthUrl.size()>0">
                    (
                    <foreach collection="rightFuzzyAuthUrl"  separator="or" item="item">
                        `Auth_url` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="authParentIdList != null">
                        `auth_parent_id` in
                        <foreach collection="authParentIdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="authParentIdSt !=null">
                    `auth_parent_id` >= #{authParentIdSt} and
                </if>
                <if test="authParentIdEd!=null">
                    `auth_parent_id` &lt;= #{authParentIdEd} and
                </if>
                    <if test="authDescriptionList != null">
                        `auth_description` in
                        <foreach collection="authDescriptionList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyAuthDescription!=null and fuzzyAuthDescription.size()>0">
                    (
                    <foreach collection="fuzzyAuthDescription"  separator="or" item="item">
                        `Auth_description` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyAuthDescription!=null and rightFuzzyAuthDescription.size()>0">
                    (
                    <foreach collection="rightFuzzyAuthDescription"  separator="or" item="item">
                        `Auth_description` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="stateList != null">
                        `state` in
                        <foreach collection="stateList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyState!=null and fuzzyState.size()>0">
                    (
                    <foreach collection="fuzzyState"  separator="or" item="item">
                        `State` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyState!=null and rightFuzzyState.size()>0">
                    (
                    <foreach collection="rightFuzzyState"  separator="or" item="item">
                        `State` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="iconClsList != null">
                        `icon_cls` in
                        <foreach collection="iconClsList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyIconCls!=null and fuzzyIconCls.size()>0">
                    (
                    <foreach collection="fuzzyIconCls"  separator="or" item="item">
                        `Icon_cls` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyIconCls!=null and rightFuzzyIconCls.size()>0">
                    (
                    <foreach collection="rightFuzzyIconCls"  separator="or" item="item">
                        `Icon_cls` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        `id`,
        `auth_name`,
        `auth_level`,
        `auth_url`,
        `auth_parent_id`,
        `auth_description`,
        `state`,
        `icon_cls`,
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof com.gamc.efactory.model.dataObject.Auth$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.id==true">
                        `id`,
                    </if>
                    <if test="fetchFields.fetchFields.authName==true">
                        `auth_name`,
                    </if>
                    <if test="fetchFields.fetchFields.authLevel==true">
                        `auth_level`,
                    </if>
                    <if test="fetchFields.fetchFields.authUrl==true">
                        `auth_url`,
                    </if>
                    <if test="fetchFields.fetchFields.authParentId==true">
                        `auth_parent_id`,
                    </if>
                    <if test="fetchFields.fetchFields.authDescription==true">
                        `auth_description`,
                    </if>
                    <if test="fetchFields.fetchFields.state==true">
                        `state`,
                    </if>
                    <if test="fetchFields.fetchFields.iconCls==true">
                        `icon_cls`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.id==null">
                        `id`,
                    </if>
                    <if test="fetchFields.excludeFields.authName==null">
                        `auth_name`,
                    </if>
                    <if test="fetchFields.excludeFields.authLevel==null">
                        `auth_level`,
                    </if>
                    <if test="fetchFields.excludeFields.authUrl==null">
                        `auth_url`,
                    </if>
                    <if test="fetchFields.excludeFields.authParentId==null">
                        `auth_parent_id`,
                    </if>
                    <if test="fetchFields.excludeFields.authDescription==null">
                        `auth_description`,
                    </if>
                    <if test="fetchFields.excludeFields.state==null">
                        `state`,
                    </if>
                    <if test="fetchFields.excludeFields.iconCls==null">
                        `icon_cls`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof com.gamc.efactory.model.dataObject.Auth$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>


</mapper>