<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamc.efactory.dao.base.MaterialContractBaseMapper">


    <insert id="insertMaterialContract"  useGeneratedKeys="true" keyProperty="materialContractId">
        INSERT INTO `wms_material_contract`
        (
        <trim suffixOverrides=",">
                    <if test="materialContractId!=null">
                        `material_contract_id`,
                    </if>
                    <if test="materialCode!=null">
                        `material_code`,
                    </if>
                    <if test="materialName!=null">
                        `material_name`,
                    </if>
                    <if test="materialSpecs!=null">
                        `material_specs`,
                    </if>
                    <if test="materialBrand!=null">
                        `material_brand`,
                    </if>
                    <if test="materialUnit!=null">
                        `material_unit`,
                    </if>
                    <if test="materialOrderMinNum!=null">
                        `material_order_min_num`,
                    </if>
                    <if test="materialLeadTime!=null">
                        `material_lead_time`,
                    </if>
                    <if test="supplierCode!=null">
                        `supplier_code`,
                    </if>
                    <if test="supplierName!=null">
                        `supplier_name`,
                    </if>
                    <if test="materialBuyer!=null">
                        `material_buyer`,
                    </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
                <if test="materialContractId!=null">
                    #{materialContractId},
                </if>
                <if test="materialCode!=null">
                    #{materialCode},
                </if>
                <if test="materialName!=null">
                    #{materialName},
                </if>
                <if test="materialSpecs!=null">
                    #{materialSpecs},
                </if>
                <if test="materialBrand!=null">
                    #{materialBrand},
                </if>
                <if test="materialUnit!=null">
                    #{materialUnit},
                </if>
                <if test="materialOrderMinNum!=null">
                    #{materialOrderMinNum},
                </if>
                <if test="materialLeadTime!=null">
                    #{materialLeadTime},
                </if>
                <if test="supplierCode!=null">
                    #{supplierCode},
                </if>
                <if test="supplierName!=null">
                    #{supplierName},
                </if>
                <if test="materialBuyer!=null">
                    #{materialBuyer},
                </if>
        </trim>
        )
    </insert>




    <update id="updateMaterialContract">
        UPDATE `wms_material_contract`
        SET
        <trim suffixOverrides=",">
            <if test="materialCode != null and materialCode!=''">
                `material_code` = #{materialCode},
            </if>
            <if test="materialName != null and materialName!=''">
                `material_name` = #{materialName},
            </if>
            <if test="materialSpecs != null and materialSpecs!=''">
                `material_specs` = #{materialSpecs},
            </if>
            <if test="materialBrand != null and materialBrand!=''">
                `material_brand` = #{materialBrand},
            </if>
            <if test="materialUnit != null and materialUnit!=''">
                `material_unit` = #{materialUnit},
            </if>
            <if test="materialOrderMinNum != null and materialOrderMinNum!=''">
                `material_order_min_num` = #{materialOrderMinNum},
            </if>
            <if test="materialLeadTime != null and materialLeadTime!=''">
                `material_lead_time` = #{materialLeadTime},
            </if>
            <if test="supplierCode != null and supplierCode!=''">
                `supplier_code` = #{supplierCode},
            </if>
            <if test="supplierName != null and supplierName!=''">
                `supplier_name` = #{supplierName},
            </if>
            <if test="materialBuyer != null and materialBuyer!=''">
                `material_buyer` = #{materialBuyer},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
                `material_contract_id` = #{materialContractId} and
        </trim>
    </update>

    <update id="update">
        UPDATE `wms_material_contract`
        SET
        <trim suffixOverrides=",">
        <if test="set.materialCode != null and set.materialCode!=''">
            `material_code` = #{set.materialCode},
        </if>
        <if test="set.materialName != null and set.materialName!=''">
            `material_name` = #{set.materialName},
        </if>
        <if test="set.materialSpecs != null and set.materialSpecs!=''">
            `material_specs` = #{set.materialSpecs},
        </if>
        <if test="set.materialBrand != null and set.materialBrand!=''">
            `material_brand` = #{set.materialBrand},
        </if>
        <if test="set.materialUnit != null and set.materialUnit!=''">
            `material_unit` = #{set.materialUnit},
        </if>
        <if test="set.materialOrderMinNum != null and set.materialOrderMinNum!=''">
            `material_order_min_num` = #{set.materialOrderMinNum},
        </if>
        <if test="set.materialLeadTime != null and set.materialLeadTime!=''">
            `material_lead_time` = #{set.materialLeadTime},
        </if>
        <if test="set.supplierCode != null and set.supplierCode!=''">
            `supplier_code` = #{set.supplierCode},
        </if>
        <if test="set.supplierName != null and set.supplierName!=''">
            `supplier_name` = #{set.supplierName},
        </if>
        <if test="set.materialBuyer != null and set.materialBuyer!=''">
            `material_buyer` = #{set.materialBuyer},
        </if>
        </trim>
        <trim prefix="where" suffixOverrides="and | or">
                <if test="where.materialContractIdList != null">
                    `material_contract_id` in
                    <foreach collection="where.materialContractIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.materialContractIdSt !=null">
                `material_contract_id` >= #{where.materialContractIdSt} and
            </if>
            <if test="where.materialContractIdEd!=null">
                `material_contract_id` &lt;= #{where.materialContractIdEd} and
            </if>
                <if test="where.materialCodeList != null">
                    `material_code` in
                    <foreach collection="where.materialCodeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyMaterialCode!=null and where.fuzzyMaterialCode.size()>0">
                (
                <foreach collection="where.fuzzyMaterialCode"  separator="or" item="item">
                    `Material_code` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyMaterialCode!=null and where.rightFuzzyMaterialCode.size()>0">
                (
                <foreach collection="where.rightFuzzyMaterialCode"  separator="or" item="item">
                    `Material_code` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.materialNameList != null">
                    `material_name` in
                    <foreach collection="where.materialNameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyMaterialName!=null and where.fuzzyMaterialName.size()>0">
                (
                <foreach collection="where.fuzzyMaterialName"  separator="or" item="item">
                    `Material_name` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyMaterialName!=null and where.rightFuzzyMaterialName.size()>0">
                (
                <foreach collection="where.rightFuzzyMaterialName"  separator="or" item="item">
                    `Material_name` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.materialSpecsList != null">
                    `material_specs` in
                    <foreach collection="where.materialSpecsList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyMaterialSpecs!=null and where.fuzzyMaterialSpecs.size()>0">
                (
                <foreach collection="where.fuzzyMaterialSpecs"  separator="or" item="item">
                    `Material_specs` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyMaterialSpecs!=null and where.rightFuzzyMaterialSpecs.size()>0">
                (
                <foreach collection="where.rightFuzzyMaterialSpecs"  separator="or" item="item">
                    `Material_specs` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.materialBrandList != null">
                    `material_brand` in
                    <foreach collection="where.materialBrandList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyMaterialBrand!=null and where.fuzzyMaterialBrand.size()>0">
                (
                <foreach collection="where.fuzzyMaterialBrand"  separator="or" item="item">
                    `Material_brand` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyMaterialBrand!=null and where.rightFuzzyMaterialBrand.size()>0">
                (
                <foreach collection="where.rightFuzzyMaterialBrand"  separator="or" item="item">
                    `Material_brand` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.materialUnitList != null">
                    `material_unit` in
                    <foreach collection="where.materialUnitList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyMaterialUnit!=null and where.fuzzyMaterialUnit.size()>0">
                (
                <foreach collection="where.fuzzyMaterialUnit"  separator="or" item="item">
                    `Material_unit` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyMaterialUnit!=null and where.rightFuzzyMaterialUnit.size()>0">
                (
                <foreach collection="where.rightFuzzyMaterialUnit"  separator="or" item="item">
                    `Material_unit` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.materialOrderMinNumList != null">
                    `material_order_min_num` in
                    <foreach collection="where.materialOrderMinNumList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyMaterialOrderMinNum!=null and where.fuzzyMaterialOrderMinNum.size()>0">
                (
                <foreach collection="where.fuzzyMaterialOrderMinNum"  separator="or" item="item">
                    `Material_order_min_num` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyMaterialOrderMinNum!=null and where.rightFuzzyMaterialOrderMinNum.size()>0">
                (
                <foreach collection="where.rightFuzzyMaterialOrderMinNum"  separator="or" item="item">
                    `Material_order_min_num` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.materialLeadTimeList != null">
                    `material_lead_time` in
                    <foreach collection="where.materialLeadTimeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyMaterialLeadTime!=null and where.fuzzyMaterialLeadTime.size()>0">
                (
                <foreach collection="where.fuzzyMaterialLeadTime"  separator="or" item="item">
                    `Material_lead_time` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyMaterialLeadTime!=null and where.rightFuzzyMaterialLeadTime.size()>0">
                (
                <foreach collection="where.rightFuzzyMaterialLeadTime"  separator="or" item="item">
                    `Material_lead_time` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.supplierCodeList != null">
                    `supplier_code` in
                    <foreach collection="where.supplierCodeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzySupplierCode!=null and where.fuzzySupplierCode.size()>0">
                (
                <foreach collection="where.fuzzySupplierCode"  separator="or" item="item">
                    `Supplier_code` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzySupplierCode!=null and where.rightFuzzySupplierCode.size()>0">
                (
                <foreach collection="where.rightFuzzySupplierCode"  separator="or" item="item">
                    `Supplier_code` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.supplierNameList != null">
                    `supplier_name` in
                    <foreach collection="where.supplierNameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzySupplierName!=null and where.fuzzySupplierName.size()>0">
                (
                <foreach collection="where.fuzzySupplierName"  separator="or" item="item">
                    `Supplier_name` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzySupplierName!=null and where.rightFuzzySupplierName.size()>0">
                (
                <foreach collection="where.rightFuzzySupplierName"  separator="or" item="item">
                    `Supplier_name` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.materialBuyerList != null">
                    `material_buyer` in
                    <foreach collection="where.materialBuyerList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyMaterialBuyer!=null and where.fuzzyMaterialBuyer.size()>0">
                (
                <foreach collection="where.fuzzyMaterialBuyer"  separator="or" item="item">
                    `Material_buyer` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyMaterialBuyer!=null and where.rightFuzzyMaterialBuyer.size()>0">
                (
                <foreach collection="where.rightFuzzyMaterialBuyer"  separator="or" item="item">
                    `Material_buyer` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
        </trim>
    </update>


    <resultMap type="com.gamc.efactory.model.dataObject.MaterialContract" id="MaterialContractMap">
        <result property="materialContractId" column="material_contract_id"/>
        <result property="materialCode" column="material_code"/>
        <result property="materialName" column="material_name"/>
        <result property="materialSpecs" column="material_specs"/>
        <result property="materialBrand" column="material_brand"/>
        <result property="materialUnit" column="material_unit"/>
        <result property="materialOrderMinNum" column="material_order_min_num"/>
        <result property="materialLeadTime" column="material_lead_time"/>
        <result property="supplierCode" column="supplier_code"/>
        <result property="supplierName" column="supplier_name"/>
        <result property="materialBuyer" column="material_buyer"/>
    </resultMap>


    <select id="queryMaterialContract" resultMap="MaterialContractMap">
        select
        <include refid="baseResult"></include>
        from  `wms_material_contract`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="materialContractId != null">
                `material_contract_id` = #{materialContractId} and
            </if>
            <if test="materialCode != null and materialCode!=''">
                `material_code` = #{materialCode} and
            </if>
            <if test="materialName != null and materialName!=''">
                `material_name` = #{materialName} and
            </if>
            <if test="materialSpecs != null and materialSpecs!=''">
                `material_specs` = #{materialSpecs} and
            </if>
            <if test="materialBrand != null and materialBrand!=''">
                `material_brand` = #{materialBrand} and
            </if>
            <if test="materialUnit != null and materialUnit!=''">
                `material_unit` = #{materialUnit} and
            </if>
            <if test="materialOrderMinNum != null and materialOrderMinNum!=''">
                `material_order_min_num` = #{materialOrderMinNum} and
            </if>
            <if test="materialLeadTime != null and materialLeadTime!=''">
                `material_lead_time` = #{materialLeadTime} and
            </if>
            <if test="supplierCode != null and supplierCode!=''">
                `supplier_code` = #{supplierCode} and
            </if>
            <if test="supplierName != null and supplierName!=''">
                `supplier_name` = #{supplierName} and
            </if>
            <if test="materialBuyer != null and materialBuyer!=''">
                `material_buyer` = #{materialBuyer} and
            </if>
            <if test = "(_parameter instanceof com.gamc.efactory.model.dataObject.MaterialContract$QueryBuilder) == true">
                <if test="materialContractIdList != null">
                    `material_contract_id` in
                    <foreach collection="materialContractIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="materialContractIdSt !=null">
                    `material_contract_id` >= #{materialContractIdSt} and
                </if>
                <if test="materialContractIdEd!=null">
                    `material_contract_id` &lt;= #{materialContractIdEd} and
                </if>
                <if test="materialCodeList != null">
                    `material_code` in
                    <foreach collection="materialCodeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyMaterialCode!=null and fuzzyMaterialCode.size()>0">
                    (
                    <foreach collection="fuzzyMaterialCode"  separator="or" item="item">
                        `Material_code` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyMaterialCode!=null and rightFuzzyMaterialCode.size()>0">
                    (
                    <foreach collection="rightFuzzyMaterialCode"  separator="or" item="item">
                        `Material_code` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="materialNameList != null">
                    `material_name` in
                    <foreach collection="materialNameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyMaterialName!=null and fuzzyMaterialName.size()>0">
                    (
                    <foreach collection="fuzzyMaterialName"  separator="or" item="item">
                        `Material_name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyMaterialName!=null and rightFuzzyMaterialName.size()>0">
                    (
                    <foreach collection="rightFuzzyMaterialName"  separator="or" item="item">
                        `Material_name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="materialSpecsList != null">
                    `material_specs` in
                    <foreach collection="materialSpecsList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyMaterialSpecs!=null and fuzzyMaterialSpecs.size()>0">
                    (
                    <foreach collection="fuzzyMaterialSpecs"  separator="or" item="item">
                        `Material_specs` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyMaterialSpecs!=null and rightFuzzyMaterialSpecs.size()>0">
                    (
                    <foreach collection="rightFuzzyMaterialSpecs"  separator="or" item="item">
                        `Material_specs` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="materialBrandList != null">
                    `material_brand` in
                    <foreach collection="materialBrandList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyMaterialBrand!=null and fuzzyMaterialBrand.size()>0">
                    (
                    <foreach collection="fuzzyMaterialBrand"  separator="or" item="item">
                        `Material_brand` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyMaterialBrand!=null and rightFuzzyMaterialBrand.size()>0">
                    (
                    <foreach collection="rightFuzzyMaterialBrand"  separator="or" item="item">
                        `Material_brand` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="materialUnitList != null">
                    `material_unit` in
                    <foreach collection="materialUnitList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyMaterialUnit!=null and fuzzyMaterialUnit.size()>0">
                    (
                    <foreach collection="fuzzyMaterialUnit"  separator="or" item="item">
                        `Material_unit` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyMaterialUnit!=null and rightFuzzyMaterialUnit.size()>0">
                    (
                    <foreach collection="rightFuzzyMaterialUnit"  separator="or" item="item">
                        `Material_unit` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="materialOrderMinNumList != null">
                    `material_order_min_num` in
                    <foreach collection="materialOrderMinNumList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyMaterialOrderMinNum!=null and fuzzyMaterialOrderMinNum.size()>0">
                    (
                    <foreach collection="fuzzyMaterialOrderMinNum"  separator="or" item="item">
                        `Material_order_min_num` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyMaterialOrderMinNum!=null and rightFuzzyMaterialOrderMinNum.size()>0">
                    (
                    <foreach collection="rightFuzzyMaterialOrderMinNum"  separator="or" item="item">
                        `Material_order_min_num` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="materialLeadTimeList != null">
                    `material_lead_time` in
                    <foreach collection="materialLeadTimeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyMaterialLeadTime!=null and fuzzyMaterialLeadTime.size()>0">
                    (
                    <foreach collection="fuzzyMaterialLeadTime"  separator="or" item="item">
                        `Material_lead_time` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyMaterialLeadTime!=null and rightFuzzyMaterialLeadTime.size()>0">
                    (
                    <foreach collection="rightFuzzyMaterialLeadTime"  separator="or" item="item">
                        `Material_lead_time` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="supplierCodeList != null">
                    `supplier_code` in
                    <foreach collection="supplierCodeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzySupplierCode!=null and fuzzySupplierCode.size()>0">
                    (
                    <foreach collection="fuzzySupplierCode"  separator="or" item="item">
                        `Supplier_code` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzySupplierCode!=null and rightFuzzySupplierCode.size()>0">
                    (
                    <foreach collection="rightFuzzySupplierCode"  separator="or" item="item">
                        `Supplier_code` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="supplierNameList != null">
                    `supplier_name` in
                    <foreach collection="supplierNameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzySupplierName!=null and fuzzySupplierName.size()>0">
                    (
                    <foreach collection="fuzzySupplierName"  separator="or" item="item">
                        `Supplier_name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzySupplierName!=null and rightFuzzySupplierName.size()>0">
                    (
                    <foreach collection="rightFuzzySupplierName"  separator="or" item="item">
                        `Supplier_name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="materialBuyerList != null">
                    `material_buyer` in
                    <foreach collection="materialBuyerList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyMaterialBuyer!=null and fuzzyMaterialBuyer.size()>0">
                    (
                    <foreach collection="fuzzyMaterialBuyer"  separator="or" item="item">
                        `Material_buyer` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyMaterialBuyer!=null and rightFuzzyMaterialBuyer.size()>0">
                    (
                    <foreach collection="rightFuzzyMaterialBuyer"  separator="or" item="item">
                        `Material_buyer` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
    </select>

    <select id="queryMaterialContractLimit1" resultMap="MaterialContractMap">
        select
        <include refid="baseResult"></include>
        from  `wms_material_contract`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="materialContractId != null">
                `material_contract_id` = #{materialContractId} and
            </if>
            <if test="materialCode != null and materialCode!=''">
                `material_code` = #{materialCode} and
            </if>
            <if test="materialName != null and materialName!=''">
                `material_name` = #{materialName} and
            </if>
            <if test="materialSpecs != null and materialSpecs!=''">
                `material_specs` = #{materialSpecs} and
            </if>
            <if test="materialBrand != null and materialBrand!=''">
                `material_brand` = #{materialBrand} and
            </if>
            <if test="materialUnit != null and materialUnit!=''">
                `material_unit` = #{materialUnit} and
            </if>
            <if test="materialOrderMinNum != null and materialOrderMinNum!=''">
                `material_order_min_num` = #{materialOrderMinNum} and
            </if>
            <if test="materialLeadTime != null and materialLeadTime!=''">
                `material_lead_time` = #{materialLeadTime} and
            </if>
            <if test="supplierCode != null and supplierCode!=''">
                `supplier_code` = #{supplierCode} and
            </if>
            <if test="supplierName != null and supplierName!=''">
                `supplier_name` = #{supplierName} and
            </if>
            <if test="materialBuyer != null and materialBuyer!=''">
                `material_buyer` = #{materialBuyer} and
            </if>
            <if test = "(_parameter instanceof com.gamc.efactory.model.dataObject.MaterialContract$QueryBuilder) == true">
                    <if test="materialContractIdList != null">
                        `material_contract_id` in
                        <foreach collection="materialContractIdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="materialContractIdSt !=null">
                    `material_contract_id` >= #{materialContractIdSt} and
                </if>
                <if test="materialContractIdEd!=null">
                    `material_contract_id` &lt;= #{materialContractIdEd} and
                </if>
                    <if test="materialCodeList != null">
                        `material_code` in
                        <foreach collection="materialCodeList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyMaterialCode!=null and fuzzyMaterialCode.size()>0">
                    (
                    <foreach collection="fuzzyMaterialCode"  separator="or" item="item">
                        `Material_code` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyMaterialCode!=null and rightFuzzyMaterialCode.size()>0">
                    (
                    <foreach collection="rightFuzzyMaterialCode"  separator="or" item="item">
                        `Material_code` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="materialNameList != null">
                        `material_name` in
                        <foreach collection="materialNameList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyMaterialName!=null and fuzzyMaterialName.size()>0">
                    (
                    <foreach collection="fuzzyMaterialName"  separator="or" item="item">
                        `Material_name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyMaterialName!=null and rightFuzzyMaterialName.size()>0">
                    (
                    <foreach collection="rightFuzzyMaterialName"  separator="or" item="item">
                        `Material_name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="materialSpecsList != null">
                        `material_specs` in
                        <foreach collection="materialSpecsList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyMaterialSpecs!=null and fuzzyMaterialSpecs.size()>0">
                    (
                    <foreach collection="fuzzyMaterialSpecs"  separator="or" item="item">
                        `Material_specs` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyMaterialSpecs!=null and rightFuzzyMaterialSpecs.size()>0">
                    (
                    <foreach collection="rightFuzzyMaterialSpecs"  separator="or" item="item">
                        `Material_specs` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="materialBrandList != null">
                        `material_brand` in
                        <foreach collection="materialBrandList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyMaterialBrand!=null and fuzzyMaterialBrand.size()>0">
                    (
                    <foreach collection="fuzzyMaterialBrand"  separator="or" item="item">
                        `Material_brand` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyMaterialBrand!=null and rightFuzzyMaterialBrand.size()>0">
                    (
                    <foreach collection="rightFuzzyMaterialBrand"  separator="or" item="item">
                        `Material_brand` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="materialUnitList != null">
                        `material_unit` in
                        <foreach collection="materialUnitList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyMaterialUnit!=null and fuzzyMaterialUnit.size()>0">
                    (
                    <foreach collection="fuzzyMaterialUnit"  separator="or" item="item">
                        `Material_unit` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyMaterialUnit!=null and rightFuzzyMaterialUnit.size()>0">
                    (
                    <foreach collection="rightFuzzyMaterialUnit"  separator="or" item="item">
                        `Material_unit` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="materialOrderMinNumList != null">
                        `material_order_min_num` in
                        <foreach collection="materialOrderMinNumList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyMaterialOrderMinNum!=null and fuzzyMaterialOrderMinNum.size()>0">
                    (
                    <foreach collection="fuzzyMaterialOrderMinNum"  separator="or" item="item">
                        `Material_order_min_num` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyMaterialOrderMinNum!=null and rightFuzzyMaterialOrderMinNum.size()>0">
                    (
                    <foreach collection="rightFuzzyMaterialOrderMinNum"  separator="or" item="item">
                        `Material_order_min_num` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="materialLeadTimeList != null">
                        `material_lead_time` in
                        <foreach collection="materialLeadTimeList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyMaterialLeadTime!=null and fuzzyMaterialLeadTime.size()>0">
                    (
                    <foreach collection="fuzzyMaterialLeadTime"  separator="or" item="item">
                        `Material_lead_time` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyMaterialLeadTime!=null and rightFuzzyMaterialLeadTime.size()>0">
                    (
                    <foreach collection="rightFuzzyMaterialLeadTime"  separator="or" item="item">
                        `Material_lead_time` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="supplierCodeList != null">
                        `supplier_code` in
                        <foreach collection="supplierCodeList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzySupplierCode!=null and fuzzySupplierCode.size()>0">
                    (
                    <foreach collection="fuzzySupplierCode"  separator="or" item="item">
                        `Supplier_code` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzySupplierCode!=null and rightFuzzySupplierCode.size()>0">
                    (
                    <foreach collection="rightFuzzySupplierCode"  separator="or" item="item">
                        `Supplier_code` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="supplierNameList != null">
                        `supplier_name` in
                        <foreach collection="supplierNameList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzySupplierName!=null and fuzzySupplierName.size()>0">
                    (
                    <foreach collection="fuzzySupplierName"  separator="or" item="item">
                        `Supplier_name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzySupplierName!=null and rightFuzzySupplierName.size()>0">
                    (
                    <foreach collection="rightFuzzySupplierName"  separator="or" item="item">
                        `Supplier_name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="materialBuyerList != null">
                        `material_buyer` in
                        <foreach collection="materialBuyerList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyMaterialBuyer!=null and fuzzyMaterialBuyer.size()>0">
                    (
                    <foreach collection="fuzzyMaterialBuyer"  separator="or" item="item">
                        `Material_buyer` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyMaterialBuyer!=null and rightFuzzyMaterialBuyer.size()>0">
                    (
                    <foreach collection="rightFuzzyMaterialBuyer"  separator="or" item="item">
                        `Material_buyer` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        `material_contract_id`,
        `material_code`,
        `material_name`,
        `material_specs`,
        `material_brand`,
        `material_unit`,
        `material_order_min_num`,
        `material_lead_time`,
        `supplier_code`,
        `supplier_name`,
        `material_buyer`,
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof com.gamc.efactory.model.dataObject.MaterialContract$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.materialContractId==true">
                        `material_contract_id`,
                    </if>
                    <if test="fetchFields.fetchFields.materialCode==true">
                        `material_code`,
                    </if>
                    <if test="fetchFields.fetchFields.materialName==true">
                        `material_name`,
                    </if>
                    <if test="fetchFields.fetchFields.materialSpecs==true">
                        `material_specs`,
                    </if>
                    <if test="fetchFields.fetchFields.materialBrand==true">
                        `material_brand`,
                    </if>
                    <if test="fetchFields.fetchFields.materialUnit==true">
                        `material_unit`,
                    </if>
                    <if test="fetchFields.fetchFields.materialOrderMinNum==true">
                        `material_order_min_num`,
                    </if>
                    <if test="fetchFields.fetchFields.materialLeadTime==true">
                        `material_lead_time`,
                    </if>
                    <if test="fetchFields.fetchFields.supplierCode==true">
                        `supplier_code`,
                    </if>
                    <if test="fetchFields.fetchFields.supplierName==true">
                        `supplier_name`,
                    </if>
                    <if test="fetchFields.fetchFields.materialBuyer==true">
                        `material_buyer`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.materialContractId==null">
                        `material_contract_id`,
                    </if>
                    <if test="fetchFields.excludeFields.materialCode==null">
                        `material_code`,
                    </if>
                    <if test="fetchFields.excludeFields.materialName==null">
                        `material_name`,
                    </if>
                    <if test="fetchFields.excludeFields.materialSpecs==null">
                        `material_specs`,
                    </if>
                    <if test="fetchFields.excludeFields.materialBrand==null">
                        `material_brand`,
                    </if>
                    <if test="fetchFields.excludeFields.materialUnit==null">
                        `material_unit`,
                    </if>
                    <if test="fetchFields.excludeFields.materialOrderMinNum==null">
                        `material_order_min_num`,
                    </if>
                    <if test="fetchFields.excludeFields.materialLeadTime==null">
                        `material_lead_time`,
                    </if>
                    <if test="fetchFields.excludeFields.supplierCode==null">
                        `supplier_code`,
                    </if>
                    <if test="fetchFields.excludeFields.supplierName==null">
                        `supplier_name`,
                    </if>
                    <if test="fetchFields.excludeFields.materialBuyer==null">
                        `material_buyer`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof com.gamc.efactory.model.dataObject.MaterialContract$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>


</mapper>