<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamc.efactory.dao.base.MqmsTranProductionDecodeBaseMapper">


    <insert id="insertMqmsTranProductionDecode"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `mqms_tran_production_decode`
        (
        <trim suffixOverrides=",">
                    <if test="id!=null">
                        `id`,
                    </if>
                    <if test="tranProModel!=null">
                        `tran_pro_model`,
                    </if>
                    <if test="tranSingleCode!=null">
                        `tran_single_code`,
                    </if>
                    <if test="tranShortCode!=null">
                        `tran_shortCode`,
                    </if>
                    <if test="tranTypeDetail!=null">
                        `tran_type_detail`,
                    </if>
                    <if test="tranWarrantyYears!=null">
                        `tran_warranty_years`,
                    </if>
                    <if test="tranWarrantyMillege!=null">
                        `tran_warranty_millege`,
                    </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
                <if test="id!=null">
                    #{id},
                </if>
                <if test="tranProModel!=null">
                    #{tranProModel},
                </if>
                <if test="tranSingleCode!=null">
                    #{tranSingleCode},
                </if>
                <if test="tranShortCode!=null">
                    #{tranShortCode},
                </if>
                <if test="tranTypeDetail!=null">
                    #{tranTypeDetail},
                </if>
                <if test="tranWarrantyYears!=null">
                    #{tranWarrantyYears},
                </if>
                <if test="tranWarrantyMillege!=null">
                    #{tranWarrantyMillege},
                </if>
        </trim>
        )
    </insert>




    <update id="updateMqmsTranProductionDecode">
        UPDATE `mqms_tran_production_decode`
        SET
        <trim suffixOverrides=",">
            <if test="tranProModel != null and tranProModel!=''">
                `tran_pro_model` = #{tranProModel},
            </if>
            <if test="tranSingleCode != null and tranSingleCode!=''">
                `tran_single_code` = #{tranSingleCode},
            </if>
            <if test="tranShortCode != null and tranShortCode!=''">
                `tran_shortCode` = #{tranShortCode},
            </if>
            <if test="tranTypeDetail != null and tranTypeDetail!=''">
                `tran_type_detail` = #{tranTypeDetail},
            </if>
            <if test="tranWarrantyYears != null and tranWarrantyYears!=''">
                `tran_warranty_years` = #{tranWarrantyYears},
            </if>
            <if test="tranWarrantyMillege != null and tranWarrantyMillege!=''">
                `tran_warranty_millege` = #{tranWarrantyMillege},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
                `id` = #{id} and
        </trim>
    </update>

    <update id="update">
        UPDATE `mqms_tran_production_decode`
        SET
        <trim suffixOverrides=",">
        <if test="set.tranProModel != null and set.tranProModel!=''">
            `tran_pro_model` = #{set.tranProModel},
        </if>
        <if test="set.tranSingleCode != null and set.tranSingleCode!=''">
            `tran_single_code` = #{set.tranSingleCode},
        </if>
        <if test="set.tranShortCode != null and set.tranShortCode!=''">
            `tran_shortCode` = #{set.tranShortCode},
        </if>
        <if test="set.tranTypeDetail != null and set.tranTypeDetail!=''">
            `tran_type_detail` = #{set.tranTypeDetail},
        </if>
        <if test="set.tranWarrantyYears != null and set.tranWarrantyYears!=''">
            `tran_warranty_years` = #{set.tranWarrantyYears},
        </if>
        <if test="set.tranWarrantyMillege != null and set.tranWarrantyMillege!=''">
            `tran_warranty_millege` = #{set.tranWarrantyMillege},
        </if>
        </trim>
        <trim prefix="where" suffixOverrides="and | or">
                <if test="where.idList != null">
                    `id` in
                    <foreach collection="where.idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.idSt !=null">
                `id` >= #{where.idSt} and
            </if>
            <if test="where.idEd!=null">
                `id` &lt;= #{where.idEd} and
            </if>
                <if test="where.tranProModelList != null">
                    `tran_pro_model` in
                    <foreach collection="where.tranProModelList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyTranProModel!=null and where.fuzzyTranProModel.size()>0">
                (
                <foreach collection="where.fuzzyTranProModel"  separator="or" item="item">
                    `Tran_pro_model` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyTranProModel!=null and where.rightFuzzyTranProModel.size()>0">
                (
                <foreach collection="where.rightFuzzyTranProModel"  separator="or" item="item">
                    `Tran_pro_model` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.tranSingleCodeList != null">
                    `tran_single_code` in
                    <foreach collection="where.tranSingleCodeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyTranSingleCode!=null and where.fuzzyTranSingleCode.size()>0">
                (
                <foreach collection="where.fuzzyTranSingleCode"  separator="or" item="item">
                    `Tran_single_code` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyTranSingleCode!=null and where.rightFuzzyTranSingleCode.size()>0">
                (
                <foreach collection="where.rightFuzzyTranSingleCode"  separator="or" item="item">
                    `Tran_single_code` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.tranShortCodeList != null">
                    `tran_shortCode` in
                    <foreach collection="where.tranShortCodeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyTranShortCode!=null and where.fuzzyTranShortCode.size()>0">
                (
                <foreach collection="where.fuzzyTranShortCode"  separator="or" item="item">
                    `Tran_shortCode` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyTranShortCode!=null and where.rightFuzzyTranShortCode.size()>0">
                (
                <foreach collection="where.rightFuzzyTranShortCode"  separator="or" item="item">
                    `Tran_shortCode` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.tranTypeDetailList != null">
                    `tran_type_detail` in
                    <foreach collection="where.tranTypeDetailList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyTranTypeDetail!=null and where.fuzzyTranTypeDetail.size()>0">
                (
                <foreach collection="where.fuzzyTranTypeDetail"  separator="or" item="item">
                    `Tran_type_detail` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyTranTypeDetail!=null and where.rightFuzzyTranTypeDetail.size()>0">
                (
                <foreach collection="where.rightFuzzyTranTypeDetail"  separator="or" item="item">
                    `Tran_type_detail` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.tranWarrantyYearsList != null">
                    `tran_warranty_years` in
                    <foreach collection="where.tranWarrantyYearsList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyTranWarrantyYears!=null and where.fuzzyTranWarrantyYears.size()>0">
                (
                <foreach collection="where.fuzzyTranWarrantyYears"  separator="or" item="item">
                    `Tran_warranty_years` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyTranWarrantyYears!=null and where.rightFuzzyTranWarrantyYears.size()>0">
                (
                <foreach collection="where.rightFuzzyTranWarrantyYears"  separator="or" item="item">
                    `Tran_warranty_years` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.tranWarrantyMillegeList != null">
                    `tran_warranty_millege` in
                    <foreach collection="where.tranWarrantyMillegeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyTranWarrantyMillege!=null and where.fuzzyTranWarrantyMillege.size()>0">
                (
                <foreach collection="where.fuzzyTranWarrantyMillege"  separator="or" item="item">
                    `Tran_warranty_millege` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyTranWarrantyMillege!=null and where.rightFuzzyTranWarrantyMillege.size()>0">
                (
                <foreach collection="where.rightFuzzyTranWarrantyMillege"  separator="or" item="item">
                    `Tran_warranty_millege` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
        </trim>
    </update>


    <resultMap type="com.gamc.efactory.model.dataObject.MqmsTranProductionDecode" id="MqmsTranProductionDecodeMap">
        <result property="id" column="id"/>
        <result property="tranProModel" column="tran_pro_model"/>
        <result property="tranSingleCode" column="tran_single_code"/>
        <result property="tranShortCode" column="tran_shortCode"/>
        <result property="tranTypeDetail" column="tran_type_detail"/>
        <result property="tranWarrantyYears" column="tran_warranty_years"/>
        <result property="tranWarrantyMillege" column="tran_warranty_millege"/>
    </resultMap>


    <select id="queryMqmsTranProductionDecode" resultMap="MqmsTranProductionDecodeMap">
        select
        <include refid="baseResult"></include>
        from  `mqms_tran_production_decode`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="tranProModel != null and tranProModel!=''">
                `tran_pro_model` = #{tranProModel} and
            </if>
            <if test="tranSingleCode != null and tranSingleCode!=''">
                `tran_single_code` = #{tranSingleCode} and
            </if>
            <if test="tranShortCode != null and tranShortCode!=''">
                `tran_shortCode` = #{tranShortCode} and
            </if>
            <if test="tranTypeDetail != null and tranTypeDetail!=''">
                `tran_type_detail` = #{tranTypeDetail} and
            </if>
            <if test="tranWarrantyYears != null and tranWarrantyYears!=''">
                `tran_warranty_years` = #{tranWarrantyYears} and
            </if>
            <if test="tranWarrantyMillege != null and tranWarrantyMillege!=''">
                `tran_warranty_millege` = #{tranWarrantyMillege} and
            </if>
            <if test = "(_parameter instanceof com.gamc.efactory.model.dataObject.MqmsTranProductionDecode$QueryBuilder) == true">
                <if test="idList != null">
                    `id` in
                    <foreach collection="idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                <if test="tranProModelList != null">
                    `tran_pro_model` in
                    <foreach collection="tranProModelList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyTranProModel!=null and fuzzyTranProModel.size()>0">
                    (
                    <foreach collection="fuzzyTranProModel"  separator="or" item="item">
                        `Tran_pro_model` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyTranProModel!=null and rightFuzzyTranProModel.size()>0">
                    (
                    <foreach collection="rightFuzzyTranProModel"  separator="or" item="item">
                        `Tran_pro_model` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="tranSingleCodeList != null">
                    `tran_single_code` in
                    <foreach collection="tranSingleCodeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyTranSingleCode!=null and fuzzyTranSingleCode.size()>0">
                    (
                    <foreach collection="fuzzyTranSingleCode"  separator="or" item="item">
                        `Tran_single_code` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyTranSingleCode!=null and rightFuzzyTranSingleCode.size()>0">
                    (
                    <foreach collection="rightFuzzyTranSingleCode"  separator="or" item="item">
                        `Tran_single_code` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="tranShortCodeList != null">
                    `tran_shortCode` in
                    <foreach collection="tranShortCodeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyTranShortCode!=null and fuzzyTranShortCode.size()>0">
                    (
                    <foreach collection="fuzzyTranShortCode"  separator="or" item="item">
                        `Tran_shortCode` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyTranShortCode!=null and rightFuzzyTranShortCode.size()>0">
                    (
                    <foreach collection="rightFuzzyTranShortCode"  separator="or" item="item">
                        `Tran_shortCode` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="tranTypeDetailList != null">
                    `tran_type_detail` in
                    <foreach collection="tranTypeDetailList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyTranTypeDetail!=null and fuzzyTranTypeDetail.size()>0">
                    (
                    <foreach collection="fuzzyTranTypeDetail"  separator="or" item="item">
                        `Tran_type_detail` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyTranTypeDetail!=null and rightFuzzyTranTypeDetail.size()>0">
                    (
                    <foreach collection="rightFuzzyTranTypeDetail"  separator="or" item="item">
                        `Tran_type_detail` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="tranWarrantyYearsList != null">
                    `tran_warranty_years` in
                    <foreach collection="tranWarrantyYearsList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyTranWarrantyYears!=null and fuzzyTranWarrantyYears.size()>0">
                    (
                    <foreach collection="fuzzyTranWarrantyYears"  separator="or" item="item">
                        `Tran_warranty_years` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyTranWarrantyYears!=null and rightFuzzyTranWarrantyYears.size()>0">
                    (
                    <foreach collection="rightFuzzyTranWarrantyYears"  separator="or" item="item">
                        `Tran_warranty_years` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="tranWarrantyMillegeList != null">
                    `tran_warranty_millege` in
                    <foreach collection="tranWarrantyMillegeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyTranWarrantyMillege!=null and fuzzyTranWarrantyMillege.size()>0">
                    (
                    <foreach collection="fuzzyTranWarrantyMillege"  separator="or" item="item">
                        `Tran_warranty_millege` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyTranWarrantyMillege!=null and rightFuzzyTranWarrantyMillege.size()>0">
                    (
                    <foreach collection="rightFuzzyTranWarrantyMillege"  separator="or" item="item">
                        `Tran_warranty_millege` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
    </select>

    <select id="queryMqmsTranProductionDecodeLimit1" resultMap="MqmsTranProductionDecodeMap">
        select
        <include refid="baseResult"></include>
        from  `mqms_tran_production_decode`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="tranProModel != null and tranProModel!=''">
                `tran_pro_model` = #{tranProModel} and
            </if>
            <if test="tranSingleCode != null and tranSingleCode!=''">
                `tran_single_code` = #{tranSingleCode} and
            </if>
            <if test="tranShortCode != null and tranShortCode!=''">
                `tran_shortCode` = #{tranShortCode} and
            </if>
            <if test="tranTypeDetail != null and tranTypeDetail!=''">
                `tran_type_detail` = #{tranTypeDetail} and
            </if>
            <if test="tranWarrantyYears != null and tranWarrantyYears!=''">
                `tran_warranty_years` = #{tranWarrantyYears} and
            </if>
            <if test="tranWarrantyMillege != null and tranWarrantyMillege!=''">
                `tran_warranty_millege` = #{tranWarrantyMillege} and
            </if>
            <if test = "(_parameter instanceof com.gamc.efactory.model.dataObject.MqmsTranProductionDecode$QueryBuilder) == true">
                    <if test="idList != null">
                        `id` in
                        <foreach collection="idList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                    <if test="tranProModelList != null">
                        `tran_pro_model` in
                        <foreach collection="tranProModelList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyTranProModel!=null and fuzzyTranProModel.size()>0">
                    (
                    <foreach collection="fuzzyTranProModel"  separator="or" item="item">
                        `Tran_pro_model` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyTranProModel!=null and rightFuzzyTranProModel.size()>0">
                    (
                    <foreach collection="rightFuzzyTranProModel"  separator="or" item="item">
                        `Tran_pro_model` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="tranSingleCodeList != null">
                        `tran_single_code` in
                        <foreach collection="tranSingleCodeList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyTranSingleCode!=null and fuzzyTranSingleCode.size()>0">
                    (
                    <foreach collection="fuzzyTranSingleCode"  separator="or" item="item">
                        `Tran_single_code` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyTranSingleCode!=null and rightFuzzyTranSingleCode.size()>0">
                    (
                    <foreach collection="rightFuzzyTranSingleCode"  separator="or" item="item">
                        `Tran_single_code` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="tranShortCodeList != null">
                        `tran_shortCode` in
                        <foreach collection="tranShortCodeList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyTranShortCode!=null and fuzzyTranShortCode.size()>0">
                    (
                    <foreach collection="fuzzyTranShortCode"  separator="or" item="item">
                        `Tran_shortCode` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyTranShortCode!=null and rightFuzzyTranShortCode.size()>0">
                    (
                    <foreach collection="rightFuzzyTranShortCode"  separator="or" item="item">
                        `Tran_shortCode` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="tranTypeDetailList != null">
                        `tran_type_detail` in
                        <foreach collection="tranTypeDetailList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyTranTypeDetail!=null and fuzzyTranTypeDetail.size()>0">
                    (
                    <foreach collection="fuzzyTranTypeDetail"  separator="or" item="item">
                        `Tran_type_detail` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyTranTypeDetail!=null and rightFuzzyTranTypeDetail.size()>0">
                    (
                    <foreach collection="rightFuzzyTranTypeDetail"  separator="or" item="item">
                        `Tran_type_detail` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="tranWarrantyYearsList != null">
                        `tran_warranty_years` in
                        <foreach collection="tranWarrantyYearsList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyTranWarrantyYears!=null and fuzzyTranWarrantyYears.size()>0">
                    (
                    <foreach collection="fuzzyTranWarrantyYears"  separator="or" item="item">
                        `Tran_warranty_years` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyTranWarrantyYears!=null and rightFuzzyTranWarrantyYears.size()>0">
                    (
                    <foreach collection="rightFuzzyTranWarrantyYears"  separator="or" item="item">
                        `Tran_warranty_years` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="tranWarrantyMillegeList != null">
                        `tran_warranty_millege` in
                        <foreach collection="tranWarrantyMillegeList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyTranWarrantyMillege!=null and fuzzyTranWarrantyMillege.size()>0">
                    (
                    <foreach collection="fuzzyTranWarrantyMillege"  separator="or" item="item">
                        `Tran_warranty_millege` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyTranWarrantyMillege!=null and rightFuzzyTranWarrantyMillege.size()>0">
                    (
                    <foreach collection="rightFuzzyTranWarrantyMillege"  separator="or" item="item">
                        `Tran_warranty_millege` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        `id`,
        `tran_pro_model`,
        `tran_single_code`,
        `tran_shortCode`,
        `tran_type_detail`,
        `tran_warranty_years`,
        `tran_warranty_millege`,
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof com.gamc.efactory.model.dataObject.MqmsTranProductionDecode$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.id==true">
                        `id`,
                    </if>
                    <if test="fetchFields.fetchFields.tranProModel==true">
                        `tran_pro_model`,
                    </if>
                    <if test="fetchFields.fetchFields.tranSingleCode==true">
                        `tran_single_code`,
                    </if>
                    <if test="fetchFields.fetchFields.tranShortCode==true">
                        `tran_shortCode`,
                    </if>
                    <if test="fetchFields.fetchFields.tranTypeDetail==true">
                        `tran_type_detail`,
                    </if>
                    <if test="fetchFields.fetchFields.tranWarrantyYears==true">
                        `tran_warranty_years`,
                    </if>
                    <if test="fetchFields.fetchFields.tranWarrantyMillege==true">
                        `tran_warranty_millege`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.id==null">
                        `id`,
                    </if>
                    <if test="fetchFields.excludeFields.tranProModel==null">
                        `tran_pro_model`,
                    </if>
                    <if test="fetchFields.excludeFields.tranSingleCode==null">
                        `tran_single_code`,
                    </if>
                    <if test="fetchFields.excludeFields.tranShortCode==null">
                        `tran_shortCode`,
                    </if>
                    <if test="fetchFields.excludeFields.tranTypeDetail==null">
                        `tran_type_detail`,
                    </if>
                    <if test="fetchFields.excludeFields.tranWarrantyYears==null">
                        `tran_warranty_years`,
                    </if>
                    <if test="fetchFields.excludeFields.tranWarrantyMillege==null">
                        `tran_warranty_millege`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof com.gamc.efactory.model.dataObject.MqmsTranProductionDecode$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>


</mapper>