<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamc.efactory.dao.base.SparePartsOrderBaseMapper">


    <insert id="insertSparePartsOrder"  useGeneratedKeys="true" keyProperty="sparePartsOrderId">
        INSERT INTO `wms_spare_parts_order`
        (
        <trim suffixOverrides=",">
                    <if test="sparePartsOrderId!=null">
                        `spare_parts_order_id`,
                    </if>
                    <if test="orderId!=null">
                        `order_id`,
                    </if>
                    <if test="orderCode!=null">
                        `order_code`,
                    </if>
                    <if test="productionLine!=null">
                        `production_line`,
                    </if>
                    <if test="operationPositionCode!=null">
                        `operation_position_code`,
                    </if>
                    <if test="equipmentCompany!=null">
                        `equipment_company`,
                    </if>
                    <if test="sparePartsBrand!=null">
                        `spare_parts_brand`,
                    </if>
                    <if test="sparePartsOrderDesc!=null">
                        `spare_parts_order_desc`,
                    </if>
                    <if test="sparePartsEmergency!=null">
                        `spare_parts_emergency`,
                    </if>
                    <if test="sparePartsOrderReason!=null">
                        `spare_parts_order_reason`,
                    </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
                <if test="sparePartsOrderId!=null">
                    #{sparePartsOrderId},
                </if>
                <if test="orderId!=null">
                    #{orderId},
                </if>
                <if test="orderCode!=null">
                    #{orderCode},
                </if>
                <if test="productionLine!=null">
                    #{productionLine},
                </if>
                <if test="operationPositionCode!=null">
                    #{operationPositionCode},
                </if>
                <if test="equipmentCompany!=null">
                    #{equipmentCompany},
                </if>
                <if test="sparePartsBrand!=null">
                    #{sparePartsBrand},
                </if>
                <if test="sparePartsOrderDesc!=null">
                    #{sparePartsOrderDesc},
                </if>
                <if test="sparePartsEmergency!=null">
                    #{sparePartsEmergency},
                </if>
                <if test="sparePartsOrderReason!=null">
                    #{sparePartsOrderReason},
                </if>
        </trim>
        )
    </insert>




    <update id="updateSparePartsOrder">
        UPDATE `wms_spare_parts_order`
        SET
        <trim suffixOverrides=",">
            <if test="orderId != null">
                `order_id` = #{orderId},
            </if>
            <if test="orderCode != null and orderCode!=''">
                `order_code` = #{orderCode},
            </if>
            <if test="productionLine != null and productionLine!=''">
                `production_line` = #{productionLine},
            </if>
            <if test="operationPositionCode != null and operationPositionCode!=''">
                `operation_position_code` = #{operationPositionCode},
            </if>
            <if test="equipmentCompany != null and equipmentCompany!=''">
                `equipment_company` = #{equipmentCompany},
            </if>
            <if test="sparePartsBrand != null and sparePartsBrand!=''">
                `spare_parts_brand` = #{sparePartsBrand},
            </if>
            <if test="sparePartsOrderDesc != null and sparePartsOrderDesc!=''">
                `spare_parts_order_desc` = #{sparePartsOrderDesc},
            </if>
            <if test="sparePartsEmergency != null and sparePartsEmergency!=''">
                `spare_parts_emergency` = #{sparePartsEmergency},
            </if>
            <if test="sparePartsOrderReason != null and sparePartsOrderReason!=''">
                `spare_parts_order_reason` = #{sparePartsOrderReason},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
                `spare_parts_order_id` = #{sparePartsOrderId} and
        </trim>
    </update>

    <update id="update">
        UPDATE `wms_spare_parts_order`
        SET
        <trim suffixOverrides=",">
        <if test="set.orderId != null">
            `order_id` = #{set.orderId},
        </if>
        <if test="set.orderCode != null and set.orderCode!=''">
            `order_code` = #{set.orderCode},
        </if>
        <if test="set.productionLine != null and set.productionLine!=''">
            `production_line` = #{set.productionLine},
        </if>
        <if test="set.operationPositionCode != null and set.operationPositionCode!=''">
            `operation_position_code` = #{set.operationPositionCode},
        </if>
        <if test="set.equipmentCompany != null and set.equipmentCompany!=''">
            `equipment_company` = #{set.equipmentCompany},
        </if>
        <if test="set.sparePartsBrand != null and set.sparePartsBrand!=''">
            `spare_parts_brand` = #{set.sparePartsBrand},
        </if>
        <if test="set.sparePartsOrderDesc != null and set.sparePartsOrderDesc!=''">
            `spare_parts_order_desc` = #{set.sparePartsOrderDesc},
        </if>
        <if test="set.sparePartsEmergency != null and set.sparePartsEmergency!=''">
            `spare_parts_emergency` = #{set.sparePartsEmergency},
        </if>
        <if test="set.sparePartsOrderReason != null and set.sparePartsOrderReason!=''">
            `spare_parts_order_reason` = #{set.sparePartsOrderReason},
        </if>
        </trim>
        <trim prefix="where" suffixOverrides="and | or">
                <if test="where.sparePartsOrderIdList != null">
                    `spare_parts_order_id` in
                    <foreach collection="where.sparePartsOrderIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.sparePartsOrderIdSt !=null">
                `spare_parts_order_id` >= #{where.sparePartsOrderIdSt} and
            </if>
            <if test="where.sparePartsOrderIdEd!=null">
                `spare_parts_order_id` &lt;= #{where.sparePartsOrderIdEd} and
            </if>
                <if test="where.orderIdList != null">
                    `order_id` in
                    <foreach collection="where.orderIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.orderIdSt !=null">
                `order_id` >= #{where.orderIdSt} and
            </if>
            <if test="where.orderIdEd!=null">
                `order_id` &lt;= #{where.orderIdEd} and
            </if>
                <if test="where.orderCodeList != null">
                    `order_code` in
                    <foreach collection="where.orderCodeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyOrderCode!=null and where.fuzzyOrderCode.size()>0">
                (
                <foreach collection="where.fuzzyOrderCode"  separator="or" item="item">
                    `Order_code` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyOrderCode!=null and where.rightFuzzyOrderCode.size()>0">
                (
                <foreach collection="where.rightFuzzyOrderCode"  separator="or" item="item">
                    `Order_code` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.productionLineList != null">
                    `production_line` in
                    <foreach collection="where.productionLineList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyProductionLine!=null and where.fuzzyProductionLine.size()>0">
                (
                <foreach collection="where.fuzzyProductionLine"  separator="or" item="item">
                    `Production_line` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyProductionLine!=null and where.rightFuzzyProductionLine.size()>0">
                (
                <foreach collection="where.rightFuzzyProductionLine"  separator="or" item="item">
                    `Production_line` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.operationPositionCodeList != null">
                    `operation_position_code` in
                    <foreach collection="where.operationPositionCodeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyOperationPositionCode!=null and where.fuzzyOperationPositionCode.size()>0">
                (
                <foreach collection="where.fuzzyOperationPositionCode"  separator="or" item="item">
                    `Operation_position_code` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyOperationPositionCode!=null and where.rightFuzzyOperationPositionCode.size()>0">
                (
                <foreach collection="where.rightFuzzyOperationPositionCode"  separator="or" item="item">
                    `Operation_position_code` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.equipmentCompanyList != null">
                    `equipment_company` in
                    <foreach collection="where.equipmentCompanyList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyEquipmentCompany!=null and where.fuzzyEquipmentCompany.size()>0">
                (
                <foreach collection="where.fuzzyEquipmentCompany"  separator="or" item="item">
                    `Equipment_company` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyEquipmentCompany!=null and where.rightFuzzyEquipmentCompany.size()>0">
                (
                <foreach collection="where.rightFuzzyEquipmentCompany"  separator="or" item="item">
                    `Equipment_company` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.sparePartsBrandList != null">
                    `spare_parts_brand` in
                    <foreach collection="where.sparePartsBrandList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzySparePartsBrand!=null and where.fuzzySparePartsBrand.size()>0">
                (
                <foreach collection="where.fuzzySparePartsBrand"  separator="or" item="item">
                    `Spare_parts_brand` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzySparePartsBrand!=null and where.rightFuzzySparePartsBrand.size()>0">
                (
                <foreach collection="where.rightFuzzySparePartsBrand"  separator="or" item="item">
                    `Spare_parts_brand` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.sparePartsOrderDescList != null">
                    `spare_parts_order_desc` in
                    <foreach collection="where.sparePartsOrderDescList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzySparePartsOrderDesc!=null and where.fuzzySparePartsOrderDesc.size()>0">
                (
                <foreach collection="where.fuzzySparePartsOrderDesc"  separator="or" item="item">
                    `Spare_parts_order_desc` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzySparePartsOrderDesc!=null and where.rightFuzzySparePartsOrderDesc.size()>0">
                (
                <foreach collection="where.rightFuzzySparePartsOrderDesc"  separator="or" item="item">
                    `Spare_parts_order_desc` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.sparePartsEmergencyList != null">
                    `spare_parts_emergency` in
                    <foreach collection="where.sparePartsEmergencyList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzySparePartsEmergency!=null and where.fuzzySparePartsEmergency.size()>0">
                (
                <foreach collection="where.fuzzySparePartsEmergency"  separator="or" item="item">
                    `Spare_parts_emergency` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzySparePartsEmergency!=null and where.rightFuzzySparePartsEmergency.size()>0">
                (
                <foreach collection="where.rightFuzzySparePartsEmergency"  separator="or" item="item">
                    `Spare_parts_emergency` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.sparePartsOrderReasonList != null">
                    `spare_parts_order_reason` in
                    <foreach collection="where.sparePartsOrderReasonList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzySparePartsOrderReason!=null and where.fuzzySparePartsOrderReason.size()>0">
                (
                <foreach collection="where.fuzzySparePartsOrderReason"  separator="or" item="item">
                    `Spare_parts_order_reason` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzySparePartsOrderReason!=null and where.rightFuzzySparePartsOrderReason.size()>0">
                (
                <foreach collection="where.rightFuzzySparePartsOrderReason"  separator="or" item="item">
                    `Spare_parts_order_reason` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
        </trim>
    </update>


    <resultMap type="com.gamc.efactory.model.dataObject.SparePartsOrder" id="SparePartsOrderMap">
        <result property="sparePartsOrderId" column="spare_parts_order_id"/>
        <result property="orderId" column="order_id"/>
        <result property="orderCode" column="order_code"/>
        <result property="productionLine" column="production_line"/>
        <result property="operationPositionCode" column="operation_position_code"/>
        <result property="equipmentCompany" column="equipment_company"/>
        <result property="sparePartsBrand" column="spare_parts_brand"/>
        <result property="sparePartsOrderDesc" column="spare_parts_order_desc"/>
        <result property="sparePartsEmergency" column="spare_parts_emergency"/>
        <result property="sparePartsOrderReason" column="spare_parts_order_reason"/>
    </resultMap>


    <select id="querySparePartsOrder" resultMap="SparePartsOrderMap">
        select
        <include refid="baseResult"></include>
        from  `wms_spare_parts_order`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="sparePartsOrderId != null">
                `spare_parts_order_id` = #{sparePartsOrderId} and
            </if>
            <if test="orderId != null">
                `order_id` = #{orderId} and
            </if>
            <if test="orderCode != null and orderCode!=''">
                `order_code` = #{orderCode} and
            </if>
            <if test="productionLine != null and productionLine!=''">
                `production_line` = #{productionLine} and
            </if>
            <if test="operationPositionCode != null and operationPositionCode!=''">
                `operation_position_code` = #{operationPositionCode} and
            </if>
            <if test="equipmentCompany != null and equipmentCompany!=''">
                `equipment_company` = #{equipmentCompany} and
            </if>
            <if test="sparePartsBrand != null and sparePartsBrand!=''">
                `spare_parts_brand` = #{sparePartsBrand} and
            </if>
            <if test="sparePartsOrderDesc != null and sparePartsOrderDesc!=''">
                `spare_parts_order_desc` = #{sparePartsOrderDesc} and
            </if>
            <if test="sparePartsEmergency != null and sparePartsEmergency!=''">
                `spare_parts_emergency` = #{sparePartsEmergency} and
            </if>
            <if test="sparePartsOrderReason != null and sparePartsOrderReason!=''">
                `spare_parts_order_reason` = #{sparePartsOrderReason} and
            </if>
            <if test = "(_parameter instanceof com.gamc.efactory.model.dataObject.SparePartsOrder$QueryBuilder) == true">
                <if test="sparePartsOrderIdList != null">
                    `spare_parts_order_id` in
                    <foreach collection="sparePartsOrderIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="sparePartsOrderIdSt !=null">
                    `spare_parts_order_id` >= #{sparePartsOrderIdSt} and
                </if>
                <if test="sparePartsOrderIdEd!=null">
                    `spare_parts_order_id` &lt;= #{sparePartsOrderIdEd} and
                </if>
                <if test="orderIdList != null">
                    `order_id` in
                    <foreach collection="orderIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="orderIdSt !=null">
                    `order_id` >= #{orderIdSt} and
                </if>
                <if test="orderIdEd!=null">
                    `order_id` &lt;= #{orderIdEd} and
                </if>
                <if test="orderCodeList != null">
                    `order_code` in
                    <foreach collection="orderCodeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyOrderCode!=null and fuzzyOrderCode.size()>0">
                    (
                    <foreach collection="fuzzyOrderCode"  separator="or" item="item">
                        `Order_code` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyOrderCode!=null and rightFuzzyOrderCode.size()>0">
                    (
                    <foreach collection="rightFuzzyOrderCode"  separator="or" item="item">
                        `Order_code` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="productionLineList != null">
                    `production_line` in
                    <foreach collection="productionLineList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyProductionLine!=null and fuzzyProductionLine.size()>0">
                    (
                    <foreach collection="fuzzyProductionLine"  separator="or" item="item">
                        `Production_line` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyProductionLine!=null and rightFuzzyProductionLine.size()>0">
                    (
                    <foreach collection="rightFuzzyProductionLine"  separator="or" item="item">
                        `Production_line` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="operationPositionCodeList != null">
                    `operation_position_code` in
                    <foreach collection="operationPositionCodeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyOperationPositionCode!=null and fuzzyOperationPositionCode.size()>0">
                    (
                    <foreach collection="fuzzyOperationPositionCode"  separator="or" item="item">
                        `Operation_position_code` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyOperationPositionCode!=null and rightFuzzyOperationPositionCode.size()>0">
                    (
                    <foreach collection="rightFuzzyOperationPositionCode"  separator="or" item="item">
                        `Operation_position_code` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="equipmentCompanyList != null">
                    `equipment_company` in
                    <foreach collection="equipmentCompanyList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyEquipmentCompany!=null and fuzzyEquipmentCompany.size()>0">
                    (
                    <foreach collection="fuzzyEquipmentCompany"  separator="or" item="item">
                        `Equipment_company` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyEquipmentCompany!=null and rightFuzzyEquipmentCompany.size()>0">
                    (
                    <foreach collection="rightFuzzyEquipmentCompany"  separator="or" item="item">
                        `Equipment_company` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="sparePartsBrandList != null">
                    `spare_parts_brand` in
                    <foreach collection="sparePartsBrandList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzySparePartsBrand!=null and fuzzySparePartsBrand.size()>0">
                    (
                    <foreach collection="fuzzySparePartsBrand"  separator="or" item="item">
                        `Spare_parts_brand` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzySparePartsBrand!=null and rightFuzzySparePartsBrand.size()>0">
                    (
                    <foreach collection="rightFuzzySparePartsBrand"  separator="or" item="item">
                        `Spare_parts_brand` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="sparePartsOrderDescList != null">
                    `spare_parts_order_desc` in
                    <foreach collection="sparePartsOrderDescList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzySparePartsOrderDesc!=null and fuzzySparePartsOrderDesc.size()>0">
                    (
                    <foreach collection="fuzzySparePartsOrderDesc"  separator="or" item="item">
                        `Spare_parts_order_desc` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzySparePartsOrderDesc!=null and rightFuzzySparePartsOrderDesc.size()>0">
                    (
                    <foreach collection="rightFuzzySparePartsOrderDesc"  separator="or" item="item">
                        `Spare_parts_order_desc` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="sparePartsEmergencyList != null">
                    `spare_parts_emergency` in
                    <foreach collection="sparePartsEmergencyList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzySparePartsEmergency!=null and fuzzySparePartsEmergency.size()>0">
                    (
                    <foreach collection="fuzzySparePartsEmergency"  separator="or" item="item">
                        `Spare_parts_emergency` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzySparePartsEmergency!=null and rightFuzzySparePartsEmergency.size()>0">
                    (
                    <foreach collection="rightFuzzySparePartsEmergency"  separator="or" item="item">
                        `Spare_parts_emergency` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="sparePartsOrderReasonList != null">
                    `spare_parts_order_reason` in
                    <foreach collection="sparePartsOrderReasonList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzySparePartsOrderReason!=null and fuzzySparePartsOrderReason.size()>0">
                    (
                    <foreach collection="fuzzySparePartsOrderReason"  separator="or" item="item">
                        `Spare_parts_order_reason` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzySparePartsOrderReason!=null and rightFuzzySparePartsOrderReason.size()>0">
                    (
                    <foreach collection="rightFuzzySparePartsOrderReason"  separator="or" item="item">
                        `Spare_parts_order_reason` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
    </select>

    <select id="querySparePartsOrderLimit1" resultMap="SparePartsOrderMap">
        select
        <include refid="baseResult"></include>
        from  `wms_spare_parts_order`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="sparePartsOrderId != null">
                `spare_parts_order_id` = #{sparePartsOrderId} and
            </if>
            <if test="orderId != null">
                `order_id` = #{orderId} and
            </if>
            <if test="orderCode != null and orderCode!=''">
                `order_code` = #{orderCode} and
            </if>
            <if test="productionLine != null and productionLine!=''">
                `production_line` = #{productionLine} and
            </if>
            <if test="operationPositionCode != null and operationPositionCode!=''">
                `operation_position_code` = #{operationPositionCode} and
            </if>
            <if test="equipmentCompany != null and equipmentCompany!=''">
                `equipment_company` = #{equipmentCompany} and
            </if>
            <if test="sparePartsBrand != null and sparePartsBrand!=''">
                `spare_parts_brand` = #{sparePartsBrand} and
            </if>
            <if test="sparePartsOrderDesc != null and sparePartsOrderDesc!=''">
                `spare_parts_order_desc` = #{sparePartsOrderDesc} and
            </if>
            <if test="sparePartsEmergency != null and sparePartsEmergency!=''">
                `spare_parts_emergency` = #{sparePartsEmergency} and
            </if>
            <if test="sparePartsOrderReason != null and sparePartsOrderReason!=''">
                `spare_parts_order_reason` = #{sparePartsOrderReason} and
            </if>
            <if test = "(_parameter instanceof com.gamc.efactory.model.dataObject.SparePartsOrder$QueryBuilder) == true">
                    <if test="sparePartsOrderIdList != null">
                        `spare_parts_order_id` in
                        <foreach collection="sparePartsOrderIdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="sparePartsOrderIdSt !=null">
                    `spare_parts_order_id` >= #{sparePartsOrderIdSt} and
                </if>
                <if test="sparePartsOrderIdEd!=null">
                    `spare_parts_order_id` &lt;= #{sparePartsOrderIdEd} and
                </if>
                    <if test="orderIdList != null">
                        `order_id` in
                        <foreach collection="orderIdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="orderIdSt !=null">
                    `order_id` >= #{orderIdSt} and
                </if>
                <if test="orderIdEd!=null">
                    `order_id` &lt;= #{orderIdEd} and
                </if>
                    <if test="orderCodeList != null">
                        `order_code` in
                        <foreach collection="orderCodeList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyOrderCode!=null and fuzzyOrderCode.size()>0">
                    (
                    <foreach collection="fuzzyOrderCode"  separator="or" item="item">
                        `Order_code` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyOrderCode!=null and rightFuzzyOrderCode.size()>0">
                    (
                    <foreach collection="rightFuzzyOrderCode"  separator="or" item="item">
                        `Order_code` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="productionLineList != null">
                        `production_line` in
                        <foreach collection="productionLineList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyProductionLine!=null and fuzzyProductionLine.size()>0">
                    (
                    <foreach collection="fuzzyProductionLine"  separator="or" item="item">
                        `Production_line` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyProductionLine!=null and rightFuzzyProductionLine.size()>0">
                    (
                    <foreach collection="rightFuzzyProductionLine"  separator="or" item="item">
                        `Production_line` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="operationPositionCodeList != null">
                        `operation_position_code` in
                        <foreach collection="operationPositionCodeList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyOperationPositionCode!=null and fuzzyOperationPositionCode.size()>0">
                    (
                    <foreach collection="fuzzyOperationPositionCode"  separator="or" item="item">
                        `Operation_position_code` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyOperationPositionCode!=null and rightFuzzyOperationPositionCode.size()>0">
                    (
                    <foreach collection="rightFuzzyOperationPositionCode"  separator="or" item="item">
                        `Operation_position_code` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="equipmentCompanyList != null">
                        `equipment_company` in
                        <foreach collection="equipmentCompanyList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyEquipmentCompany!=null and fuzzyEquipmentCompany.size()>0">
                    (
                    <foreach collection="fuzzyEquipmentCompany"  separator="or" item="item">
                        `Equipment_company` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyEquipmentCompany!=null and rightFuzzyEquipmentCompany.size()>0">
                    (
                    <foreach collection="rightFuzzyEquipmentCompany"  separator="or" item="item">
                        `Equipment_company` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="sparePartsBrandList != null">
                        `spare_parts_brand` in
                        <foreach collection="sparePartsBrandList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzySparePartsBrand!=null and fuzzySparePartsBrand.size()>0">
                    (
                    <foreach collection="fuzzySparePartsBrand"  separator="or" item="item">
                        `Spare_parts_brand` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzySparePartsBrand!=null and rightFuzzySparePartsBrand.size()>0">
                    (
                    <foreach collection="rightFuzzySparePartsBrand"  separator="or" item="item">
                        `Spare_parts_brand` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="sparePartsOrderDescList != null">
                        `spare_parts_order_desc` in
                        <foreach collection="sparePartsOrderDescList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzySparePartsOrderDesc!=null and fuzzySparePartsOrderDesc.size()>0">
                    (
                    <foreach collection="fuzzySparePartsOrderDesc"  separator="or" item="item">
                        `Spare_parts_order_desc` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzySparePartsOrderDesc!=null and rightFuzzySparePartsOrderDesc.size()>0">
                    (
                    <foreach collection="rightFuzzySparePartsOrderDesc"  separator="or" item="item">
                        `Spare_parts_order_desc` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="sparePartsEmergencyList != null">
                        `spare_parts_emergency` in
                        <foreach collection="sparePartsEmergencyList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzySparePartsEmergency!=null and fuzzySparePartsEmergency.size()>0">
                    (
                    <foreach collection="fuzzySparePartsEmergency"  separator="or" item="item">
                        `Spare_parts_emergency` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzySparePartsEmergency!=null and rightFuzzySparePartsEmergency.size()>0">
                    (
                    <foreach collection="rightFuzzySparePartsEmergency"  separator="or" item="item">
                        `Spare_parts_emergency` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="sparePartsOrderReasonList != null">
                        `spare_parts_order_reason` in
                        <foreach collection="sparePartsOrderReasonList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzySparePartsOrderReason!=null and fuzzySparePartsOrderReason.size()>0">
                    (
                    <foreach collection="fuzzySparePartsOrderReason"  separator="or" item="item">
                        `Spare_parts_order_reason` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzySparePartsOrderReason!=null and rightFuzzySparePartsOrderReason.size()>0">
                    (
                    <foreach collection="rightFuzzySparePartsOrderReason"  separator="or" item="item">
                        `Spare_parts_order_reason` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        `spare_parts_order_id`,
        `order_id`,
        `order_code`,
        `production_line`,
        `operation_position_code`,
        `equipment_company`,
        `spare_parts_brand`,
        `spare_parts_order_desc`,
        `spare_parts_emergency`,
        `spare_parts_order_reason`,
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof com.gamc.efactory.model.dataObject.SparePartsOrder$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.sparePartsOrderId==true">
                        `spare_parts_order_id`,
                    </if>
                    <if test="fetchFields.fetchFields.orderId==true">
                        `order_id`,
                    </if>
                    <if test="fetchFields.fetchFields.orderCode==true">
                        `order_code`,
                    </if>
                    <if test="fetchFields.fetchFields.productionLine==true">
                        `production_line`,
                    </if>
                    <if test="fetchFields.fetchFields.operationPositionCode==true">
                        `operation_position_code`,
                    </if>
                    <if test="fetchFields.fetchFields.equipmentCompany==true">
                        `equipment_company`,
                    </if>
                    <if test="fetchFields.fetchFields.sparePartsBrand==true">
                        `spare_parts_brand`,
                    </if>
                    <if test="fetchFields.fetchFields.sparePartsOrderDesc==true">
                        `spare_parts_order_desc`,
                    </if>
                    <if test="fetchFields.fetchFields.sparePartsEmergency==true">
                        `spare_parts_emergency`,
                    </if>
                    <if test="fetchFields.fetchFields.sparePartsOrderReason==true">
                        `spare_parts_order_reason`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.sparePartsOrderId==null">
                        `spare_parts_order_id`,
                    </if>
                    <if test="fetchFields.excludeFields.orderId==null">
                        `order_id`,
                    </if>
                    <if test="fetchFields.excludeFields.orderCode==null">
                        `order_code`,
                    </if>
                    <if test="fetchFields.excludeFields.productionLine==null">
                        `production_line`,
                    </if>
                    <if test="fetchFields.excludeFields.operationPositionCode==null">
                        `operation_position_code`,
                    </if>
                    <if test="fetchFields.excludeFields.equipmentCompany==null">
                        `equipment_company`,
                    </if>
                    <if test="fetchFields.excludeFields.sparePartsBrand==null">
                        `spare_parts_brand`,
                    </if>
                    <if test="fetchFields.excludeFields.sparePartsOrderDesc==null">
                        `spare_parts_order_desc`,
                    </if>
                    <if test="fetchFields.excludeFields.sparePartsEmergency==null">
                        `spare_parts_emergency`,
                    </if>
                    <if test="fetchFields.excludeFields.sparePartsOrderReason==null">
                        `spare_parts_order_reason`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof com.gamc.efactory.model.dataObject.SparePartsOrder$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>


</mapper>