<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamc.efactory.dao.base.StorageTargetBaseMapper">


    <insert id="insertStorageTarget"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `wms_storage_target`
        (
        <trim suffixOverrides=",">
                    <if test="id!=null">
                        `id`,
                    </if>
                    <if test="amountTarget!=null">
                        `amount_target`,
                    </if>
                    <if test="type!=null">
                        `type`,
                    </if>
                    <if test="year!=null">
                        `year`,
                    </if>
                    <if test="materialType!=null">
                        `material_type`,
                    </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
                <if test="id!=null">
                    #{id},
                </if>
                <if test="amountTarget!=null">
                    #{amountTarget},
                </if>
                <if test="type!=null">
                    #{type},
                </if>
                <if test="year!=null">
                    #{year},
                </if>
                <if test="materialType!=null">
                    #{materialType},
                </if>
        </trim>
        )
    </insert>




    <update id="updateStorageTarget">
        UPDATE `wms_storage_target`
        SET
        <trim suffixOverrides=",">
            <if test="amountTarget != null">
                `amount_target` = #{amountTarget},
            </if>
            <if test="type != null and type!=''">
                `type` = #{type},
            </if>
            <if test="year != null and year!=''">
                `year` = #{year},
            </if>
            <if test="materialType != null and materialType!=''">
                `material_type` = #{materialType},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
                `id` = #{id} and
        </trim>
    </update>

    <update id="update">
        UPDATE `wms_storage_target`
        SET
        <trim suffixOverrides=",">
        <if test="set.amountTarget != null">
            `amount_target` = #{set.amountTarget},
        </if>
        <if test="set.type != null and set.type!=''">
            `type` = #{set.type},
        </if>
        <if test="set.year != null and set.year!=''">
            `year` = #{set.year},
        </if>
        <if test="set.materialType != null and set.materialType!=''">
            `material_type` = #{set.materialType},
        </if>
        </trim>
        <trim prefix="where" suffixOverrides="and | or">
                <if test="where.idList != null">
                    `id` in
                    <foreach collection="where.idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.idSt !=null">
                `id` >= #{where.idSt} and
            </if>
            <if test="where.idEd!=null">
                `id` &lt;= #{where.idEd} and
            </if>
                <if test="where.amountTargetList != null">
                    `amount_target` in
                    <foreach collection="where.amountTargetList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.amountTargetSt !=null">
                `amount_target` >= #{where.amountTargetSt} and
            </if>
            <if test="where.amountTargetEd!=null">
                `amount_target` &lt;= #{where.amountTargetEd} and
            </if>
                <if test="where.typeList != null">
                    `type` in
                    <foreach collection="where.typeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyType!=null and where.fuzzyType.size()>0">
                (
                <foreach collection="where.fuzzyType"  separator="or" item="item">
                    `Type` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyType!=null and where.rightFuzzyType.size()>0">
                (
                <foreach collection="where.rightFuzzyType"  separator="or" item="item">
                    `Type` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.yearList != null">
                    `year` in
                    <foreach collection="where.yearList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyYear!=null and where.fuzzyYear.size()>0">
                (
                <foreach collection="where.fuzzyYear"  separator="or" item="item">
                    `Year` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyYear!=null and where.rightFuzzyYear.size()>0">
                (
                <foreach collection="where.rightFuzzyYear"  separator="or" item="item">
                    `Year` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.materialTypeList != null">
                    `material_type` in
                    <foreach collection="where.materialTypeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyMaterialType!=null and where.fuzzyMaterialType.size()>0">
                (
                <foreach collection="where.fuzzyMaterialType"  separator="or" item="item">
                    `Material_type` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyMaterialType!=null and where.rightFuzzyMaterialType.size()>0">
                (
                <foreach collection="where.rightFuzzyMaterialType"  separator="or" item="item">
                    `Material_type` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
        </trim>
    </update>


    <resultMap type="com.gamc.efactory.model.dataObject.StorageTarget" id="StorageTargetMap">
        <result property="id" column="id"/>
        <result property="amountTarget" column="amount_target"/>
        <result property="type" column="type"/>
        <result property="year" column="year"/>
        <result property="materialType" column="material_type"/>
    </resultMap>


    <select id="queryStorageTarget" resultMap="StorageTargetMap">
        select
        <include refid="baseResult"></include>
        from  `wms_storage_target`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="amountTarget != null">
                `amount_target` = #{amountTarget} and
            </if>
            <if test="type != null and type!=''">
                `type` = #{type} and
            </if>
            <if test="year != null and year!=''">
                `year` = #{year} and
            </if>
            <if test="materialType != null and materialType!=''">
                `material_type` = #{materialType} and
            </if>
            <if test = "(_parameter instanceof com.gamc.efactory.model.dataObject.StorageTarget$QueryBuilder) == true">
                <if test="idList != null">
                    `id` in
                    <foreach collection="idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                <if test="amountTargetList != null">
                    `amount_target` in
                    <foreach collection="amountTargetList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="amountTargetSt !=null">
                    `amount_target` >= #{amountTargetSt} and
                </if>
                <if test="amountTargetEd!=null">
                    `amount_target` &lt;= #{amountTargetEd} and
                </if>
                <if test="typeList != null">
                    `type` in
                    <foreach collection="typeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyType!=null and fuzzyType.size()>0">
                    (
                    <foreach collection="fuzzyType"  separator="or" item="item">
                        `Type` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyType!=null and rightFuzzyType.size()>0">
                    (
                    <foreach collection="rightFuzzyType"  separator="or" item="item">
                        `Type` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="yearList != null">
                    `year` in
                    <foreach collection="yearList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyYear!=null and fuzzyYear.size()>0">
                    (
                    <foreach collection="fuzzyYear"  separator="or" item="item">
                        `Year` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyYear!=null and rightFuzzyYear.size()>0">
                    (
                    <foreach collection="rightFuzzyYear"  separator="or" item="item">
                        `Year` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="materialTypeList != null">
                    `material_type` in
                    <foreach collection="materialTypeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyMaterialType!=null and fuzzyMaterialType.size()>0">
                    (
                    <foreach collection="fuzzyMaterialType"  separator="or" item="item">
                        `Material_type` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyMaterialType!=null and rightFuzzyMaterialType.size()>0">
                    (
                    <foreach collection="rightFuzzyMaterialType"  separator="or" item="item">
                        `Material_type` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
    </select>

    <select id="queryStorageTargetLimit1" resultMap="StorageTargetMap">
        select
        <include refid="baseResult"></include>
        from  `wms_storage_target`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="amountTarget != null">
                `amount_target` = #{amountTarget} and
            </if>
            <if test="type != null and type!=''">
                `type` = #{type} and
            </if>
            <if test="year != null and year!=''">
                `year` = #{year} and
            </if>
            <if test="materialType != null and materialType!=''">
                `material_type` = #{materialType} and
            </if>
            <if test = "(_parameter instanceof com.gamc.efactory.model.dataObject.StorageTarget$QueryBuilder) == true">
                    <if test="idList != null">
                        `id` in
                        <foreach collection="idList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                    <if test="amountTargetList != null">
                        `amount_target` in
                        <foreach collection="amountTargetList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="amountTargetSt !=null">
                    `amount_target` >= #{amountTargetSt} and
                </if>
                <if test="amountTargetEd!=null">
                    `amount_target` &lt;= #{amountTargetEd} and
                </if>
                    <if test="typeList != null">
                        `type` in
                        <foreach collection="typeList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyType!=null and fuzzyType.size()>0">
                    (
                    <foreach collection="fuzzyType"  separator="or" item="item">
                        `Type` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyType!=null and rightFuzzyType.size()>0">
                    (
                    <foreach collection="rightFuzzyType"  separator="or" item="item">
                        `Type` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="yearList != null">
                        `year` in
                        <foreach collection="yearList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyYear!=null and fuzzyYear.size()>0">
                    (
                    <foreach collection="fuzzyYear"  separator="or" item="item">
                        `Year` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyYear!=null and rightFuzzyYear.size()>0">
                    (
                    <foreach collection="rightFuzzyYear"  separator="or" item="item">
                        `Year` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="materialTypeList != null">
                        `material_type` in
                        <foreach collection="materialTypeList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyMaterialType!=null and fuzzyMaterialType.size()>0">
                    (
                    <foreach collection="fuzzyMaterialType"  separator="or" item="item">
                        `Material_type` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyMaterialType!=null and rightFuzzyMaterialType.size()>0">
                    (
                    <foreach collection="rightFuzzyMaterialType"  separator="or" item="item">
                        `Material_type` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        `id`,
        `amount_target`,
        `type`,
        `year`,
        `material_type`,
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof com.gamc.efactory.model.dataObject.StorageTarget$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.id==true">
                        `id`,
                    </if>
                    <if test="fetchFields.fetchFields.amountTarget==true">
                        `amount_target`,
                    </if>
                    <if test="fetchFields.fetchFields.type==true">
                        `type`,
                    </if>
                    <if test="fetchFields.fetchFields.year==true">
                        `year`,
                    </if>
                    <if test="fetchFields.fetchFields.materialType==true">
                        `material_type`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.id==null">
                        `id`,
                    </if>
                    <if test="fetchFields.excludeFields.amountTarget==null">
                        `amount_target`,
                    </if>
                    <if test="fetchFields.excludeFields.type==null">
                        `type`,
                    </if>
                    <if test="fetchFields.excludeFields.year==null">
                        `year`,
                    </if>
                    <if test="fetchFields.excludeFields.materialType==null">
                        `material_type`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof com.gamc.efactory.model.dataObject.StorageTarget$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>


</mapper>