<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamc.efactory.dao.base.WarehousingReasonBaseMapper">


    <insert id="insertWarehousingReason" >
        INSERT INTO `wms_warehousing_reason`
        (
        <trim suffixOverrides=",">
                    <if test="warehousingReasonId!=null">
                        `warehousing_reason_id`,
                    </if>
                    <if test="warehousingReasonCode!=null">
                        `warehousing_reason_code`,
                    </if>
                    <if test="warehousingReasonDescription!=null">
                        `warehousing_reason_description`,
                    </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
                <if test="warehousingReasonId!=null">
                    #{warehousingReasonId},
                </if>
                <if test="warehousingReasonCode!=null">
                    #{warehousingReasonCode},
                </if>
                <if test="warehousingReasonDescription!=null">
                    #{warehousingReasonDescription},
                </if>
        </trim>
        )
    </insert>




    <update id="updateWarehousingReason">
        UPDATE `wms_warehousing_reason`
        SET
        <trim suffixOverrides=",">
            <if test="warehousingReasonCode != null and warehousingReasonCode!=''">
                `warehousing_reason_code` = #{warehousingReasonCode},
            </if>
            <if test="warehousingReasonDescription != null and warehousingReasonDescription!=''">
                `warehousing_reason_description` = #{warehousingReasonDescription},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
                `warehousing_reason_id` = #{warehousingReasonId} and
        </trim>
    </update>

    <update id="update">
        UPDATE `wms_warehousing_reason`
        SET
        <trim suffixOverrides=",">
        <if test="set.warehousingReasonCode != null and set.warehousingReasonCode!=''">
            `warehousing_reason_code` = #{set.warehousingReasonCode},
        </if>
        <if test="set.warehousingReasonDescription != null and set.warehousingReasonDescription!=''">
            `warehousing_reason_description` = #{set.warehousingReasonDescription},
        </if>
        </trim>
        <trim prefix="where" suffixOverrides="and | or">
                <if test="where.warehousingReasonIdList != null">
                    `warehousing_reason_id` in
                    <foreach collection="where.warehousingReasonIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.warehousingReasonIdSt !=null">
                `warehousing_reason_id` >= #{where.warehousingReasonIdSt} and
            </if>
            <if test="where.warehousingReasonIdEd!=null">
                `warehousing_reason_id` &lt;= #{where.warehousingReasonIdEd} and
            </if>
                <if test="where.warehousingReasonCodeList != null">
                    `warehousing_reason_code` in
                    <foreach collection="where.warehousingReasonCodeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyWarehousingReasonCode!=null and where.fuzzyWarehousingReasonCode.size()>0">
                (
                <foreach collection="where.fuzzyWarehousingReasonCode"  separator="or" item="item">
                    `Warehousing_reason_code` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyWarehousingReasonCode!=null and where.rightFuzzyWarehousingReasonCode.size()>0">
                (
                <foreach collection="where.rightFuzzyWarehousingReasonCode"  separator="or" item="item">
                    `Warehousing_reason_code` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.warehousingReasonDescriptionList != null">
                    `warehousing_reason_description` in
                    <foreach collection="where.warehousingReasonDescriptionList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyWarehousingReasonDescription!=null and where.fuzzyWarehousingReasonDescription.size()>0">
                (
                <foreach collection="where.fuzzyWarehousingReasonDescription"  separator="or" item="item">
                    `Warehousing_reason_description` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyWarehousingReasonDescription!=null and where.rightFuzzyWarehousingReasonDescription.size()>0">
                (
                <foreach collection="where.rightFuzzyWarehousingReasonDescription"  separator="or" item="item">
                    `Warehousing_reason_description` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
        </trim>
    </update>


    <resultMap type="com.gamc.efactory.model.dataObject.WarehousingReason" id="WarehousingReasonMap">
        <result property="warehousingReasonId" column="warehousing_reason_id"/>
        <result property="warehousingReasonCode" column="warehousing_reason_code"/>
        <result property="warehousingReasonDescription" column="warehousing_reason_description"/>
    </resultMap>


    <select id="queryWarehousingReason" resultMap="WarehousingReasonMap">
        select
        <include refid="baseResult"></include>
        from  `wms_warehousing_reason`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="warehousingReasonId != null">
                `warehousing_reason_id` = #{warehousingReasonId} and
            </if>
            <if test="warehousingReasonCode != null and warehousingReasonCode!=''">
                `warehousing_reason_code` = #{warehousingReasonCode} and
            </if>
            <if test="warehousingReasonDescription != null and warehousingReasonDescription!=''">
                `warehousing_reason_description` = #{warehousingReasonDescription} and
            </if>
            <if test = "(_parameter instanceof com.gamc.efactory.model.dataObject.WarehousingReason$QueryBuilder) == true">
                <if test="warehousingReasonIdList != null">
                    `warehousing_reason_id` in
                    <foreach collection="warehousingReasonIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="warehousingReasonIdSt !=null">
                    `warehousing_reason_id` >= #{warehousingReasonIdSt} and
                </if>
                <if test="warehousingReasonIdEd!=null">
                    `warehousing_reason_id` &lt;= #{warehousingReasonIdEd} and
                </if>
                <if test="warehousingReasonCodeList != null">
                    `warehousing_reason_code` in
                    <foreach collection="warehousingReasonCodeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyWarehousingReasonCode!=null and fuzzyWarehousingReasonCode.size()>0">
                    (
                    <foreach collection="fuzzyWarehousingReasonCode"  separator="or" item="item">
                        `Warehousing_reason_code` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyWarehousingReasonCode!=null and rightFuzzyWarehousingReasonCode.size()>0">
                    (
                    <foreach collection="rightFuzzyWarehousingReasonCode"  separator="or" item="item">
                        `Warehousing_reason_code` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="warehousingReasonDescriptionList != null">
                    `warehousing_reason_description` in
                    <foreach collection="warehousingReasonDescriptionList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyWarehousingReasonDescription!=null and fuzzyWarehousingReasonDescription.size()>0">
                    (
                    <foreach collection="fuzzyWarehousingReasonDescription"  separator="or" item="item">
                        `Warehousing_reason_description` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyWarehousingReasonDescription!=null and rightFuzzyWarehousingReasonDescription.size()>0">
                    (
                    <foreach collection="rightFuzzyWarehousingReasonDescription"  separator="or" item="item">
                        `Warehousing_reason_description` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
    </select>

    <select id="queryWarehousingReasonLimit1" resultMap="WarehousingReasonMap">
        select
        <include refid="baseResult"></include>
        from  `wms_warehousing_reason`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="warehousingReasonId != null">
                `warehousing_reason_id` = #{warehousingReasonId} and
            </if>
            <if test="warehousingReasonCode != null and warehousingReasonCode!=''">
                `warehousing_reason_code` = #{warehousingReasonCode} and
            </if>
            <if test="warehousingReasonDescription != null and warehousingReasonDescription!=''">
                `warehousing_reason_description` = #{warehousingReasonDescription} and
            </if>
            <if test = "(_parameter instanceof com.gamc.efactory.model.dataObject.WarehousingReason$QueryBuilder) == true">
                    <if test="warehousingReasonIdList != null">
                        `warehousing_reason_id` in
                        <foreach collection="warehousingReasonIdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="warehousingReasonIdSt !=null">
                    `warehousing_reason_id` >= #{warehousingReasonIdSt} and
                </if>
                <if test="warehousingReasonIdEd!=null">
                    `warehousing_reason_id` &lt;= #{warehousingReasonIdEd} and
                </if>
                    <if test="warehousingReasonCodeList != null">
                        `warehousing_reason_code` in
                        <foreach collection="warehousingReasonCodeList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyWarehousingReasonCode!=null and fuzzyWarehousingReasonCode.size()>0">
                    (
                    <foreach collection="fuzzyWarehousingReasonCode"  separator="or" item="item">
                        `Warehousing_reason_code` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyWarehousingReasonCode!=null and rightFuzzyWarehousingReasonCode.size()>0">
                    (
                    <foreach collection="rightFuzzyWarehousingReasonCode"  separator="or" item="item">
                        `Warehousing_reason_code` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="warehousingReasonDescriptionList != null">
                        `warehousing_reason_description` in
                        <foreach collection="warehousingReasonDescriptionList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyWarehousingReasonDescription!=null and fuzzyWarehousingReasonDescription.size()>0">
                    (
                    <foreach collection="fuzzyWarehousingReasonDescription"  separator="or" item="item">
                        `Warehousing_reason_description` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyWarehousingReasonDescription!=null and rightFuzzyWarehousingReasonDescription.size()>0">
                    (
                    <foreach collection="rightFuzzyWarehousingReasonDescription"  separator="or" item="item">
                        `Warehousing_reason_description` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        `warehousing_reason_id`,
        `warehousing_reason_code`,
        `warehousing_reason_description`,
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof com.gamc.efactory.model.dataObject.WarehousingReason$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.warehousingReasonId==true">
                        `warehousing_reason_id`,
                    </if>
                    <if test="fetchFields.fetchFields.warehousingReasonCode==true">
                        `warehousing_reason_code`,
                    </if>
                    <if test="fetchFields.fetchFields.warehousingReasonDescription==true">
                        `warehousing_reason_description`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.warehousingReasonId==null">
                        `warehousing_reason_id`,
                    </if>
                    <if test="fetchFields.excludeFields.warehousingReasonCode==null">
                        `warehousing_reason_code`,
                    </if>
                    <if test="fetchFields.excludeFields.warehousingReasonDescription==null">
                        `warehousing_reason_description`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof com.gamc.efactory.model.dataObject.WarehousingReason$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>


</mapper>