label{
    margin: 1%;
    width: 120px;
}
.easyui-datebox{
    width: 12%;
    margin: 1%;
}
.easyui-combobox{
    width: 12%;
    margin: 1%;
}
.easyui-numberspinner{
    width: 12%;
    margin: 1%;
}
.easyui-slider{
    width: 120px;
    height: 10px;
    margin: 1%;
}
/*.easyui-linkbutton{*/
    /*width: 100%;*/
    /*margin: 1%;*/
/*}*/
.easyui-spinner{
    width: 12%;
    margin: 1%;
}
td{
    width: 80px;
    margin: 1%;
}
.mqmscharts{
    width: 98%;
    height: 50%;
    margin-top: 1%;
    background-color: whitesmoke;
}
.select-area{
    width: 98%;
    height: 8%;
    background-color: whitesmoke;
    margin-bottom: 1%;
    padding-top: 1%;
}
.charts-area{
    width: 100%;
    height: 90%;
}
#slideTest1{
    width: 105px;
    display: inline-block;
}
body{
    width: 100%;
    height: 100%;
}
html{
    height: 100%;
}