<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>单机型市场品质数据</title>
    <link rel="stylesheet" type="text/css" href="${req.contextPath}/static/css/charts_eng_single_analysis.css">
    <link rel="stylesheet" type="text/css" href="${req.contextPath}/static/plugin/jquery-easyui-1.5.5.4/themes/gray/easyui.css">
    <link rel="stylesheet" type="text/css" href="${req.contextPath}/static/plugin/jquery-easyui-1.5.5.4/themes/icon.css">
    <script type="text/javascript" src="${req.contextPath}/static/plugin/jquery-easyui-1.5.5.4/jquery.min.js"></script>
    <script type="text/javascript" src="${req.contextPath}/static/plugin/jquery-easyui-1.5.5.4/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="${req.contextPath}/static/plugin/jquery-easyui-1.5.5.4/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="${req.contextPath}/static/echart/echarts.js"></script>
</head>
<body>
<div title="选择区" data-options="region:'north',split:false,border:false" class="select-area">
    <label for="yearAndMonth">起始月份</label><input id="yearAndMonth" class="easyui-datebox">
    <label for="timeSpan">时间跨度/月</label><input id="timeSpan" class="easyui-numberspinner" value="12">
    <label for="engType">机型</label><input id="engType" class="easyui-combobox liselectoptions">
    <a id="asy" href="javascript:analysis()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">分析</a>
</div>

<div title="图表区" data-options="region:'south',split:false,border:false" class="charts-area">
    <div title="变速箱类型分布" id="charts_1" class="mqmscharts"></div>
    <div title="售出时间分布" id="charts_2" class="mqmscharts"></div>

    <div title="索赔金额推移图" id="charts_3" class="mqmscharts"></div>
    <div title="top10课题" id="charts_4" class="mqmscharts"></div>
    <div title="索赔发动机推移" id="charts_5" class="mqmscharts"></div>
</div>
<script>
    var charts_1;
    var charts_2;
    var charts_3;
    var charts_4;
    var charts_5;

    //初始化选择区域
    $(function () {
        //多选框
        $('#engType').combobox({
            url:'/mqms/engType/listInArray',
            textField:'engType',
            valueField:'engType',
        })

        //年月选择控件
        $('#yearAndMonth').datebox({
            onShowPanel: function () {// 显示日趋选择对象后再触发弹出月份层的事件，初始化时没有生成月份层
                span.trigger('click'); // 触发click事件弹出月份层
                if (!tds)
                    setTimeout(function () {// 延时触发获取月份对象，因为上面的事件触发和对象生成有时间间隔
                        tds = p.find('div.calendar-menu-month-inner td');
                        tds.click(function (e) {
                            e.stopPropagation(); // 禁止冒泡执行easyui给月份绑定的事件
                            var year = /\d{4}/.exec(span.html())[0]// 得到年份
                                , month = parseInt($(this).attr('abbr'), 10) + 1; // 月份
                            $('#yearAndMonth').datebox('hidePanel')// 隐藏日期对象
                                .datebox('setValue', year + '-' + month); // 设置日期的值
                        });
                    }, 0);
            },
            parser: function (s) {// 配置parser，返回选择的日期
                if (!s)
                    return new Date();
                var arr = s.split('-');
                return new Date(parseInt(arr[0], 10), parseInt(arr[1], 10) - 1, 1);
            },
            formatter: function (d) {
                var month = d.getMonth();
                if (month < 10) {
                    month = "0" + month;
                }
                if (d.getMonth() == 0) {
                    return d.getFullYear() - 1 + '-' + 12;
                } else {
                    return d.getFullYear() + '-' + month;
                }
            }// 配置formatter，只返回年月
        });
        var p = $('#yearAndMonth').datebox('panel'), // 日期选择对象
            tds = false, // 日期选择对象中月份
            span = p.find('span.calendar-text'); // 显示月份层的触发控件
        //初始化年月选择器
        var date = new Date();
        var stryear = date.getFullYear();
        var strmonth = date.getMonth() + 2;
        var strYM = stryear + '-' + (strmonth.toString().length < 2 ? '0' + strmonth : strmonth);
        $('#yearAndMonth').datebox('setValue', strYM);

        $('#yearAndMonth_top10').datebox({
            onShowPanel: function () {// 显示日趋选择对象后再触发弹出月份层的事件，初始化时没有生成月份层
                span.trigger('click'); // 触发click事件弹出月份层
                if (!tds)
                    setTimeout(function () {// 延时触发获取月份对象，因为上面的事件触发和对象生成有时间间隔
                        tds = p.find('div.calendar-menu-month-inner td');
                        tds.click(function (e) {
                            e.stopPropagation(); // 禁止冒泡执行easyui给月份绑定的事件
                            var year = /\d{4}/.exec(span.html())[0]// 得到年份
                                , month = parseInt($(this).attr('abbr'), 10) + 1; // 月份
                            $('#yearAndMonth_top10').datebox('hidePanel')// 隐藏日期对象
                                .datebox('setValue', year + '-' + month); // 设置日期的值
                        });
                    }, 0);
            },
            parser: function (s) {// 配置parser，返回选择的日期
                if (!s)
                    return new Date();
                var arr = s.split('-');
                return new Date(parseInt(arr[0], 10), parseInt(arr[1], 10) - 1, 1);
            },
            formatter: function (d) {
                var month = d.getMonth();
                if (month < 10) {
                    month = "0" + month;
                }
                if (d.getMonth() == 0) {
                    return d.getFullYear() - 1 + '-' + 12;
                } else {
                    return d.getFullYear() + '-' + month;
                }
            }// 配置formatter，只返回年月
        });
        var p = $('#yearAndMonth').datebox('panel'), // 日期选择对象
            tds = false, // 日期选择对象中月份
            span = p.find('span.calendar-text'); // 显示月份层的触发控件
        //初始化年月选择器
        var date = new Date();
        var stryear = date.getFullYear();
        var strmonth = date.getMonth() + 2;
        var strYM = stryear + '-' + (strmonth.toString().length < 2 ? '0' + strmonth : strmonth);
        $('#yearAndMonth').datebox('setValue', strYM);
    })

    //初始化绘图区
    $(function () {
        charts_1 = echarts.init(document.getElementById('charts_1'));
        charts_2 = echarts.init(document.getElementById('charts_2'));
        charts_3 = echarts.init(document.getElementById('charts_3'));
        charts_4 = echarts.init(document.getElementById('charts_4'));
        charts_5 = echarts.init(document.getElementById('charts_5'));
    })

    function analysis() {
        $.ajax({
            url:'/mqms/charts/eng/tranPie?engType=' + $('#engType').combobox('getValue'),
            success:function (result) {
                var option_1 = {
                    title: {
                        text: '变速箱类型',
                        subtext: '祺盛动力',
                        left: 'center'
                    },
                    toolbox: {
                        feature: {
                            dataView: {show: true, readOnly: false},
                            restore:{show:true},
                            magicType: {type: ['bar']},
                            saveAsImage:{show:true}
                        }
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: '{a} <br/>{b} : {c} ({d}%)'
                    },
                    legend: {
                        type: 'scroll',
                        orient: 'vertical',
                        right: 10,
                        top: 20,
                        bottom: 20
                    },
                    dataset:{
                        source:result
                    },
                    series: [
                        {
                            name: '机型',
                            type: 'pie',
                            radius: '55%',
                            center: ['40%', '50%'],
                            label: {
                                formatter: '{b}:\n {c} \n({d}%)',
                                color: '#000000',
                            },
                            emphasis: {
                                itemStyle: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };
                charts_1.setOption(option_1);
            }
        })


        $.ajax({
            url: '/mqms/charts/eng/salesFailureTime?engType=' + $('#engType').combobox('getValue') + "&yearAndMonth=" + $('#yearAndMonth').datebox('getValue'),
            success: function (result) {
                var option_2 = {
                    title: {
                        text: '售出时间分布（滚轮缩放)',
                        subtext: '祺盛动力'
                    },
                    toolbox: {
                        feature: {
                            dataView: {show: true, readOnly: false},
                            restore:{show:true},
                            magicType: {type: ['bar']},
                            saveAsImage:{show:true}
                        }
                    },
                    legend: {},
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            crossStyle: {
                                color: '#999'
                            }
                        }
                    },
                    dataset: {
                        source: result
//                            [['售出时间', '0-6月', '7-12月', '13-24月', '25-36月', '36月+'],
//                            ['台数', 4, 3, 6, 5, 8]]
                    },
                    xAxis: [
                        {
                            type: 'category',
                            axisPointer: {
                                type: 'shadow'
                            }

                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            min: 0,
                            axisLabel: {
                                formatter: '{value} '
                            }
                        }
                    ],
                    series: [{
                        type: 'bar', seriesLayoutBy: 'row', itemStyle: {
                            normal: {
                                color: '#4d4bff',
                                label: {
                                    show: true
                                }
                            }
                        }
                    }]
                };
                charts_2.setOption(option_2);
            }
        })


        $.ajax({
            url:"/mqms/charts/engineFailureRateMutil?yearAndMonth=" + $('#yearAndMonth').datebox('getValue') + "&timeSpan=" + $('#timeSpan').numberspinner('getValue') + "&engType="+ $('#engType').combobox('getValue'),
            success:function (result) {
//        var condition = $("#condition").combobox("getValues");
                var condition = ['6个月', '12个月', '24个月', '36个月']

                //添加相当于机型数量的折线
                var series = [];
                for (var i = 0; i < condition.length; i++) {
                    var line = {type: 'line', seriesLayoutBy: 'row', itemStyle: {normal: {label: {show: true}}}};
                    series.push(line)
                }

                var option_3 = {
                    title: {
                        text: '不良推移图',
                        subtext: '祺盛动力'
                    },
                    toolbox: {
                        feature: {
                            dataView: {show: true, readOnly: false},
                            restore:{show:true},
                            magicType: {type: ['bar']},
                            saveAsImage:{show:true}
                        }
                    },
                    legend: {},
                    tooltip: {
                        trigger: 'axis',
                        showContent: false
                    },
                    dataset: {
                        source: result
                    },
                    xAxis: {type: 'category'
                    },
                    yAxis: {
                        type: 'value',
                        gridIndex: 0
                    },
                    series: series
                };

                charts_3.setOption(option_3)
            }
        })

        $.ajax({
            url: '/mqms/charts/eng/failureTop10?engType=' + $('#engType').combobox('getValue'),
            success: function (result) {
                var option_4 = {
                    title: {
                        text: 'TOP10课题',
                        subtext: '祺盛动力'
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            crossStyle: {
                                color: '#999'
                            }
                        }
                    },
                    toolbox: {
                        feature: {
                            dataView: {show: true, readOnly: false},
                            restore:{show:true},
                            magicType: {type: ['bar']},
                            saveAsImage:{show:true}
                        }
                    },
                    legend: {},
                    dataset:{
                        source: result
                    },
                    xAxis: [
                        {
                            type: 'category',
                            axisPointer: {
                                type: 'shadow'
                            },
                            axisLabel: {//解决显示不全自动隐藏问题，倾斜
                                interval:0,
                                rotate:40
                            }
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: '汇总',
                            min: 0,
                            axisLabel: {
                                formatter: '{value} '
                            }
                        },
                        {
                            type: 'value',
                            name: '累计不良率',
                            min: 0,
                            max: 100,
                            interval: 20,
                            axisLabel: {
                                formatter: '{value} %'
                            }
                        }
                    ],
                    series: [
                        {type: 'bar', seriesLayoutBy: 'row',itemStyle: { normal: {color:'#4d4bff',label: {show: true}}}},
                        {type: 'line', seriesLayoutBy: 'row',itemStyle: { normal: {label: {color:'#ff332e',show: true}}}}
                    ]
                };

                charts_4.setOption(option_4);
            }
        })


        $.ajax({
            url: '/mqms/charts/eng/reportedFailure?engType=' + $('#engType').combobox('getValue') + "&timeSpan=" + $('#timeSpan').numberspinner('getValue') + "&yearAndMonth=" + $('#yearAndMonth').datebox('getValue'),
            success: function (result) {
                var option_5 = {
                    title: {
                        text: '索赔发动机推移',
                        subtext: '祺盛动力'
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            crossStyle: {
                                color: '#999'
                            }
                        }
                    },
                    toolbox: {
                        feature: {
                            dataView: {show: true, readOnly: false},
                            restore:{show:true},
                            magicType: {type: ['bar']},
                            saveAsImage:{show:true}
                        }
                    },
                    legend: {},
                    dataset: {
                        source:result
//                          [
//                            ['月份', '01', '02', '03', '04', '05', '06'],
//                            ['台数', 4, 3, 6, 5, 8, 9]
//                        ]
                    },
                    xAxis: [
                        {
                            type: 'category',
                            axisPointer: {
                                type: 'shadow'
                            }
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: '汇总',
                            min: 0,
                            axisLabel: {
                                formatter: '{value} '
                            }
                        }
                    ],
                    series: [{
                        type: 'bar', seriesLayoutBy: 'row', itemStyle: {
                            normal: {
                                color: '#4d4bff',
                                label: {
                                    show: true
                                }
                            }
                        }
                    }]
                };

                charts_5.setOption(option_5)
            }
        })

    }


</script>

</body>
</html>