<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>变速箱厂家解码表</title>
    <link rel="stylesheet" type="text/css" href="${req.contextPath}/static/plugin/jquery-easyui-1.5.5.4/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="${req.contextPath}/static/plugin/jquery-easyui-1.5.5.4/themes/icon.css">
    <script type="text/javascript" src="${req.contextPath}/static/plugin/jquery-easyui-1.5.5.4/jquery.min.js"></script>
    <script type="text/javascript" src="${req.contextPath}/static/plugin/jquery-easyui-1.5.5.4/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="${req.contextPath}/static/plugin/jquery-easyui-1.5.5.4/locale/easyui-lang-zh_CN.js"></script>
    <style type="text/css">
        html { overflow-y:hidden; }
        td{
            padding: 5px;
        }
        .easyui-textbox{
            width: 135px;
        }
        .easyui-combobox{
            width: 135px;
        }
    </style>
    <script type="text/javascript">
        var system = "mqms";
        var module = "decode";
        var moduleDesc = "变速箱厂家"
        $(function () {

            //列表展示
            $("#transManuDecode").datagrid({
                url:"/" + system + "/" + module + "/transManu",
//                sortOrder:"ASC",
                method:"GET",

                title: moduleDesc + "解码"
            })

        })
        function reviseDecodeInfor() {
            var selectedRows = $('#transManuDecode').datagrid('getSelections');
            if(selectedRows.length==0){
                $.messager.alert("系统提示","请选择一行");
                return;
            }
            else if (selectedRows.length>1){
                $.messager.alert("系统提示","请选择一行");
                return;
            }

            var data;
            for(var i=0;i<selectedRows.length;i++) {
                data=selectedRows[i];
//                console.log(data);
            }
            setFromValues($('#selectionInfor'),data);
            $('#reviseInfor').dialog("open", true);
        }
        //        同列名自动复制
        function setFromValues(el, data)
        {
            for (var p in data)
            {
                el.find(":input[name='" + p + "']").val(data[p]);
            }
        }
        function cancelDialog() {
            $('#reviseInfor').dialog("close", true);
        }
        function  saveInfor() {
            $('#selectionInfor').form("submit",{
                type: 'post',
                url: '/mqms/decode/transManuRevise',
                onSubmit : function() {
                    //表单验证
                    return $(this).form("validate");
                },
                success : function(data) {
                    if (data == '数据操作成功') {
                        $.messager.alert("系统提示",'操作已成功');
                        //关闭DIALOG并刷新页面
                        cancelDialog();
                        $("#transManuDecode").datagrid('reload');
                    } else {
                        $.messager.alert("系统提示",'操作失败,请重新提交');
                    }

                }
            });
        }
        function  addDecodeInfor() {
            document.getElementById('idReadOnly').value="默认值";
            $('#reviseInfor').dialog("open", true);
        }
        function deleteDecodeInfor(){
            var selectedRows = $('#transManuDecode').datagrid('getSelections');
            if(selectedRows.length==0){
                $.messager.alert("系统提示","请选择至少一行");
                return;
            }
            var data=[];
            for(var i=0;i<selectedRows.length;i++) {
                data.push(selectedRows[i]['id']);
            }
            $.ajax({
                type: 'post',
                url: '/mqms/decode/transManuDelete',
                data: {ids:data},
                traditional:true,
                success : function(data) {
                    if (data == '数据删除成功') {
                        $.messager.alert("系统提示",'操作已成功');
                        //关闭DIALOG并刷新页面
                        cancelDialog();
                        $("#transManuDecode").datagrid('reload');
                    } else {
                        $.messager.alert("系统提示",'操作失败,请重新提交');
                    }

                }
            })
        }
    </script>
</head>
<body style="overflow-y: hidden">
<div id="tb1" class="select-area">
    <!--<div>-->
        <!--<label>变速箱厂家代码</label><input id="tranManufactureModel" class="easyui-combobox">-->
        <!--<label>变速箱厂家</label><input id="tranManufacture" class="easyui-combobox" >-->
    <!--</div>-->
    <div>
        <a href="javascript:addDecodeInfor()" class="easyui-linkbutton" iconCls="icon-add" plain="true">增加</a>
        <a href="javascript:deleteDecodeInfor()" class="easyui-linkbutton" iconCls="icon-remove" plain="true" >删除</a>
        <a href="javascript:reviseDecodeInfor()" class="easyui-linkbutton" iconCls="icon-edit" plain="true" >修改</a>
        <!--<a href="javascript:querryDecodeInfor()" class="easyui-linkbutton" iconCls="icon-save" plain="true" >查询</a>-->
        <!--<a href="javascript:refreshDecodeInfor()" class="easyui-linkbutton" iconCls="icon-reload" plain="true" >刷新</a>-->
    </div>
</div>

<table id="transManuDecode" title="变速箱厂家解码" class="easyui-datagrid" fitColumns="false"
       pagination="true" rownumbers="true" fit="true" toolbar="#tb" method="GET">
    <thead>
    <tr>
        <th field="id" align="center">ID</th>
        <th field="tran_manufacture_model" align="center">变速箱厂家代码</th>
        <th field="tran_manufacture" align="center">变速箱厂家</th>
    </tr>
    </thead>
</table>
<div id="reviseInfor" title="变速箱厂家信息修改" class="easyui-dialog" closed="true">
    <form id="selectionInfor">
        <label>ID:</label><input id="idReadOnly" name="id" style="width:50px;" readonly="true" >
        <label>变速箱厂家代码:</label><input name="tran_manufacture_model" style="width:200px;" onkeydown="if(event.keyCode==13)saveInfor()">
        <label>变速箱厂家:</label><input name="tran_manufacture"  onkeydown="if(event.keyCode==13)saveInfor()">
        <a href="javascript:saveInfor()" class="easyui-linkbutton" iconCls="icon-save" plain="true" >保存</a>
        <a href="javascript:cancelDialog()" class="easyui-linkbutton" iconCls="icon-cancel" plain="true">取消</a>
    </form>
    <!--看使用习惯，功能键放在下面还是后面好呢-->
    <!--<div class="select-area" align="center">-->
    <!--<a href="javascript:saveInfor()" class="easyui-linkbutton" iconCls="icon-save" plain="true">保存</a>-->
    <!--<a href="javascript:cancelDialog()" class="easyui-linkbutton" iconCls="icon-cancel" plain="true">取消</a>-->
    <!--</div>-->
</div>

</body>
</html>