<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>变速箱年份解码表</title>
    <link rel="stylesheet" type="text/css" href="${req.contextPath}/static/plugin/jquery-easyui-1.5.5.4/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="${req.contextPath}/static/plugin/jquery-easyui-1.5.5.4/themes/icon.css">
    <script type="text/javascript" src="${req.contextPath}/static/plugin/jquery-easyui-1.5.5.4/jquery.min.js"></script>
    <script type="text/javascript" src="${req.contextPath}/static/plugin/jquery-easyui-1.5.5.4/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="${req.contextPath}/static/plugin/jquery-easyui-1.5.5.4/locale/easyui-lang-zh_CN.js"></script>
    <style type="text/css">
        html { overflow-y:hidden; }
        td{
            padding: 5px;
        }
        .easyui-textbox{
            width: 135px;
        }
        .easyui-combobox{
            width: 135px;
        }
    </style>
    <script type="text/javascript">
        var system = "mqms";
        var module = "decode";
        var moduleDesc = "变速箱年份"
        $(function () {

            //列表展示
            $("#transYearDecode").datagrid({
                url:"/" + system + "/" + module + "/transYear",
//                sortOrder:"ASC",
                method:"GET",

                title: moduleDesc + "解码"
            })

        })
    </script>
</head>
<body style="overflow-y: hidden">

<table id="transYearDecode" title="变速箱年份解码" class="easyui-datagrid" fitColumns="false"
       pagination="true" rownumbers="true" fit="true" toolbar="#tb" method="GET">
    <thead>
    <tr>
        <th field="id" align="center">ID</th>
        <th field="tran_pro_year_code" align="center">变速箱年份代码</th>
        <th field="tran_pro_year" align="center">变速箱生产年份</th>
    </tr>
    </thead>
</table>


</body>
</html>