<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="${req.contextPath}/static/plugin/jquery-easyui-1.5.5.4/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="${req.contextPath}/static/plugin/jquery-easyui-1.5.5.4/themes/icon.css">
    <script type="text/javascript" src="${req.contextPath}/static/plugin/jquery-easyui-1.5.5.4/jquery.min.js"></script>
    <script type="text/javascript" src="${req.contextPath}/static/plugin/jquery-easyui-1.5.5.4/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="${req.contextPath}/static/plugin/jquery-easyui-1.5.5.4/locale/easyui-lang-zh_CN.js"></script>
    <style type="text/css">
        html { overflow-y:hidden; }
        td{
            padding: 5px;
        }
        .easyui-textbox{
            width: 135px;
        }
        .easyui-combobox{
            width: 135px;
        }
        .easyui-datebox{
            width: 135px;
        }
    </style>

<body style="overflow-y: hidden">
<div id="tb">
    <div>
        <a href="javascript:add()" class="easyui-linkbutton" iconCls="icon-add" >新增</a>
        <a href="javascript:remove()" class="easyui-linkbutton" iconCls="icon-remove" >撤回</a>
        <a href="javascript:openUploadDlg()" class="easyui-linkbutton">导入excel</a>
        <a href="javascript:downloadERPExcel()" class="easyui-linkbutton">导出ERP格式excel</a>
    </div>
    <div>
        <form id="excelForm" hidden="hidden">
            <input id="orderIdsExcel" name="orderIds">
        </form>
        <form id="searchForm">
            <table>
                <tr>
                    <td>调整订单号</td><td><input id="warehousingCode" name="warehousingCode" class="easyui-textbox"></td>
                    <td>申请人</td><td><input id="applierName" name="applierName" class="easyui-textbox"></td>
                    <td>申请日期</td><td><input id="applyTimeBegin" name="applyTimeBegin" class="easyui-datebox"></td>
                    <td>至</td><td><input id="applyTimeEnd" name="applyTimeEnd" class="easyui-datebox"></td>
                </tr>
                <tr>
                    <td>物料号</td><td><input id="materialCodeSearch" name="materialCode" class="easyui-textbox"></td>
                    <td>物料名称</td><td><input id="materialNameSearch" name="materialName" class="easyui-textbox"></td>
                    <td>规格</td><td><input id="materialSpecsSearch" name="materialSpecs" class="easyui-textbox"></td>
                    <td>状态</td><td><input id="warehousingInitialState" name="warehousingInitialState" class="easyui-combobox dict" valueField="dictValue" textField="dictText"></td>
                    <td ><a href="javascript:search()" class="easyui-linkbutton" iconCls="icon-search" >搜索</a></td>
                </tr>
            </table>
        </form>
    </div>
</div>

<table id="dg" title="出库信息" class="easyui-datagrid" fitColumns="false"
       pagination="true" rownumbers="true" fit="true" toolbar="#tb" method="GET">
    <thead frozen="true">
    <tr>
        <th field="cb" checkbox="true" align="center"></th>
    </tr>
    </thead>
    <thead>
    <tr>
        <th field="warehousingId" align="center">WMS系统编号</th>
        <th field="warehousingCode" align="center">调整订单号</th>
        <th field="warehousingLineCode" align="center">调整订单号行号</th>
        <th field="warehousingReasonCode" align="center">调整原因</th>
        <th field="warehousingReasonDescription" align="center">调整原因描述</th>
        <th field="warehousingAffairsDate" align="center">事务处理日期</th>
        <th field="materialCode" align="center">物料编号</th>
        <th field="materialName" align="center">物料名称</th>
        <th field="materialUnit" align="center">单位</th>
        <th field="warehousingBatch" align="center">批次</th>
        <th field="warehousingSerie" align="center">序列号</th>
        <th field="warehouseCode" align="center">仓库代码</th>
        <th field="warehousingAffairsSymbol" align="center">事务处理标识</th>
        <th field="warehousingNum" align="center">数量</th>
        <th field="warehousingHeadText" align="center">头文本</th>
        <th field="warehousingLineText" align="center">行文本</th>
        <th field="warehousingInitialUserId" align="center">申请人</th>
        <th field="warehousingInitialTime" align="center">申请时间</th>
        <th field="warehousingInitialState" align="center">申请状态</th>
        <th field="warehousingId" align="center" hidden="hidden"></th>
    </tr>
    </thead>
</table>

<div id="dlg" name="dlg" class="easyui-dialog" title="新增出库" style="width: 800px;height: 600px" closed="true" buttons="#dlgbutton">
    <div id="dlgtb">
        <a href="javascript:append()" class="easyui-linkbutton" iconCls="icon-add" >新增</a>
        <a href="javascript:removeit()" class="easyui-linkbutton" iconCls="icon-remove" >删除</a>
    </div>
    <form id="fm" method="post">
        <table>
            <tr>
                <td>费用中心</td><td><input id="financialCenterCode" name="financialCenterCode" class="easyui-combobox" valueField="dictValue" textField="dictText" required="true"></td>
                <td>科资材管理员</td><td><input id="kzcbjgly" name="kzcbjgly" class="easyui-combobox orderChecker" valueField="orderCheckerUserId" textField="orderCheckerUserName" required="true"></td>
                <td>系长</td><td><input id="xz" name="xz" class="easyui-combobox orderChecker" valueField="orderCheckerUserId" textField="orderCheckerUserName" required="true"></td>
            </tr>
            <tr>
                <td>科预算员</td><td><input id="kysy" name="kysy" class="easyui-combobox orderChecker" valueField="orderCheckerUserId" textField="orderCheckerUserName" required="true"></td>
                <td>科长</td><td><input id="kz" name="kz" class="easyui-combobox orderChecker" valueField="orderCheckerUserId" textField="orderCheckerUserName" required="true"></td>
                <td>部长</td><td><input id="bz" name="bz" class="easyui-combobox orderChecker" valueField="orderCheckerUserId" textField="orderCheckerUserName" required="true"></td>
                <td>总监/总助/本部长</td><td><input id="zj" name="zj" class="easyui-combobox orderChecker" valueField="orderCheckerUserId" textField="orderCheckerUserName" required="true"></td>
            </tr>
            <tr hidden="hidden">
                <td colspan="5"><input id="warehousingInitialUserId" name="warehousingInitialUserId" style="width: 400px" value="<#if Session["userId"]?exists>${Session["userId"]}</#if>"></td>
                <td><input id="processChecker" name="processChecker"></td>
                <td><input id="conditions" name="conditions"></td>
                <td><input id="dataArray" name="dataArray"></td>
            </tr>

        </table>
        <table id="dlgdg" name="dlgdg" class="easyui-datagrid"
               data-options="
               toolbar: '#dlgtb',
               singleSelect: true,
               onClickCell: onClickCell
            ">
            <thead>
            <tr>
                <th data-options="field:'materialCode',width:135,editor:'materialbox'">物料编号</th>
                <th data-options="field:'materialName',width:135,editor:{type:'textbox',options:{required:true}}">物料名称</th>
                <th data-options="field:'materialSpecs',width:135,editor:{type:'textbox',options:{required:true}}">规格型号</th>
                <th data-options="field:'materialUnit',width:135,editor:{
                            type:'combobox',
                            options:{
                                valueField:'dictValue',
                                textField:'dictText',
                                url:'/wms/dict/listInArray?dictType1=materialUnit',
                                method:'get',
                                required:true,
                                }
                            }">计量单位</th>
                <th data-options="field:'warehousingNum',width:135,editor:{type:'numberbox',options:{required:true,precision:0,min:1}}">申请数量</th>
                <th data-options="field:'warehousingReasonCode',width:135,editor:'textbox'">出库原因代码</th>
                <th data-options="field:'warehousingDescription',width:270,editor:'textbox'">备注</th>
                <th data-options="field:'warehouseCode',width:135,editor:{
                            type:'combobox',
                            options:{
                                valueField:'dictValue',
                                textField:'dictText',
                                url:'/wms/dict/listInArray?dictType1=warehouseCode',
                                method:'get',
                                required:true,
                                editable:false
                                }
                            }">仓库编码</th>
            </tr>
            </thead>
        </table>
    </form>
</div>
<div id="dlgbutton">
    <a href="javascript:saveDlg()" class="easyui-linkbutton">保存</a>
    <a href="javascript:closeDlg()" class="easyui-linkbutton">关闭</a>
</div>

<div id="excelDlg" name="dlg" class="easyui-dialog" title="上传订单" style="width: 800px;height: 600px" closed="true" buttons="#excelDlgbutton">
    <form  method="post" enctype="multipart/form-data" id="excelForm" action="/wms/order/upload">
        <input type="file" name="file" id="file"/>
        <input type="submit" value="上传文件"/>
    </form>
</div>
<div id="excelDlgbutton">
    <a href="javascript:closeExcelDlg()" class="easyui-linkbutton">关闭</a>
</div>

<script type="text/javascript">
    var formUrl = "/wms/warehousing/out/batch/build";
    var editIndex = undefined;
    function endEditing(){
        if (editIndex == undefined){return true}
        if ($('#dlgdg').datagrid('validateRow', editIndex)){
            $('#dlgdg').datagrid('endEdit', editIndex);
            editIndex = undefined;
            return true;
        } else {
            return false;
        }
    }
    function onClickCell(index, field){
        if (editIndex != index){
            if (endEditing()){
                $('#dlgdg').datagrid('selectRow', index)
                        .datagrid('beginEdit', index);
                var ed = $('#dlgdg').datagrid('getEditor', {index:index,field:field});
                if (ed){
                    ($(ed.target).data('textbox') ? $(ed.target).textbox('textbox') : $(ed.target)).focus();
                }
                editIndex = index;
            } else {
                setTimeout(function(){
                    $('#dlgdg').datagrid('selectRow', editIndex);
                },0);
            }
        }
    }
    //    function onEndEdit(index, row){
    //        var ed = $(this).datagrid('getEditor', {
    //            index: index,
    //            field: 'productid'
    //        });
    //        row.productname = $(ed.target).combobox('getText');
    //    }
    function append(){
        if (endEditing()){
            $('#dlgdg').datagrid('appendRow',{status:'P'});
            editIndex = $('#dlgdg').datagrid('getRows').length-1;
            $('#dlgdg').datagrid('selectRow', editIndex)
                    .datagrid('beginEdit', editIndex);
        }
    }
    function removeit(){
        if (editIndex == undefined){return}
        $('#dlgdg').datagrid('cancelEdit', editIndex)
                .datagrid('deleteRow', editIndex);
        editIndex = undefined;
    }
    function acceptit(){
        if (endEditing()){
            $('#dlgdg').datagrid('acceptChanges');
        }
    }
    function reject(){
        $('#dlgdg').datagrid('rejectChanges');
        editIndex = undefined;
    }
    function getChanges(){
        var rows = $('#dlgdg').datagrid('getChanges');
        alert(rows.length+' rows are changed!');
    }

    $.extend($.fn.datagrid.defaults.editors, {
        materialbox: {
            init: function (container, options) {
                options['onSelect'] = function (record) {
                    //获取物料信息并赋值editor
                    var editor = $('#dlgdg').datagrid('getEditor', {index:editIndex,field:'materialName'}).target.textbox('setValue',record.materialName);
                    $('#dlgdg').datagrid('getEditor', {index:editIndex,field:'materialSpecs'}).target.textbox('setValue',record.materialSpecs);
                    $('#dlgdg').datagrid('getEditor', {index:editIndex,field:'materialUnit'}).target.textbox('setValue',record.materialUnit);
                    $('#dlgdg').datagrid('getEditor', {index:editIndex,field:'materialCode'}).target.combobox('hidePanel');
                    $($('#dlgdg').datagrid('getEditor', {index:editIndex,field:'orderMaterialNum'}).target).focus();

                    //判断是否是已签开口合同，如果已签开口合同则部分栏目不需要填
                    //资材：是否M开头
                    if(record.materialCode.charAt(0) == "M"){
                        $('#dlgdg').datagrid('getEditor', {index:editIndex,field:'materialBrand'}).target.textbox({disabled:true});
                        $('#dlgdg').datagrid('getEditor', {index:editIndex,field:'recommendedSupplierName'}).target.textbox({disabled:true});
                        $('#dlgdg').datagrid('getEditor', {index:editIndex,field:'prospectiveArrivalDate'}).target.textbox({disabled:true});
                        $('#dlgdg').datagrid('getEditor', {index:editIndex,field:'importantProjectCode'}).target.textbox({disabled:true});
                        $('#dlgdg').datagrid('getEditor', {index:editIndex,field:'extraOrderReason'}).target.textbox({disabled:true});
                        $('#dlgdg').datagrid('getEditor', {index:editIndex,field:'researchTestProject'}).target.textbox({disabled:true});
                        $('#dlgdg').datagrid('getEditor', {index:editIndex,field:'warehousingReasonCode'}).target.textbox({disabled:false});
                        $('#dlgdg').datagrid('getEditor', {index:editIndex,field:'warehouseCode'}).target.textbox({disabled:false});
                        $('#dlgdg').datagrid('getEditor', {index:editIndex,field:'warehouseSymbol'}).target.textbox({disabled:false});
                    }
                    else{
                        $('#dlgdg').datagrid('getEditor', {index:editIndex,field:'warehousingReasonCode'}).target.textbox({disabled:true});
                        $('#dlgdg').datagrid('getEditor', {index:editIndex,field:'warehouseCode'}).target.textbox({disabled:true});
                        $('#dlgdg').datagrid('getEditor', {index:editIndex,field:'warehouseSymbol'}).target.textbox({disabled:true});
                        $('#dlgdg').datagrid('getEditor', {index:editIndex,field:'materialBrand'}).target.textbox({disabled:false});
                        $('#dlgdg').datagrid('getEditor', {index:editIndex,field:'recommendedSupplierName'}).target.textbox({disabled:false});
                        $('#dlgdg').datagrid('getEditor', {index:editIndex,field:'prospectiveArrivalDate'}).target.textbox({disabled:false});
                        $('#dlgdg').datagrid('getEditor', {index:editIndex,field:'importantProjectCode'}).target.textbox({disabled:false});
                        $('#dlgdg').datagrid('getEditor', {index:editIndex,field:'extraOrderReason'}).target.textbox({disabled:false});
                        $('#dlgdg').datagrid('getEditor', {index:editIndex,field:'researchTestProject'}).target.textbox({disabled:false});
                    }
                }
                var input = $('<input type="text" class="datagrid-editable-input easyui-combobox" valueField="materialCode" textField="materialCode" groupField="supplierName">').appendTo(container).combobox(options);
                input.combobox('textbox').keyup(function (e) {
                    //显示下拉面板，下拉面板是模糊搜索结果
                    if (e.keyCode != 13 && input.combobox('getText').length>4) {
                        //获取当前操作的行，并给对应行赋值
                        input.combobox('reload','/wms/material/list/fuzzySearch?materialCode=' + input.combobox('getText'));
                        input.combobox('showPanel');
                    }
                })
                return input;
            },
            getValue: function (target) {
                return $(target).val()
            },
            setValue: function (target, value) {
                $(target).val(value)
            }
        }
    })
    function searchMaterial(){
        $.getJSON("/wms/material/listLimit1",{materialCode:$('#materialCode').textbox('getText')},function (result) {
            console.log(result);
            $('#materialName').textbox('setValue',result.materialName);
            $('#materialSpecs').textbox('setValue',result.materialSpecs);
            $('#supplierCode').textbox('setValue',result.supplierCode);
            $('#warehouseCode').textbox('setValue',result.warehouseCode);

            if(result.materialName == undefined){
                $.messager.confirm({
                    title:"系统提示",
                    msg:"物料不存在，是否是新增物料",
                    ok:"是",
                    cancel:"否",
                    fn:function (r) {
                        if (r){
                            //如果是新物料，则勾选新物料选项
                        }
                        else{
                            //如果用户确认不是新物料，则清空
                        }
                    }
                });
            }
        })
    }
    $(function () {
        //获取用户id
        $('#')
        $("#dg").datagrid({
            url:"/wms/warehousing/out/list",
            method:"GET",
        })
        $('.special_tr').hide();

        //选择框选项配置
        $(".easyui-combobox.dict").each(function (index, element) {
            console.log(element);
            $("#"+element.id).combobox({url:"/wms/dict/listInArray?dictType1="+$("#"+element.id).attr("comboname")});
        })

        //根据所选择的费用中心来选择
        $('#financialCenterCode').combobox({
            url:'/wms/financialCenter/listInArray',
            textField:'financialCenterName',
            valueField:'financialCenterCode',
            onSelect:function (record) {
                console.log(record);
                $('.orderChecker').each(function () {
                    $(this).combobox('reload','/wms/orderChecker/listInArray?financialCenterCode='+record.financialCenterCode+'&orderCheckerLevelName='+$(this).attr('id'))
                });
            }

        })
    })
    function add() {
        $('#dlg').dialog("open", "新增出库")
    }
    function saveDlg() {
        //保存dlgdg
        $('#dlgdg').datagrid("acceptChanges");
        //将dlgdg的数据转化成form里隐藏input里面的数据
        $('#dataArray').val(JSON.stringify($('#dlgdg').datagrid('getData').rows));
        //将人员选择框里面的人转化成processChecker,conditions
        var processChecker = {};
        var conditions = {};
        $('.orderChecker').each(function () {
            //符号“/”代表空
            if($(this).combobox('getValue') !="/"){
                processChecker[$(this).attr('id')] = parseInt($(this).combobox('getValue'));
                conditions[$(this).attr('id')] = "y";
            }
            else{
                conditions[$(this).attr('id')] = "n";
            }
        });
        $('#processChecker').val(JSON.stringify(processChecker));
        $('#conditions').val(JSON.stringify(conditions));

        $("#fm").form("submit", {
            url: formUrl,
            dataType: "json",
            onSubmit: function(){
                //验证逻辑：如果是新物料，则必须填写新物料类别，如果是已签开口合同物料，则基础选项都必须填，额外选项不必填，如果未签可口合同，则所有选项都必须填
                var isValid = $(this).form('validate');
                if (!isValid){
                    $.messager.alert('系统提示',"请填写必要信息");	// hide progress bar while the form is invalid
                }
                return isValid;	// return false will stop the form submission
            },
            success: function (result) {
                console.log(result);
                var result = JSON.parse(result);
                if (result.success != "true") {
                    $.messager.alert('系统提示', "<font color=red>" + result.errorMsg + "</font>");
                    return;
                } else {
                    $.messager.alert('系统提示', '保存成功');
                    $("#dg").datagrid("reload");
                    $("#dlg").dialog("close");
                    $("#fm").form("clear");
                }
            }
        })
    }
    function closeDlg() {
        $('#dlg').dialog('close');
    }
    function excelFileUpload() {
        //首先验证文件格式
        var fileName = $('#excelFile').val();
        if (fileName === '') {
            alert('请选择文件');
            return false;
        }
        var fileType = (fileName.substring(fileName
                        .lastIndexOf(".") + 1, fileName.length))
                .toLowerCase();
        if (fileType !== 'xls' && fileType !== 'xlxs') {
            alert('文件格式不正确，请上传bpmn文件！');
            return false;
        }
        alert('系统提示',"正在上传，上传完成后会有提示，请耐心等候");
        $("#excelForm").ajaxSubmit({
            url:"/",
            dataType:"json",
            success:function(data) {
                if (data.success == 'true') {
                    $.messager.alert("系统提示",'上传文件成功');
                } else {
                    $.messager.alert("系统提示",'上传文件失败');
                }
                return false;
            }
        });
        return false;
    }
    function closeExcelDlg() {
        $('#excelDlg').dialog('close');
    }
    function openUploadDlg(){
        $('#excelDlg').dialog('open','上传excel');
    }


    function search(){
        var url= "/wms/warehousing/out/list";
//            $("#searchForm").form("submit", {
//                url: url,
//                dataType: "json",
//                onSubmit: function () {
//                    return true
//                },
//                success: function (result) {
//                    var result = JSON.parse(result);
//                    $('#dg').datagrid('loadData', result);
//                }
//            })
        console.log($("#searchForm").serialize());
        $('#dg').datagrid({
            url:url+"?"+$("#searchForm").serialize(),

        })
//            $('#dg').datagrid('reload', $("#searchForm").serialize());
    }

    function downloadERPExcel() {
        //将选择的订单行号id全部发送到后台
        var selectedRows = $('#dg').datagrid('getSelections');
        if(selectedRows.length!=1){
            $.messager.alert("系统提示","请选择需要导出的订单行");
            return;
        }
        var orderIds=[];
        for(var i=0;i<selectedRows.length;i++){
            orderIds.push(selectedRows[i].orderId);//以列表中的哪个字段为索引
            if(selectedRows[i].orderInitialState !="审核完成"){
                orderIds=[];
                $.messager.alert("系统提示","只可导出审核完成的表单，请重新选择");
                return;
            }
        }
        var orderIdList = orderIds.join(",");
        console.log(excelForm);
        $('#orderIdsExcel').val(orderIdList);
        document.getElementById("excelForm").action = "/wms/warehousing/out/download/contract";
        document.getElementById("excelForm").submit();
    }

    function remove(){
        var selectedRows = $('#dg').datagrid('getSelections');
        var warehousingIds=[];
        for(var i=0;i<selectedRows.length;i++){
            if(selectedRows[i].warehousingInitialState!="待汇总" && selectedRows[i].warehousingInitialState!="已递交流程系统"){
                $.messager.alert("系统提示", "只能撤回待汇总或未审批完的申请");
                return;
            }
            warehousingIds.push(selectedRows[i].warehousingId);//以列表中的哪个字段为索引
        }
        var warehousingList = warehousingIds.join(",");
        $.ajax({
            url:"/wms/warehousing/out/batch/delete",
            method:"DELETE",
            data:{warehousingIds:warehousingList},
            dataType:"json",
            success:function(result){
                if(result.success == "true"){
                    $.messager.alert("系统提示", "撤回成功");
                    $("#dg").datagrid("reload")
                }
                else{
                    $.messager.alert("系统提示", result.errorMsg);
                    $("#dg").datagrid("reload")
                }
            }
        })
    }

    function closeEditDlg(){
        $('#fm').form('clear');
        $('#editdlg').dialog('close')
    }
</script>
</body>
</html>